{% macro requestinformation(requestinformation, title) %}
  <div class="labelText">{{ title }}:</div>
  <ul class="list">
    {% if requestinformation.httpGetRestful %}
    <li>
      <span class="labelText">GET Restful:</span>
      <span class="metaText">{{ requestinformation.httpGetRestful }}</span>
    </li>
    {% endif %}
    {% if requestinformation.httpGetKvp %}
    <li>
      <span class="labelText">GET KVP:</span>
      <span class="metaText">{{ requestinformation.httpGetKvp }}</span>
    </li>
    {% endif %}
    {% if requestinformation.httpPost %}
    <li>
      <span class="labelText">POST:</span>
      <span class="metaText">{{ requestinformation.httpPost }}</span>
    </li>
    {% endif %}
  </ul>
{% endmacro %}
