{% extends "MapbenderManagerBundle:Repository:source/view.html.twig" %}

{% block tab_headers %}
  {{ parent() }}
  <li id="tabMatrixsets" class="tab">{{"mb.wmts.wmtsloader.repo.view.label.matrixsets" | trans }}</li>
  {% if source.themes %}
    <li id="tabTheme" class="tab">{{"mb.wmts.wmtsloader.repo.view.label.theme" | trans }}</li>
  {% endif %}
{% endblock %}

{% block metadata_content %}
  {% include 'MapbenderWmtsBundle:Repository:source/view-metadata.html.twig' %}
{% endblock metadata_content %}
{% block details_content %}
  {% include 'MapbenderWmtsBundle:Repository:source/view-details.html.twig' %}
{% endblock %}
{% block layers_content %}
  {% for layer in source.layers %}
    {% include "MapbenderWmtsBundle:Repository:layer.html.twig" with {'layer': layer, 'itemLevel': 1 }%}
  {% endfor %}
{% endblock layers_content %}

{% block tab_containers %}
  {{ parent() }}
  <div id="containerMatrixsets" class="container serviceContainer serviceServiceContainer">
    {% for tilematrixset in source.tilematrixsets %}
      {% include "MapbenderWmtsBundle:Repository:tilematrixset.html.twig" with {'tilematrixset': tilematrixset }%}
    {% endfor %}
  </div>
  {% if source.themes %}
    <div id="containerTheme" class="container serviceContainer serviceServiceContainer">
      {% for theme in source.themes %}
        {% include "MapbenderWmtsBundle:Repository:theme.html.twig" with {'theme': theme, 'itemLevel': 1 }%}
      {% endfor %}
    </div>
  {% endif %}
{% endblock tab_containers %}
