.mb-element-printclient {
  overflow: visible;
  // Reduce vertical size of potentially very long form
  font-size: 11px;

  .button.active {
    background-color: #538e24;
  }
  .job-list {
    display: none;  // Will be overruled by inline style once jQueryUI tab widget takes over
    overflow-y: auto;
    table {
      td.interface {
        text-align: right;
        white-space: nowrap;
        .btn-group {
          vertical-align: inherit;
          .btn {
            float: none;
          }
        }
        .loading {
          margin-right: 0.25em;
        }
      }
    }
  }
  .popup & .job-list {
    max-height: 400px;
  }

  // jquery-ui tab styling
  // @todo: We really should use the original jquery-ui css (+ potentially customizable theme for colors, sizes etc) globally.
  //        This isn't immediately feasible because fragments of ui-tabs styling in certain scopes are scattered through
  //        Mapbender built-in widgets and Elements.
  // @import '/components/jquery-ui/themes/base/tabs.css';
  /*!
   * jQuery UI Tabs 1.12.1
   * http://jqueryui.com
   *
   * Copyright jQuery Foundation and other contributors
   * Released under the MIT license.
   * http://jquery.org/license
   *
   * http://api.jqueryui.com/tabs/#theming
   */
  .btn-group {
    margin-bottom: $space / 2;
  }
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    text-decoration: none;
    outline: none;
  }
}
