{% extends "MapbenderMonitoringBundle:MonitoringDefinition:base.html.twig" %}

{% block title %}{% trans %}Delete All Monitoring Jobs{% endtrans %}{% endblock %}

{% block content %}
  <div class="message">
    <p>{% trans %}Really Delete All Monitoring Jobs{% endtrans %}?</p>
    <form action="{{path("mapbender_monitoring_monitoringjob_delete")}}" method="post">
      <button>{% trans %}Delete{% endtrans%}</button>
      <a class="button" href="{{ path("mapbender_monitoring_monitoringdefinition_index") }}">{% trans %}Cancel{% endtrans %}</a>
    </form>
  </div>
{% endblock %}