<div class="text-end">
    <div class="content-box content-box-md">
        <div class="filter-group">
            <label for="list-filter">{{ "mb.actions.filter" | trans}}</label>
            <input id="list-filter" data-filter-target="{{filterTargetId}}" type="text" class="form-control d-inline-block w-auto mx-2 listFilterInput">
        </div>
    </div>
</div>
