@import url(components/jquery-context-menu/src/jquery.contextMenu.css);
@import url(bundles/mapbenderrouting/sass/icons/style.css);
$imagePathRouting: "bundles/mapbenderrouting/image";

@import "libs/variables";

.mb-element-routingelement {
  padding: 0;
  .mb-routing-error{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mb-routing-location-points {
    padding-bottom: 10px;
    .input-wrapper {
      display: inline-flex;
      margin: 3px 0;
      width: 100%;
      background: white;
      outline-offset: -1px;
      border: 1px solid lightgray;
      input {
        border: none;
      }
      &:focus-within {
          outline: none;
          outline: 1px solid lighten($ciColor, 20%);
      }
      .iconCancel {
        line-height: 2em;
        padding: 0 7px;
        &:before {
          content: "\f00d";
        }
        &:hover {
          color: #999;
        }
      }
    }
    .input-icon {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 200%;
      height: auto;
      padding: 3px 7px;
      &:hover {
        cursor: ns-resize;
      }
      span {
          vertical-align: middle;
          &:hover {
              cursor: ns-resize;
          }
      }
    }
    .input {
      padding-left: 5px;
      width: 90%;
      background-color: white;
    }
    .empty {
      border: 1px solid red;
    }
    .marker {
      width: 15px;
      padding: 0 13px;
      margin-bottom: 0;
    }
    .start {
      .marker {
        background: url($imagePathRouting + "/start.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      .input-icon {
        color: darkgreen;
      }
    }
    .intermediate {
      .marker {
        background: url($imagePathRouting + "/intermediate.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      .input-icon {
        color: darkblue;
      }
    }
    .destination {
      .marker {
        background: url($imagePathRouting + "/destination.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      .input-icon {
        color: darkred;
      }
    }
  }
  .routing-Title {
    margin-bottom: 10px;
  }
  .mb-routing-icon {
    height: auto;
    padding: 7px 7px;
    font-size: 150%;
    &:before{
      vertical-align: middle;

    }
    &:disabled {
      background-color: rgba(111, 181, 54, 0.5);
      border-color: rgba(83, 142, 36, 0.5);
      span:before {
        content: "\e901";
      }
    }
  }
  .mb-routing-transportation-mode {
    padding-bottom: 10px;
    overflow: auto;
  }
  .mb-routing-transportation-mode-box-content {
    input {
      visibility: hidden;
      width: 0;
      &:checked + label {
        background: white;
        color: $ciColor;
      }
    }
    float: left;
  }

  .mb-routing-info {
    padding: 3px 5px;
    margin: 5px 0;
  }

  /* Instruction CSS */
  .mb-routing-instructions {
    overflow: auto;
    table.instructions {
      font-size: 80%;
      tr {
        border-bottom: 1px lightgrey dashed;
      }
      td.inst-marker {
        width: 10%;
        padding-right: 10px;
        img {
          max-height: 24px;
          max-width: 16px;
        }
      }
      td.inst-text {
        width: 80%;
      }
      td.inst-dist {
        min-width: 65px;
        text-align: right;
        padding-right: 5px;
      }
    }
  }
}

/* define max height of result window and show a scrollbar */
.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 250px;
}

.spinner {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  display: inline-block;
}
