@import "libs/mixins";
@import "libs/normalize";
@import "libs/icons";
@import "theme/mapbender3";

.popup{
  background: #fff;
}

/* ------------------------------------------------------------- TABCONTAINER */
.tabContainer {
  height: 100%;
  .tab {
    background: transparent;
    &.active {
      // Undo container border overlapping hack on active tab (our container has no border)
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  > .container {
    padding:0;
    border: none;
    height: 100%;
  }
}

/* ------------------------------------------------------------------ TOOLBAR */
.toolBar {
  font-size: 19px;

  &.bottom {
    border-top: 3px solid $ciColor2;
  }
}
/* --------------------------------------------------------------- MOBILEPANE */
.mobilePane {
  background-color: $ciColor4;
  color: $darkFontColor;
  height: 100%;
  padding: $space $space 0 $space;
  .panel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contentTitle {
    margin-top: 0;
    color: $ciColor3;
    border-bottom: solid 5px $ciColor;
  }
  .title-wrap {
    flex: 0;
    font-size: 2rem;
    .contentTitle {
      font-size: inherit;
    }
  }
  position: relative;
  @include transition(all .3s ease-in-out);
  opacity: 0;
  bottom: -100%;
  &[data-state="opened"] {
    opacity: 1;
    bottom: 0;
  }
}
.mobileContent {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mobileClose{
  float: right;
}
/* ------------------------------------------------------------ MOBILE SPLASH */
.splashScreenWrapper {
  background-color: rgba($ciColor4, .7);
  z-index: 2;
  @include absolute(0 0 0 0);
}
.splashScreen{
  margin:0 auto;
  padding: $space;
  border: solid 2px $ciColor2;
  background-color: $ciColor4;
  @include absolute(50% '' '' 50%);
  @include transform(translate(-50%, -50%));
  max-width: 100%;
  max-height: 100%;
  img.app-screenshot {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
  .app-title {
    text-align: center;
  }
  .app-title:last-child {
    margin-bottom: 0;
  }
  .app-title:first-child {
    margin-top: 0;
  }
}


// Nice big fonts in layer selection
body.mobile-template {
  .mb-element-layertree, .mb-element-basesourceswitcher {
    font-size: 2rem;
  }
  .mb-element-layertree .leaveContainer, .mb-element-basesourceswithcer > .basesourcesetswitch {
    // Pad out rows to not look weird against potential even / odd background coloring
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

// Big fonts in SimpleSearch
.autocompleteWrapper {
  font-size: 1.5rem;
}

/* ---------------------------------------------------------------- LAYERTREE */
.mb-element-layertree {
  .layer-menu {
    right: 0.75em;
    top: 1.8em;
  }
  .layer-slider-handle {
    font-size: 65%;
  }

  .iconRemove, .featureInfoWrapper {
    display:none;
  }
}

.input {
  height: auto;
  line-height: 1.5;
}
