$backgroundColor: #fff !default;
$panelBorderColor: #888 !default;
$toolBarBorderColor: rgba($ciColor, 0.6) !default;

@import "libs/mixins";
@import "libs/normalize";
@import "theme/mapbender3";

/* ------------------------------------------------------------- TABCONTAINER */
.tabContainer {
  font-size: 75%;
  height: 100%;
  .mobilePane & >.container {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-right: 1em;
  }
}

/* ------------------------------------------------------------------ TOOLBAR */
.toolBar {
  .iconBig {
    font-size: 200%;
  }

  &.bottom {
    border-top: 3px solid $toolBarBorderColor;
  }
}
/* --------------------------------------------------------------- MOBILEPANE */
.mobilePane {
  font-size: 153%;
  background-color: #fff;
  height: 100%;
  padding: $space $space 0 $space;
  z-index: 3;
  .panel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contentTitle {
    flex: 0;
    font-size: 142%;
    border-bottom: solid 5px $ciColor;
  }
  position: relative;
  @include transition(all .3s ease-in-out);
  opacity: 0;
  bottom: -100%;
  &[data-state="opened"] {
    opacity: 1;
    bottom: 0;
  }
}
.mobileContent {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* ------------------------------------------------------------ MOBILE SPLASH */
.splashScreenWrapper {
  background-color: rgba(255, 255, 255, .7);
  z-index: 2;
  @include absolute(0 0 0 0);
}
.splashScreen{
  margin:0 auto;
  padding: $space;
  border: solid 2px $panelBorderColor;
  background-color: $backgroundColor;
  @include absolute(50% '' '' 50%);
  @include transform(translate(-50%, -50%));
  max-width: 100%;
  max-height: 100%;
  img.app-screenshot {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
  .app-title {
    text-align: center;
  }
  .app-title:last-child {
    margin-bottom: 0;
  }
  .app-title:first-child {
    margin-top: 0;
  }
}


body.mobile-template {
  .mb-element-layertree .leaveContainer, .mb-element-basesourceswithcer > .basesourcesetswitch {
    // Pad out rows to not look weird against potential even / odd background coloring
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

/* ---------------------------------------------------------------- LAYERTREE */
.mb-element-layertree {
  .layer-menu {
    right: 0.75em;
    top: 1.8em;
  }
  .layer-slider-handle {
    font-size: 65%;
  }

  .-fn-toggle-info {
    display:none;
  }
}

.input {
  height: auto;
  line-height: 1.5;
}
