$backgroundColor: #fff !default;
$panelBorderColor: #888 !default;
$toolBarBorderColor: rgba($ciColor, 0.6) !default;

@import "libs/mixins";
@import "libs/normalize";
@import "theme/mapbender3";

/* ------------------------------------------------------------- TABCONTAINER */
.tabContainer {
  font-size: 75%;
  height: 100%;
  .mobilePane & >.container {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-right: 1em;
  }
}

/* ------------------------------------------------------------------ TOOLBAR */
.toolBar {
  .iconBig {
    font-size: 200%;
  }

  &.bottom {
    border-top: 3px solid $toolBarBorderColor;
  }
}
/* --------------------------------------------------------------- MOBILEPANE */
.mobilePane {
  font-size: 153%;
  background-color: #fff;
  height: 100%;
  z-index: 3;
  .panel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contentTitle {
    flex: 0;
    font-size: 132%;
    border-bottom: solid 3px $ciColor;
  }
  position: relative;
  transition: all .3s ease-in-out;
  opacity: 0;
  bottom: -100%;
  &[data-state="opened"] {
    opacity: 1;
    bottom: 0;
  }
}
.mobileContent {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: $space $space 0 $space;
}

.mobilePane .contentTitle {
    margin: $space $space 0 $space;
}

body.mobile-template {
  .mb-element-layertree .leaveContainer, .mb-element-basesourceswithcer > .basesourcesetswitch {
    // Pad out rows to not look weird against potential even / odd background coloring
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: calc(100vw - 20px - 1em);
  }
}

/* ---------------------------------------------------------------- LAYERTREE */
.mb-element-layertree {
  .layer-menu {
    right: 0.75em;
    top: 1.8em;
  }
  .layer-slider-handle {
    font-size: 65%;
  }

  .-fn-toggle-info {
    display:none;
  }
}

.input {
  height: auto;
  line-height: 1.5;
}

/* ---------------------------------------------------------------- Position SimpleSearch */
.anchored-element-wrap.anchored-element-wrap-rt {
  top: 10px;
  right: 10px;
}

/* ---------------------------------------------------------------- NAVIGATION */
.anchored-element-wrap.anchored-element-wrap-rb {
  right: 10px;
  text-align: right;
}

.mobile-template .mb-element-zoombar .toolPane {
  font-size: 1.3rem;
  padding: 2px;
  border-radius: 5%;
}
