// the holy colors
$ciColor:#0066BA; // blue
$ciColor2:#CCC; // gray
$ciColor3:#134271 ; // blue
$ciColor4:#fff ; // white
$toolBarFontColor: #0066BA;
$toolBarBackgroundColor: #fff;
$toolBarOpacity: 1.0;
