<div class="extraWideLabelForm">
    <div class="form-group no-gutters">
        {{ form_widget(form.configuration.autoOpen, {'label_attr': {'class': 'checkbox-inline'}}) }}
        {{ form_widget(form.configuration.splitLayers, {'label_attr': {'class': 'checkbox-inline'}}) }}
    </div>
    {{ form_row(form.title) }}
    {{ form_rest(form.configuration) }}
</div>
