*/app/cache
*/app/logs
*/doc/api
*/doc/*.html
*/web/bundles
*/web/doc
*/web/uploads
extra/
*/app/config/parameters.yml
*/app/bootstrap.php.cache
*/composer.phar
*/composer.lock
*/vendor
*.tar.gz
*.rpm
*.deb
local.properties
/nbproject/private/
