<header class="form-help">
{% trans %}
Required fields are marked with dark labels, while optional fields have lighter labels.
{% endtrans %}
</header>

<ul class="nav nav-tabs">
    <li class="active"><a href="#role-basics" data-toggle="tab">{{ 'Base data' | trans}}</a></li>
    <li><a href="#role-users" data-toggle="tab">{{ 'Users' | trans}}</a></li>
</ul>

<div class="tab-content">
    <section id="role-basics" class="tab-pane active">
        {% include 'MapbenderManagerBundle:Role:form-basic.html.twig' %}
    </section>

    <section id="role-users" class="tab-pane">
        {% include 'MapbenderManagerBundle:Role:form-users.html.twig' %}
    </section>
</div>

{###############################################################################
    Render any remaining fields inside the rulers to make you aware you forgot
    them
###############################################################################}
{% set form_rest = form_rest(form) %}
{% if form_rest %}
<hr />
{{ form_rest | raw }}
<hr />
{% endif %}

