<form id="{{ id }}" class="mb-element mb-element-kmlexport" action="{{ path('mapbender_core_application_element', { 'slug': app.request.get('slug'), 'id': id, 'action': 'mapexport' } ) }}" method="post" target="_blank">
</form>
