<ul>
{% for receiver in configuration.receiver %}

    {%- if receiver == 'email' %}
    <li id="suggestmap-email"><span class="mb-button iconBig iconEmail"></span> <span class="span-link">{{ 'mb.wmc.element.suggestmap.content.email'|trans }}</span></li>
    {% endif -%}

    {%- if receiver == 'facebook' %}
    <li id="suggestmap-facebook"><span class="mb-button iconBig iconFacebook"></span> <span class="span-link" >{{ 'mb.wmc.element.suggestmap.content.facebook'|trans }}</span></li>
    {% endif -%}

    {%- if receiver == 'twitter' %}
    <li id="suggestmap-twitter"><span class="mb-button iconBig iconTwitter"></span> <span class="span-link" >{{ 'mb.wmc.element.suggestmap.content.twitter'|trans }}</span></li>
    {% endif -%}

    {%- if receiver == 'google+' %}
    <li id="suggestmap-googleplus"><span class="mb-button iconBig iconGooglePlus"></span> <span class="span-link">{{ 'mb.wmc.element.suggestmap.content.google+'|trans }}</span></li>
    {% endif -%}

{% endfor %}
</ul>
