<div id="{{ id }}" class="mb-element mb-element-suggestmap" title="{{ configuration.tooltip|default(title)|trans }}">
    <ul>
        <li><img src="/viewer/bundles/bkggeoportal/images/icons/emaillink.png" width="24"> <span class="span-link"><a href="#" id="suggestmap-email" target="_blank" class="">{{ 'As e-mail'|trans }}</a></span></li>
        <!--li><img src="/SiteGlobals/Functions/SocialBookmarks/DE/Icons/Twitter.jpg?__blob=normal" width="24"/> <span class="span-link"><a href="#" id="weiterempfehlen-twitter" target="_blank"> In Twitter</a></span></li>
        <li><img src="/SiteGlobals/Functions/SocialBookmarks/DE/Icons/Facebook.jpg?__blob=normal" width="24"/> <span class="span-link"><a href="#" id="weiterempfehlen-facebook" target="_blank"> In Facebook</a></span></li-->
    </ul>
</div>