<div class="mb-element mb-element-wmc-storage" id="{{ id }}" title="{% trans %}WMC Storage{% endtrans %}">
    <div id="wmc-save">
        <label for="wmc-doc-title-save">{% trans %}Title{% endtrans %}</label>
        <input id="wmc-doc-title-save" />
        <button id="save-wmc">{% trans %}Save{% endtrans %}</button>
        <hr/>
        <label for="wmc-delete">{% trans %}Title{% endtrans %}</label>
        <select id="wmc-delete"></select>
        <button id="delete-wmc">{% trans %}Delete{% endtrans %}</button>
    </div>
    <div id="wmc-load">
        <label for="wmc-doc-title-load">{% trans %}Title{% endtrans %}</label>
        <select id="wmc-doc-title-load"></select>
        <button>{% trans %}Load{% endtrans %}</button>
    </div>
    <div id="wmc-save-spinner">
        <p>{% trans %}Please wait, saving WMC...{% endtrans %}</p>
    </div>
    <div id="wmc-save-error">
        <p>{% trans %}There was a error saving your WMC.{% endtrans %}</p>
    </div>
    <div id="wmc-list-spinner">
        <p>{% trans %}Please wait, loading WMC list...{% endtrans %}</p>
    </div>
    <div id="wmc-list-error">
        <p>{% trans %}There was a error retrieving the WMC list.{% endtrans %}</p>
    </div>
    <div id="wmc-load-spinner">
        <p>{% trans %}Please wait, loading WMC...{% endtrans %}</p>
    </div>
    <div id="wmc-download">
      <form id="wmc-download-form" method="POST" target="_blank">
        <textarea name="wmcContent" id="wmc-download-textarea"></textarea>
      </form>
    </div>
</div>
