<div class="mb-element mb-element-wmc-storage" id="{{ id }}" title="WMC Storage">
    <div id="wmc-save">
        <label for="wmc-doc-title-save">Title</label>
        <input id="wmc-doc-title-save" />
        <button>Save</button>
    </div>
    <div id="wmc-load">
        <label for="wmc-doc-title-load">Title</label>
        <select id="wmc-doc-title-load"></select>
        <button>Load</button>
    </div>
    <div id="wmc-save-spinner">
        <p>Please wait, saving WMC...</p>
    </div>
    <div id="wmc-save-error">
        <p>There was a error saving your WMC.</p>
    </div>
    <div id="wmc-list-spinner">
        <p>Please wait, loading WMC list...</p>
    </div>
    <div id="wmc-list-error">
        <p>There was a error retrieving the WMC list.</p>
    </div>
    <div id="wmc-load-spinner">
        <p>Please wait, loading WMC...</p>
    </div>
</div>
