{% extends '::base.html.twig' %}

{% block subnavigation %}
<nav class="action">
    <h1>User Navigation</h1>
    <ul>
      <li><a href="{{ path('mapbender_core_user_create') }}">{% trans %}Add User{% endtrans %}</a></li>
    </ul>
</nav>
{% endblock %}
{% block body %}
    <div class="content">
    {% block content %} {% endblock %}
    </div>
{% endblock %}

