{% extends "MapbenderCoreBundle::backend.html.twig" %}

{% block title %}Login{% endblock %}

{% block wrapperclass %}hero-unit{% endblock %}

{% block content %}
    <h1>Hello, please log in.</h1>
    <form action="{{ path("mapbender_core_user_logincheck") }}" method="post" id="login">
        {% if error %}
        <div class="error">{{ error.message }}</div>
        {% endif %}

        <label for="username">Username</label>
        <input id="username" type="text" name="_username" value="{{ last_username }}" />
        <label for="password">Password</label>
        <div class="input-append">
            <input type="password" id="password" name="_password" /><input type="submit" class="btn" value="Login" />
        </div>
    </form>
</div>
{% endblock %}

