@import "libs/variables";
@import "libs/mixins";

.elementFormFeatureInfo{
  $label:60px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
}
