.elementForm {
  // HACK to prevent trailing dropdowns expanding modal enough so that it starts to scroll
  // See WmsLoader / ScaleSelector / ImageExport forms
  min-height: 520px;
  font-size: 0.85rem;
  $labelWidth: 100px;
  .labelInput {
    width: $labelWidth;
  }
  textarea {
    resize: none;
  }
  .inputWrapper, .dropdown {
    width: calc(100% - #{$labelWidth + $space});
  }
  .validationMsgBox{
    min-width: 28%;
  }
  .choiceExpandedSortable {
    &.input {
      // undo fixed pixel height on .input
      // @todo: .input should not have any height rule
      height: auto;
    }
    .sortableItem {
      cursor: move;
      label {
        cursor: inherit;
      }
      &:hover {
        background-color: darken($inputBackgroundColor, 10%);
      }
    }
  }
  .left .checkbox {
    display: inline-block;
    margin-right: $space;
  }
}

.extraWideLabelForm {
  $label: 120px;
  .labelInput {
    width: 120px;
  }
  .inputWrapper, .dropdown {
    width: calc(100% - #{$label + $space});
  }
}

.collectionItem {
  position: relative;
  textarea {
    min-height: 100px;
  }
}

.collectionRemove {
  line-height: $inputHeight;
  position: absolute;
  right: -1em;
  z-index: 1;
}
