.elementForm {
  // HACK to prevent trailing dropdowns expanding modal enough so that it starts to scroll
  // See WmsLoader / ScaleSelector / ImageExport forms
  min-height: 520px;
  font-size: 0.85rem;
  $labelWidth: 100px;
  .labelInput {
    width: $labelWidth;
  }
  textarea {
    resize: none;
  }
  .inputWrapper, .dropdown {
    width: calc(100% - #{$labelWidth + 20px});
  }
  .left .checkbox {
    display: inline-block;
    margin-right: 20px;
  }
}

.help-text-inline {
    display: inline-block;
    float: left;
    position: absolute;
    right: 2px;
    margin-top: 2px;

    .fa {
        padding: 6px;
    }
}

.popover {
    width: 300px;
    max-width: 500px;
}

.extraWideLabelForm {
  $labelWidth: 120px;
  .labelInput {
    width: 120px;
  }
  .inputWrapper, .dropdown {
    width: calc(100% - #{$labelWidth + 20px});
  }
}

.collectionItem {
  position: relative;
  textarea {
    min-height: 100px;
  }
  margin-bottom: 20px;
  .form-group &:last-child {
    margin-bottom: 0;
  }
}

.collectionRemove {
  position: absolute;
  right: -0.75em;
  line-height: 2;
  z-index: 1;
}
