@import "libs/variables";
@import "libs/mixins";

.elementFormGps{
  $label:100px;
  .labelInput{width:$label;}
  .input, .dropdown{width:$elementPopupWidth - $label + $space;}
  .labelCheck{margin-right:$space;}
}