.elementFormLayerTree {
  /** @todo: remove float from checkbox_widget block globally */
  .checkWrapper.left {
    float: none;
  }
    .theme-settings {
      user-select: none;
      > span {
        display: inline-block;
        min-width: 1.25em;
      }
    }
}
