.elementFormMap {
  $label: 100px;
  .labelInput {
    width: $label;
  }
  .checkWrapper {
    margin-bottom: $space/2;
  }
  .singleRow {
    float: right;
    width: $elementPopupBodyWidth - $label - $space;
    .labelInput, & > .input {
      float: left;
    }
    .labelInput {
      width: 40px;
      margin-right: 5px;
    }
    .inputWrapper {
      min-width: 0;
      width: 80px;
      float: left;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}
