.elementFormMap {
  $label: 100px;
  .labelInput {
    width: $label;
  }
  .singleRow {
    float: right;
    width: calc(100% - #{$label + 1.25 * $space});
    .labelInput {
      width: 40px;
      margin-right: 5px;
    }
    .inputWrapper {
      min-width: 0;
      width: 80px;
    }
    .inputWrapper + .labelInput {
      margin-left: $space;
    }
    &:after {
      content: '';
      display: table-cell;
      clear: both;
    }
  }
}
