.elementFormMap {
  .labelInput {
    vertical-align: top;
    margin: 0;
  }
  > div:not(.form-group) {
    margin-bottom: 1em;
  }
  .singleRow {
    margin-bottom: 0.5em;
    .labelInput {
      width: 5em;
    }
    .inputWrapper {
      min-width: 0;
      width: 80px;
    }
  }
}
