@import "libs/variables";
@import "libs/mixins";


.elementFormOverview{
  $label:70px;
  .labelInput{width:$label;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
  .dropdown, .input{width:$elementPopupWidth - $label + $space ;}
  .singleRow{
    .labelInput, & > .input{float:left;}
    .labelInput{
      width:15px;
      margin-right:5px;
    }
    .input{
      width:140px;
      &:first-child{margin-right:$space/2;}
    }
  }
}