@import "libs/variables";
@import "libs/mixins";

.elementFormSearchRouter{
  $label:90px;
  overflow: auto;
  max-height: $popupMaxHeight;
  .labelInput{width:$label;}
  .input{width:$elementPopupWidth - $label - $space*2;}
}