.sidePane {
  .mb-element-simplesearch {
    .autocompleteWrapper {
      width: 100%;
      position: relative;
      input.searchterm {
        width: 100%;
      }
      .autocompleteList {
        display: block !important;
        width: 100%;
        position: relative;
        z-index: 20000;
        background-color: #FFF;
        color: #858585;
        cursor: pointer;
        max-width: 100%;
        li {
          padding-left: 5px;
          width: 100%;
          text-align: left;
          display: list-item;
          font-size: 11px;

          &:hover {
            color: #5b932a;
            background-color: #f9f9f9;
          }
          &:last-child {
            clear: both;
          }
        }
      }
    }
  }
}

.toolBar {
  .mb-element-simplesearch {
    .autocompleteWrapper {
      position: relative;
      .autocompleteList {
        position: absolute;
        display: none;
        z-index: 20000;
        background-color: #FFF;
        color: #858585;
        cursor: pointer;
        line-height: 29px;
        width: 100%;
        max-height: 250px;
        overflow: auto;
        border: solid 1px #c8c8c8;
        border-top: none;
        font-size: 11px;
        overflow-x: hidden;
        li {
          display: block;
          padding-left: 5px;
          width: 100%;
          text-align: left;
          &:hover {
            background-color: darken(#FFF, 10%);
          }
          &:last-child {
            clear: both;
          }
        }
      }
    }
  }
}

.mobilePane {

}


