@import "libs/variables";
@import "libs/mixins";

.mb-wmcEditor{
  .tableCore{
    width:100%;
  }
  th{text-align:left;}
  .iconColumn{padding-left:$space/2;}
  .iconAdd{color:$darkFontColor;}
  .buttonBack{margin-left:$space;}
  tr{vertical-align:top;}
}
.elementFormWMC{
  .labelInput{
    width:110px;
    float:left;
  }
  .inputWrapper{margin-bottom:$space/2;}
  .input{width:300px;}
}