.mb-wmcEditor{
  .iconColumn{
    padding-left: $space/2;
    display: table-cell;
  }
  a.iconAdd:before {
    margin: 0;
  }
  tr{vertical-align:top;}
}
.elementFormWMC{
  .labelInput {
    width: 110px;
  }
  .inputWrapper {
    width: 300px;
  }

  textarea {height: 100px;}
}
