{% set wmc_title = wmc.state.title %}
{% set wmc_id = wmc.id %} 
<form id="wmc-delete" action="{{ path('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'delete' }) }}" method="post" {{ form_enctype(form)}}>
    <header>
    {{ 'mb.wmc.wmc.delete_confirm' | trans ({'%wmc_title%': wmc_title,'%wmc_id%': wmc_id}) }}
    </header>
    {{ form_widget(form) }}
</form>