<form id="wmc-state-load" action="{{ path('mapbender_core_application_element', {'slug': app.request.get('slug'), 'id': id, 'action': 'loadxml'}) }}" method="post" target="_blank" title="Load WMC">
    <div>
        {{ form_widget(form.state) }}
        <div class="clearContainer"></div>
        {{ form_row(form._token) }}
        <input type="submit" class="button right" name="{{ 'mb.wmc.wmcloader.state.load' | trans }}" />
        <div class="clearContainer"></div>
    </div>
</form>
