<form id="wmc-load" action="{{ path('mapbender_core_application_element', {'slug': app.request.get('slug'), 'id': id, 'action': 'loadxml'}) }}" method="post" target="_blank" title="Load WMC">
    <div>
        {{ form_widget(form.xml) }}
        <div class="clearContainer"></div>
        {{ form_row(form._token) }}
        <div class="clearContainer"></div>
        <input type="submit" style="display:none;"/>
    </div>
</form>
