{% for set_id, label in dimensionsets %}
  <div id="{{ set_id }}" class="dimensionset">
      <div class="row no-gutters">
          <div class="col-xs-6 dimensionset-title">{{ label | humanize }}</div>
          <div class="col-xs-6 dimensionset-value"></div>
      </div>
      <div class="row no-gutters">
          <div class="col-xs-12 slider-wrap"><div class="mb-slider" id="dimensionset-{{ set_id }}"></div></div>
      </div>
  </div>
{% endfor %}
