<div id="{{ id }}" class="mb-element mb-element-wmsloader" title="{{ configuration.tooltip|default(title)|trans }}">
    <p class="description">{{ "Example"|trans }}: http://www.example.com/wms/services?request=GetCapabilities&amp;service=WMS&amp;version=1.1.1</p>
    <br>
    <label class="labelInput" for="loadWmsUrl">{{"Service url"|trans}}</label>
    <input name="loadWmsUrl" class="input url" type="text" />
</div>
