<div id="{{ id }}" class="mb-element mb-element-wmsloader" title="{{ title |trans }}">
    <p class="description">{{ "Example"|trans }}: http://wms.wheregroup.com/cgi-bin/germany.xml?VERSION=1.1.1&amp;REQUEST=GetCapabilities&amp;SERVICE=WMS</p>
    <br>
    <label class="labelInput" for="loadWmsUrl">{{"Service url"|trans}}</label>
    <input name="loadWmsUrl" class="input url" type="text" />
<a id="" mb-action="source.add.wms" mb-wms-merge="1" mb-wms-layers="Gewaesser,Fluesse" mb-wms-layer-merge="0"
href="http://wms.wheregroup.com/cgi-bin/germany.xml?VERSION=1.1.1&REQUEST=GetCapabilities&SERVICE=WMS">(GE Gewaesser flüsse)</a>

<a id="abc" mb-action="source.add.wms" mb-wms-merge="1" mb-wms-layers="_all" mb-wms-layer-merge="0"
mb-url="http://wms.wheregroup.com/cgi-bin/germany.xml?VERSION=1.1.1&REQUEST=GetCapabilities&SERVICE=WMS" href="">(GE _all)</a>

<a id="abc" mb-action="source.add.wms" mb-wms-merge="1" mb-wms-layers="" mb-wms-layer-merge="0"
href="http://wms.wheregroup.com/cgi-bin/germany.xml?VERSION=1.1.1&REQUEST=GetCapabilities&SERVICE=WMS">(GE _leer)</a>
<a id="abc" mb-action="source.add.wms" mb-wms-merge="1" mb-wms-layers="_all" mb-wms-layer-merge="1"
href="http://wms.wheregroup.com/cgi-bin/mapserv?map=/data/umn/mapbender_user/mapbender_user.map&VERSION=1.1.1&REQUEST=GetCapabilities&SERVICE=WMS">(mb_u_all)</a>

<a id="abc" mb-action="source.add.wms" mb-wms-merge="1" mb-wms-layers="Mapbender_User" mb-wms-layer-merge="1"
href="http://wms.wheregroup.com/cgi-bin/mapserv?map=/data/umn/mapbender_user/mapbender_user.map&VERSION=1.1.1&REQUEST=GetCapabilities&SERVICE=WMS">(mb_uMapbender_User)</a>
<a id="abc" mb-action="source.add.wms" mb-wms-merge="1" mb-wms-layers="" mb-wms-layer-merge="0"
href="http://wms.wheregroup.com/cgi-bin/mapserv?map=/data/umn/mapbender_user/mapbender_user.map&VERSION=1.1.1&REQUEST=GetCapabilities&SERVICE=WMS">(mb_uM nix)</a>

</div>
