<div id="{{ id }}" class="mb-element mb-element-wmsloader" title="{{ configuration.tooltip|default(title)|trans }}">
    <p>{{"Bitte geben Sie die Adresse zum Dienst ein"|trans}}:</p>
    <input class="url" type="text" />
    <p>{{ "Beispiel"|trans }}: http://www.example.de/wms/services?request=GetCapabilities&amp;service=WMS&amp;version=1.1.1</p>
</div>
