{#<div id="{{ id }}" class="mb-element mb-element-wmtsloader" title="{{ configuration.tooltip|default(title)|trans }}">
    <p class="description">{{ "mb.wmts.wmtsloader.dialog.label.example"|trans }}: http://wmts.wheregroup.com/cgi-bin/germany.xml?VERSION=1.1.1&amp;REQUEST=GetCapabilities&amp;SERVICE=WMS</p>
    <br>
    <label class="labelInput" for="loadWmtsUrl">{{ "mb.wmts.wmtsloader.dialog.label.wmtsurl"|trans}}:</label>
    <div class="inputWrapper">
        <input name="loadWmtsUrl" class="input url" type="text" />
    </div>
</div>#}
