{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block manager_content %}
  {%- set list_id = list_id | default('listFilter0') -%}
  {%- if items -%}
  {% include 'MapbenderManagerBundle::fragments/filter-group.html.twig' with {filterTargetId: list_id} %}
  <ul id="{{ list_id }}" class="listFilterBoxes{{ (' ' ~ (list_class | default(''))) | trim(' ', 'right') }}">
    {%- for item in items -%}
    <li class="filterItem">
      {% block boxlist_item_content %}{% endblock %}
    </li>
    {%- endfor -%}
  </ul>
  <div class="clearContainer"></div>
  {%- endif -%}
  <p class="description{{ items ? ' hidden' : ''}}">
    {% block boxlist_placeholder_content %}{% endblock %}
  </p>
  <div class="clearContainer"></div>
{% endblock %}
