{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block manager_content %}
    {%- set list_id = list_id | default('listFilter0') -%}
    <div class="row list-head">
      <div class="col-xs-6 col-6">
        {%- if items -%}
        {% include 'MapbenderManagerBundle::fragments/filter-group.html.twig' with {filterTargetId: list_id} %}
        {%- endif -%}
      </div>
      <div class="col-xs-6 col-6 text-right">
        {%- block list_actions -%}{%- endblock -%}
      </div>
    </div>
{% endblock %}
