{% extends "MapbenderCoreBundle:Login:info_box.html.twig" %}
{%- set title = 'fom.user.password.done.congratulations' -%}
{%- set pagetitle = 'fom.user.password.done.password_reset' | trans -%}

{% block box_content_main %}
    <p>{{ 'fom.user.password.done.password_been_reset' | trans }}</p>
    {{ parent() }}
{% endblock %}
