{% extends "MapbenderCoreBundle:Login:info_box.html.twig" %}
{%- set title = 'fom.user.password.send.title' | trans -%}

{% block box_content_main %}
    <p>{{ 'fom.user.password.send.email_been_sent' | trans }}</p>
    {{ parent() }}
{% endblock %}
