<div id="{{ id }}" class="mb-element mb-element-imageexport" title="{{ title|trans }}">
  <p>{{ 'mb.print.imageexport.chooseformat'| trans }}</p>
  <input type="radio" value="png" name="imageformat" checked>PNG<br>
  <input type="radio" value="jpeg" name="imageformat">JPG
</div>
