<div id="{{ id }}" class="mb-element mb-element-imageexport" title="{{ title|trans }}">
  <p>{{ 'Choose Export Format'| trans }}</p>
  <input type="radio" value="png" name="imageformat">PNG<br>
  <input type="radio" value="jpeg" name="imageformat">JPG
</div>
