  <form action="{{ submitUrl }}" method="post" target="_blank">
    {% block form_fields %}
    <div class="form-group">
      <label for="imageformat">{{ 'mb.print.imageexport.chooseformat'| trans }}</label>
      <div class="radio">
        <label><input type="radio" name="imageformat" value="png" checked />PNG</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="imageformat" value="jpg" />JPG</label>
      </div>
    </div>
    {% endblock form_fields %}
    <div class="hidden -fn-hidden-fields"></div>
    <div class="text-right">
      {% block form_buttons %}
      <input type="submit" class="btn btn-success btn-sm" value="{{ 'mb.print.imageexport.popup.btn.ok' | trans() }}" />
      <button type="button" class="btn btn-danger btn-sm popupClose">{{ 'mb.print.imageexport.popup.btn.cancel' | trans() }}</button>
      {% endblock form_buttons %}
    </div>
  </form>
