@import "libs/variables";
@import "libs/mixins";

// ------------------------------------------------------- APPLICATIONS
.listFilterInput{
  margin-bottom:$space;
  width:250px;
}
.listFilterApplicationBoxes{
  $col1Width: 120px;
  $height:120px;

  .filterItem{
    min-height:$height;
  }
  .col1{width:$col1Width;}
  .col2{
    height:$height;
    margin-left: $col1Width;
  }
  .iconAppDefault{
    font-size: 70px;
    line-height: 110px;
    color:lighten($darkFontColor, 10%);
  }
}
.iconBig, .iconSmall{
  color:$darkFontColor;
  margin-left:5px;
  @include opacity(0.6);
  @include transition(opacity .2s ease-in-out);
  &:hover{@include opacity(1);}
}
.elementPopup{width:460px;}
.buttonBack{margin-left:$space !important;}





// ----------------------------------------------- NEW/EDIT APPLICATION
.applicationTabContainer{
  margin-bottom:$space;

  .containerBaseData{
    .labelInput{
      width:80px;
      float:left;
      display: block;
      margin-bottom: $space/2;
    }
    textarea, input, .dropdown{width: 300px;}
    textarea{height:100px;}
    .messageBox{
      width:270px;
      @include pos($space,$space,'','');
    }
  }
  .containerLayout{
    .dropdown{
      width:200px;
      margin-bottom:$space;
      margin-left:$space;
    }
  }

  table{
    .iconCheckbox{@extend .iconPublish}
    .iconCheckboxActive{@extend .iconPublishActive}
  }

  .containerLayers{
    .iconCheckbox{@extend .iconPublish}
    .iconCheckboxActive{@extend .iconPublishActive}
  }
}
.popup{
  .popupSubContent{
    overflow: visible;
    .labelInput, .input{float:left;}
  }
}
.elementsTable{
  tbody tr{cursor:move;}
  .typeColumn{width:30%;} // very ugly, but fixing the scale behaviour by dragging at the moment
  .titleColumn{width:50%;}
  .ui-sortable-helper{background-color:darken($contentColor, 3%)}
  .placeholderRow{height:$space;}
}
.layersetTable{
  tbody tr{cursor:move;}
  .idColumn{width:3%;}
  .typeColumn{width:7%;} // very ugly, but fixing the scale behaviour by dragging at the moment
  .titleColumn{width: 70%;}
} 




// ------------------------------------------------------------- LAYOUT
.checkContainer{
  position:relative;
  color:$middleFontColor;
  display: block;
  margin-bottom: $space/2;
  background-color: $contentColor;
  padding:5px $space/2 5px $space/2;
  border:solid 1px white;
  @include border-radius($radius);
  @include transition(all 0.2s ease-in-out);

  .iconOk{
    @include opacity(0);
    @include pos(5px,5px,'','');
  }

  &:hover{
    background-color: white;
    border:solid 1px darken(white, 15%);
    .iconOk{@include opacity(1);}
  }
}
.regionProperties{
  margin-right: $space/2;
  .iconCheckbox{@extend .iconTab}
  .iconCheckboxActive{@extend .iconTabActive}
  .labelInput{display:none;}
}


// ----------------------------------------- ELEMENT FORMULARS
$elementPopupWidth: $popupModalWidth - ($space * 3);
.region{
  padding-top:$space;
  border-top:dashed 1px darken(#fff, 30%);
}
.elementForm{
  .labelInput{margin-bottom:$space/2;}
  textarea{
    height:150px;
    resize: none;
  }
}
.defaultForm{
  $label:70px;
  .labelInput{width:$label;}
  .input, .dropdown{width:$elementPopupWidth - $label + $space;}
}
.elementFormGps{
  $label:100px;
  .labelInput{width:$label;}
  .input, .dropdown{width:$elementPopupWidth - $label + $space;}
  .labelCheck{margin-right:$space;}
}
.elementFormCopyright, .elementFormActivity{
  $label:100px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label + $space;}
}
.elementFormLegend{
  $label:90px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label  + $space;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
}
.elementFormFeatureInfo{
  $label:60px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label  + $space;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
}
.elementFormMap{
  $label:100px;
  height:380px;
  overflow:auto;
  .labelInput{width:$label;}
  .checkWrapper{margin-bottom:$space/2;}
  .dropdown, .input{width:$elementPopupWidth - $label - $space/2;}
  .singleRow{
    float:right;
    width:$elementPopupWidth - $label - $space;
    .labelInput, & > .input{float:left;}
    .labelInput{
      width:40px;
      margin-right:5px;
    }
    .input{
      width:80px;
      &:first-child{margin-right:5px;}
    }
  }
}
.elementFormLayerTree{
  $label:100px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label  + $space;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
}
.elementFormOverview{
  $label:70px;
  .labelInput{width:$label;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
  .dropdown, .input{width:$elementPopupWidth - $label + $space ;}
  .singleRow{
    .labelInput, & > .input{float:left;}
    .labelInput{
      width:15px;
      margin-right:5px;
    }
    .input{
      width:140px;
      &:first-child{margin-right:$space/2;}
    }
  }
}
.elementFormScaleBar{
  $label:70px;
  .labelInput{width:$label;}
  .dropdown, .input, select{width:$elementPopupWidth - $label + $space;}
  select{margin-bottom:$space/2;}
  .singleRow{
    .labelInput, & > .input{float:left;}
    .labelInput{
      width:15px;
      margin-right:5px;
    }
    .input{
      width:140px;
      &:first-child{margin-right:$space/2;}
    }
  }
}
.elementFormToolbar{
  $label:80px;
  .labelInput{width:$label;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
  .dropdown, .input, select{width:$elementPopupWidth - $label;}
  select{margin-bottom:$space/2;}
  .singleRow{
    .labelInput, & > .input{float:left;}
    .labelInput{
      width:15px;
      margin-right:5px;
    }
    .input{
      width:125px;
      &:first-child{margin-right:$space/2;}
    }
  }
}
.elementFormYaml{
  $label:90px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label  + $space;}
}
.elementFormWmsLoader{
  $label:110px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label  + $space;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
}
.elementFormPrintClient{
  $label:110px;
  overflow: auto;
  height:380px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label  - $space;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
  .singleRow{
    .labelInput, & > .input{float:left;}
    .labelInput{
      width:25px;
      margin-right:$space/2;
    }
    .input{
      width:90px;
      &:first-child{margin-right:$space/2;}
    }
  }
}
.elementFormSearchRouter{
  $label:90px;
  overflow: auto;
  max-height: $popupMaxHeight;
  .labelInput{width:$label;}
  .input{width:$elementPopupWidth - $label - $space*2;}
}
.collectionItem{
  clear:both;
  & > .labelInput{display:none;}
  .labelInput{clear:both;}
  textarea{
    height:100px;
    margin-bottom:$space;
  }
}
.collectionRemove{line-height:$inputHeight;}




// ------------------------------------------------------------- LAYERS
.layersetForm{
  .labelInput{width:40px;float:left;}
  .input{
    position: absolute;
    right:0px;
    left:40px + $space/2;
  }
}