.box{
  border: solid 1px $thirdColor;
  background-color: $contentColor;
}
.listFilterBoxes{
  li {
    margin-bottom: $space;
    display: flex;
    flex-direction: row;
  }
  .col1 {
    flex: 0 0 auto;  // no growth
    text-align:center;
    color:$lightFontColor;
    background-color:$firstColor;
  }
  .col2 {
    padding:$space/2;
    flex: 1 1 auto;  // fit available space
  }
  .buttonGroup {
    font-size: 20px;
    line-height: 1;
    > * + * {
      margin-left: .2em;
    }
  }
  .contentTitle {
    margin-bottom:$space/2;
  }
}

.listFilterApplicationBoxes{
  .col1 {
    width: 120px;
    line-height: 120px;
    max-height: 120px;
    text-align: center;
    font-size: 70px;
    color: lighten($darkFontColor, 10%);

    div.cell {
      max-height: inherit;
    }
    img {
      max-height: inherit;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.listFilterServiceBoxes {
  $col1Width: 60px;

  .col1 {
    width: 60px;
    padding: $space/4;
  }
}

.checkContainer {
  display: block;
  margin-bottom: $space/2;
  background-color: $contentColor;
  padding: 10px;

  &:hover {
    background-color: white;
    text-decoration: none;
  }
}
