/** Backend only */
.listFilterBoxes {
  li {
    .preview-box {
      width: 140px;
      min-height: 140px;
      background-color: #EAEAEA;
      img {
        width: 100%;
      }
    }
    .preview-box, .preview-box img {
      border-radius: 15px;
    }
    .placeholder-icon {
      font-size: 60px;
    }
    h2 {
      margin-bottom: 0.75rem;
    }
    table th:first-child {
      width: 1%;
    }
  }
  .btn {
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .btn-toolbar .btn+.btn {
    margin-left: 1.5em;
  }
  .preview-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.checkContainer {
  display: block;
  margin-bottom: $space/2;
  background-color: $contentColor;
  padding: 10px;

  &:hover {
    background-color: white;
    text-decoration: none;
  }
}
