<div class="row list-head">
    <div class="col-sm-5 col-xs-12 col-12">
    {%- if is_granted(constant('FOM\\UserBundle\\Security\\Permission\\ResourceDomainInstallation::ACTION_CREATE_USERS')) -%}
        <div class="content-box content-box-md" data-test="user-add">
            <a href="{{path('fom_user_user_create')}}" title="{{"fom.user.user.index.add_new_user"|trans}}">
                <i class="fas fa-lg fa-plus"></i>
                <span>{{ 'fom.user.user.index.add_new_user' | trans }}</span>
            </a>
        </div>
    {%- endif -%}
    </div>
    <div class="col-sm-7 col-xs-12 col-12">
        {% include '@MapbenderManager/fragments/filter-container.html.twig' with {filterTargetId: 'listFilterUsers' } %}
    </div>
</div>
<div class="content-box content-box-lg">
    {%- include '@FOMUser/User/list.html.twig' -%}
</div>
