<div id="{{ id }}" class="mb-element mb-element-digitizer modal-body" title="{{ title|trans }}">
    <select class="selector"></select>
    <div class="tool-set"></div>
    <div class="results"></div>
</div>
