html, body, #sidebar, #content {
    height: 100%;
}

body {
    display: table;
}

#wrapper {
    display: table-row;
}

#sidebar {
    display: table-cell;
    width: 200px;
    border-right: 3px solid #888;
}

#content {
    display: table-cell;
}
