.mb-element-copyright {
    position: absolute;
    font-size: 11px;
    padding: 4px;
    background-color: white;
    z-index: 1000;
}

.mb-element-copyright.inline {
    position: static;
}
.mb-element-copyright-link {
    cursor: pointer;
    text-decoration: underline;
}

.mb-element-copyright-dialog {
    display: none;
}


