div.mb-element-button {
    display: inline-block;
}

.mb-element-button .ui-button-icon-primary.zoom-in {
    background-image: url('icons/MActionZoomIn.png');
}

.mb-element-button .ui-button-icon-primary.zoom-out {
    background-image: url('icons/MActionZoomOut.png');
}

.mb-element-button .ui-button-icon-primary.zoom-extent {
    background-image: url('icons/MActionZoomFullExtent.png');
}

.mb-element-button .ui-button-icon-primary.pan {
    background-image: url('icons/MActionPan.png');
}

.mb-element-button .ui-button-icon-primary.featureinfo {
    background-image: url('icons/MActionIdentify.png');
}

.mb-element-map {
    height: 100%;
}

.mb-element-toc h3 input {
    display: inline!important;
}

.mb-element-toc h3 a {
    display: inline!important;
    padding-left: 0!important;
}
