html, body {
    height: 100%;
    margin: 0;
}

.region#top {
    position: absolute;
    z-index: 2;
    background: url('top_bg.png');
    width: 100%;
}
.region#sidebarleft {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 1;
    padding: 100px 0 0 10px;
}
.region#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 1;
}

.region#footer {
    position: absolute;
/*    top: 0;
    right: 0;*/
    bottom: 0;
    left: 0;
    z-index: 2;
}

.olControlPanZoomBar {
    top: 40px!important
}

.ie7 .mb-element-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ie7 .zoom-prev, .ie7 .zoom-next{display:inline;margin-top:5px;margin-bottom:5px;}
.ie7 .zoom-prev, .ie7 .zoom-slider li{float:left;}
.ie7 .ui-sortable-helper{left:0px;}
.ie7 .zoom-next{float:right;}
.ie7 .zoom-box, .ie7 .zoom-out{clear:both;}
.mb-element-zoombar{top:70px !important;left:20px !important;z-index:1000 !important;}
