* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
}

body {
  font-family: Verdana,Arial,sans-serif;
  padding: 20px;
  background-image: url("image/noise.png");
}

.box {
  border: solid 1px #bfbfbf;
  -webkit-box-shadow: #bfbfbf 0px 0px 8px;
  -moz-box-shadow: #bfbfbf 0px 0px 8px;
  box-shadow: #bfbfbf 0px 0px 8px;
}

.osgeo {
  margin-top: 40px;
}

.top {
  position: absolute;
  left: 290px;
  right: 20px;
  top: 20px;
  height: 180px;
  border-bottom: 1px solid #4d4d4d;
}
.top .logo {
  width: 200px;
  height: 144px;
  position: absolute;
  right: 0px;
  top: -10px;
}
.top .inner {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #4c4c4c;
  padding: 5px;
  -webkit-box-shadow: #a6a6a6 0px 0px 8px;
  -moz-box-shadow: #a6a6a6 0px 0px 8px;
  box-shadow: #a6a6a6 0px 0px 8px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a7a7a), color-stop(100%, #4c4c4c));
  background-image: -webkit-linear-gradient(top, #7a7a7a, #4c4c4c);
  background-image: -moz-linear-gradient(top, #7a7a7a, #4c4c4c);
  background-image: -o-linear-gradient(top, #7a7a7a, #4c4c4c);
  background-image: linear-gradient(top, #7a7a7a, #4c4c4c);
}
.top .inner .ui-button {
  height: 26px;
}
.top .inner .ui-button-text {
  font-size: 16px;
  line-height: 16px;
}

.overviewMap {
  width: 250px !important;
  background-color: #fff;
}
.overviewMap .olControlOverviewMapElement {
  background-color: transparent !important;
}
.overviewMap .olMap {
  position: absolute;
  width: 100% !important;
  background-color: white !important;
}

.sideBar {
  margin-top: 20px;
  width: 250px !important;
  padding: 10px;
  position: absolute;
  top: 140px;
  bottom: 20px;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
}

.content {
  position: absolute;
  right: 20px;
  top: 200px;
  bottom: 50px !important;
  left: 290px !important;
}
.content .mb-element-zoombar {
  top: 10px !important;
}
.content .mb-element-map {
  background-color: #fff;
}
.content .olControlScale {
  right: 20px;
  bottom: 5px;
}

.footer {
  position: absolute;
  height: 30px;
  bottom: 20px;
  left: 290px;
  right: 20px;
  background-color: #4c4c4c;
  border-top: 1px solid #4d4d4d;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a7a7a), color-stop(100%, #4c4c4c));
  background-image: -webkit-linear-gradient(top, #7a7a7a, #4c4c4c);
  background-image: -moz-linear-gradient(top, #7a7a7a, #4c4c4c);
  background-image: -o-linear-gradient(top, #7a7a7a, #4c4c4c);
  background-image: linear-gradient(top, #7a7a7a, #4c4c4c);
  -webkit-box-shadow: #a6a6a6 0px 0px 8px;
  -moz-box-shadow: #a6a6a6 0px 0px 8px;
  box-shadow: #a6a6a6 0px 0px 8px;
}
.footer .mb-element-srsselector {
  position: absolute;
  top: 2px;
  right: 20px;
}
.footer .mb-element-srsselector select {
  width: 100%;
}
.footer .mb-element-coordsdisplay {
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 14px;
  color: white;
}

.ie7 .zoom-prev, .ie7 .zoom-next {
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ie7 .zoom-prev, .ie7 .zoom-slider li {
  float: left;
}

.ie7 .ui-sortable-helper {
  left: 0px;
}

.ie7 .zoom-next {
  float: right;
}

.ie7 .zoom-box, .ie7 .zoom-out {
  clear: both;
}

/*.mb-element-zoombar {
  top: 30px !important;
  left: 20px !important;
  z-index: 1000 !important;
}*/
