* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Verdana,Arial,sans-serif;
  color: #3f3f3f;
  padding: 20px;
  background-image: url("image/noise.png");
}

.logo {
  width: 200px;
  height: 144px;
  position: absolute;
  left: 20px;
}

.sideBar {
  margin-top: 40px;
  width: 200px !important;
  padding-top: 20px;
  position: absolute;
  top: 140px;
  bottom: 20px;
  border-top: solid 1px #cccccc;
}

.osgeo {
  margin-top: 20px;
}

a, a:visited {
  color: #0098C9;
}

.overviewMap {
  position: absolute;
  width: 200px !important;
  right: -10px;
  top: -10px;
  z-index: 1000;
  border-left: solid 5px #0098C9;
  border-bottom: solid 5px #0098C9;
  border-top: solid 10px #0098C9;
  border-right: solid 10px #0098C9;
}
.overviewMap .olControlOverviewMapElement {
  background-color: transparent !important;
  padding: 0px;
}
.overviewMap .olMap {
  margin: 0px;
  position: absolute;
  width: 100% !important;
  background-color: white !important;
}

.top {
  position: absolute;
  height: 36px;
  left: 260px;
  top: 20px;
  width: 700px;
  border-bottom: 1px solid #a2c515;
}
.top .ui-button-text {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  line-height: 16px;
  background-color: #0098C9;
  border: solid 1px #007196;
  color: white;
}
.top .ui-button-text:hover {
  background-color: #00abe3;
  -webkit-box-shadow: none;
}

.content {
  position: absolute;
  width: 700px;
  height: 500px;
  border: 10px solid #B5DC17;
  top: 56px;
  bottom: 50px !important;
  left: 260px !important;
}
.content .mb-element-map {
  background-color: #fff;
}
.content .olControlScale {
  z-index: 1000 !important;
  right: 5px;
  bottom: 5px;
}

.footer {
  position: absolute;
  height: 30px;
  top: 555px;
  left: 260px;
  width: 700px;
  border-top: 1px solid #a2c515;
}
.footer .mb-element-srsselector {
/*  position: absolute;
  top: 5px;*/
  right: 0;
}
.footer .mb-element-srsselector select {
  width: 100%;
  border: 1px solid #cccccc;
  color: #3f3f3f;
}
.footer .mb-element-coordsdisplay {
/*  position: absolute;
  left: 0;
  top: 8px;*/
  font-size: 14px;
}

.ie7 .zoom-prev, .ie7 .zoom-next {
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ie7 .zoom-prev, .ie7 .zoom-slider li {
  float: left;
}

.ie7 .ui-sortable-helper {
  left: 0px;
}

.ie7 .zoom-next {
  float: right;
}

.ie7 .zoom-box, .ie7 .zoom-out {
  clear: both;
}

.mb-element-zoombar {
  top: 10px !important;
  left: 10px !important;
  z-index: 1000 !important;
}
