div.mb-element-button {
    display: inline-block;
}

.mb-element-button.ui-button-icon-primary.zoom-last {
    background-image: url('icons/MActionZoomLast.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-next {
    background-image: url('icons/MActionZoomNext.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-in {
    background-image: url('icons/MActionZoomIn.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-out {
    background-image: url('icons/MActionZoomOut.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-extent {
    background-image: url('icons/MActionZoomToSelected.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-full-extent {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-coordinate {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-scale {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-full-extent {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.pan {
    background-image: url('icons/MActionPan.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary-featureinfo {
    background-image: url('icons/MActionIdentify.png');
}

.ui-button .ui-button-icon-primary.lineruler {
    background-image: url('icons/mActionMeasure.png');
    margin-top: -12px!important;
    margin-left: 0px!important;
    height: 24px;
    width: 24px;
}

.ui-button .ui-button-icon-primary.arearuler {
    background-image: url('icons/mActionMeasureArea.png');
    margin-top: -12px!important;
    margin-left: 0px!important;
    height: 24px;
    width: 24px;
}

.mb-element-map {
    height: 100%;
}

.mb-element-toc h3 input {
    display: inline!important;
}

.mb-element-toc h3 a {
    display: inline!important;
    padding-left: 0!important;
}

#mb-zoom-coordinate-dialog {
    display: none;
}

#mb-zoom-scale-dialog {
    display: none;
}

.mb-element-activityindicator {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
}

body.mb-activity .mb-element-activityindicator {
    background: url('image/activity.gif');
}

.mb-element-zoombar {
    position: absolute;
    z-index: 10000;
    width: 34px;
}

.mb-element-zoombar .pan {
    background: url('image/zoombar-bg-pan.png');
    height: 36px;
    position: relative;
}

.mb-element-zoombar .pan a {
    position: absolute;
    display: block;
}

.mb-element-zoombar .pan a.pan-up {
    width: 11px;
    height: 9px;
    left: 11px;
    top: 3px;
}

.mb-element-zoombar .pan a.pan-right {
    width: 9px;
    height: 11px;
    top: 12px;
    right: 4px;
}

.mb-element-zoombar .pan a.pan-down {
    width: 11px;
    height: 9px;
    top: 24px;
    left: 11px;
}

.mb-element-zoombar .pan a.pan-left {
    width: 9px;
    height: 11px;
    top: 12px;
    left: 3px;
}

.mb-element-zoombar .zoom {
    background: url('image/zoombar-bg.png');
    padding: 2px 0 4px 0;
}

.mb-element-zoombar ol.zoom-slider li {
    height: 10px;
    width: 20px;
    background: url('image/zoombar-zoom-slider.png') -26px 50%;
    margin: 0 auto;
}

.mb-element-zoombar ol.zoom-slider li.active {
    background: url('image/zoombar-zoom-slider.png');
    width: 24px;
}

.mb-element-zoombar div.zoom-prev,
.mb-element-zoombar div.zoom-next {
    display: inline-block;
    width: 17px;
}

.mb-element-zoombar div.zoom-prev a,
.mb-element-zoombar div.zoom-next a {
    display: block;
    width: 17px;
    height: 10px;
    background: url('image/zoombar-prevnext.png') no-repeat;
    background-position: 5px 50%;
}

.mb-element-zoombar div.zoom-next a {
    background-position: -18px 50%;
}

.mb-element-zoombar div.zoom-in,
.mb-element-zoombar div.zoom-out {
    background: url('image/zoombar-zoom-buttons.png') no-repeat;
    width: 20px;
    height: 20px;
    margin: 0 7px;
    padding: 2px 0 0 2px;
}

.mb-element-zoombar div.zoom-out {
    background-position: 0% 100%;
}

.mb-element-zoombar div.zoom-in a {
    display: block;
    height: 16px;
    width: 16px;
    background: url('image/zoombar-zoom-buttons.png') 100% 0%;
}

.mb-element-zoombar div.zoom-out a {
    display: block;
    height: 16px;
    width: 16px;
    background: url('image/zoombar-zoom-buttons.png') 100% 100%;
}

.mb-element-zoombar .bottom {
    background: url('image/zoombar-bg-bottom.png');
    height: 2px;
}

