.mb-element-zoombar {
    position: absolute;
    z-index: 10000;
    width: 34px;
}

.mb-element-zoombar .pan {
    background: url('image/zoombar-bg-pan.png');
    height: 36px;
    position: relative;
}

.mb-element-zoombar .pan a {
    position: absolute;
    display: block;
}

.mb-element-zoombar .pan a.pan-up {
    width: 11px;
    height: 9px;
    left: 11px;
    top: 3px;
}

.mb-element-zoombar .pan a.pan-right {
    width: 9px;
    height: 11px;
    top: 12px;
    right: 4px;
}

.mb-element-zoombar .pan a.pan-down {
    width: 11px;
    height: 9px;
    top: 24px;
    left: 11px;
}

.mb-element-zoombar .pan a.pan-left {
    width: 9px;
    height: 11px;
    top: 12px;
    left: 3px;
}

.mb-element-zoombar .zoom {
    background: url('image/zoombar-bg.png');
    padding: 2px 0 4px 0;
}

.mb-element-zoombar ol.zoom-slider li {
    height: 10px;
    width: 20px;
    background: url('image/zoombar-zoom-slider.png') -26px 50%;
    margin: 0 7px;
}

.mb-element-zoombar ol.zoom-slider li.active {
    background: url('image/zoombar-zoom-slider.png');
    width: 24px;
    margin: 0 5px;
}

.mb-element-zoombar ol.zoom-slider li.active div {
    height: 100%;
}

.mb-element-zoombar div.zoom-prev,
.mb-element-zoombar div.zoom-next {
    display: inline-block;
    width: 17px;
}

.mb-element-zoombar div.zoom-prev a,
.mb-element-zoombar div.zoom-next a {
    display: block;
    width: 17px;
    height: 10px;
    background: url('image/zoombar-prevnext.png') no-repeat;
    background-position: 5px 50%;
}

.mb-element-zoombar div.zoom-next a {
    background-position: -18px 50%;
}

.mb-element-zoombar div.zoom-box {
    background: url('image/zoombar-zoom-box.png') 50% 0 no-repeat;
    margin: 3px 0;
}

.mb-element-zoombar div.zoom-box.active {
    background: url('image/zoombar-zoom-box.png') 50% -30px no-repeat;
    margin: 3px 0;
}

.mb-element-zoombar div.zoom-box a {
    height: 25px;
    display: block;
}

.mb-element-zoombar div.zoom-world {
    background: url('image/zoom-world-mini-grey.png') 50% 0px no-repeat;
    margin: 3px 0;
}

.mb-element-zoombar div.zoom-world.active {
    background: url('image/zoom-world-mini-gray.png') 50% 0px no-repeat;
    margin: 3px 0;
}
.mb-element-zoombar div.zoom-world a {
    
    height: 25px;
    display: block;
}

.mb-element-zoombar div.zoom-in,
.mb-element-zoombar div.zoom-out {
    background: url('image/zoombar-zoom-buttons.png') no-repeat;
    width: 20px;
    height: 20px;
    margin: 0 7px;
    padding: 2px 0 0 2px;
}

.mb-element-zoombar div.zoom-out {
    background-position: 0% 100%;
}

.mb-element-zoombar div.zoom-in a {
    display: block;
    height: 16px;
    width: 16px;
    background: url('image/zoombar-zoom-buttons.png') 100% 0%;
}

.mb-element-zoombar div.zoom-out a {
    display: block;
    height: 16px;
    width: 16px;
    background: url('image/zoombar-zoom-buttons.png') 100% 100%;
}

.mb-element-zoombar .bottom {
    background: url('image/zoombar-bg-bottom.png');
    height: 2px;
}

.olMapViewport.MapbenderControlZoomBoxActive {
    cursor: crosshair;
}

