.mb-element-srsselector {
    position:relative;
    width: 200px;
    display: inline-block;
    font-size: 11px;
}

.mb-element-srsselector select {
  width: auto;
  border: 1px solid #cccccc;
  color: #3f3f3f;
}