div.mb-element-button {
    display: inline-block;
}

.mb-element-button.ui-button-icon-primary.zoom-last {
    background-image: url('icons/MActionZoomLast.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-next {
    background-image: url('icons/MActionZoomNext.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-in {
    background-image: url('icons/MActionZoomIn.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-out {
    background-image: url('icons/MActionZoomOut.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-extent {
    background-image: url('icons/MActionZoomToSelected.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-full-extent {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-coordinate {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-scale {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.zoom-full-extent {
    background-image: url('icons/MActionZoomFullExtent.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button.ui-button-icon-primary.pan {
    background-image: url('icons/MActionPan.png');
    top: 200px;
    z-index: 10000;
    display: none;
}

.mb-element-button .ui-button-icon-primary.featureinfo {
    background-image: url('icons/MActionIdentify.png');
}

.ui-button .ui-button-icon-primary.lineruler {
    background-image: url('icons/mActionMeasure.png');
    margin-top: -12px!important;
    margin-left: 0px!important;
    height: 24px;
    width: 24px;
}

.ui-button .ui-button-icon-primary.arearuler {
    background-image: url('icons/mActionMeasureArea.png');
    margin-top: -12px!important;
    margin-left: 0px!important;
    height: 24px;
    width: 24px;
}

.mb-element-map {
    height: 100%;
}

.mb-element-toc h3 input {
    display: inline!important;
}

.mb-element-toc h3 a {
    display: inline!important;
    padding-left: 0!important;
}

#mb-zoom-coordinate-dialog {
    display: none;
}

#mb-zoom-scale-dialog {
    display: none;
}

.mb-element-activityindicator {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
}

body.mb-activity .mb-element-activityindicator {
    background: url('image/activity.gif');
}

.mb-element-coordsdisplay-div {
    position:relative;
    width: 180px
}

.mb-element-srsselector-div {
    position:relative;
    width: 200px;
}

.mb-element-copyright {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 200px;
    background-color: white;
    z-index: 2000;
}

.mb-element-copyright-link {
    cursor: pointer;
}

.mb-element-copyright-dialog {
    display: none;
}