.mb-element-legend li {
    display: block;
}

.mb-element-legend li.notvisible {
    display: none;
}

.mb-element-legend li.notshow {
    display: none;
}

.legendicon {
    background: url('icons/legend.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}


