html, body {
    height: 100%;
    margin: 0;
}

.region#top {
    position: absolute;
    z-index: 2;
    background: url('top_bg.png');
    width: 100%;
}

.region#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.olControlPanZoomBar {
    top: 40px!important
}

.ie7 .mb-element-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
