.mb-element-scaleselector {
  .dropdown {
    text-align: right;  // purely numeric contents
    min-width: 100px;
  }
  span + .dropdown {
    // keep label and dropdown on one line
    float: right;
  }
}
