body {
    font-size: 16px;
    line-height: 24px;
    font-family: sans-serif;
    background: #e0e0e0;
}

#frame {
    position: absolute;
    bottom: 50%;
    width: 100%;
    margin-bottom: -1em;
    text-align: center;
}

#frame img {
    display: block;
    margin: 0 auto 3em;
}

form {
    display: inline-block;
    margin: 0 auto;
}

.error {
    margin-top: -2em;
    margin-bottom: 1em;
}

.form-field {
    position: relative;
    line-height: 40px;
    display: inline-block;
}

.form-field label {
    position: absolute;
    color: #aaa;
    z-index: 1;
    width: 150px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #555;
    height: 40px;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    width: 150px;
}

input.has-value {
    background: #fff
}

input.form-button {
    padding: 0 3em;
    height: 42px;
    background: #888;
    font-weight: bold;
}

input.form-button:hover {
    background: #333;
    color: #e0e0e0;
}
