:root {
    --primary: #079ee0;
    --splashscreen-border: none;
    --splashscreen-border-radius: 25px;
    --splashscreen-background: rgba(255,255,255,0.8);
    --splashscreen-fade-out-duration: 200ms;
}
.splashscreen__wrapper {
    background-color: rgba(255, 255, 255, .7);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--splashscreen-fade-out-duration) ease-in;
}
.splashscreen__wrapper.removed {
    opacity: 0;
}

.splashscreen {
    margin: 0 auto;
    padding: 10px;
    background-color: var(--splashscreen-background);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 80%;
    max-height: 100%;
    border: var(--splashscreen-border);
    border-radius: var(--splashscreen-border-radius);
}

.splashscreen__img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.splashscreen__title {
    text-align: center;
}

.splashscreen__title:last-child {
    margin-bottom: 0;
}

.splashscreen__title:first-child {
    margin-top: 0;
}


.loadingspinner {
    --loadingspinner-size: 50px;
    width: var(--loadingspinner-size);
    height: var(--loadingspinner-size);
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes loadingspinner__inner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loadingspinner__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.loadingspinner__inner div {
    box-sizing: border-box !important
}

.loadingspinner__inner > div {
    position: absolute;
    width: calc(var(--loadingspinner-size) * 0.72);
    height: calc(var(--loadingspinner-size) * 0.72);
    top: calc(var(--loadingspinner-size) * 0.14);
    left: calc(var(--loadingspinner-size) * 0.14);
    border-radius: 50%;
    border: calc(var(--loadingspinner-size) * 0.08) solid var(--primary);
    border-color:  transparent var(--primary) transparent;
    animation: loadingspinner__inner 1s linear infinite;
}

.loadingspinner__inner > div:nth-child(2) {
    border-color: transparent
}

.loadingspinner__inner > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.loadingspinner__inner > div:nth-child(2) div:before, .loadingspinner__inner > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(var(--loadingspinner-size) * 0.08);
    height: calc(var(--loadingspinner-size) * 0.08);
    top: calc(var(--loadingspinner-size) * -0.08);
    left: calc(var(--loadingspinner-size) * 0.24);
    background: var(--primary);
    border-radius: 50%;
    box-shadow: 0 calc(var(--loadingspinner-size) * 0.64) 0 0 var(--primary);
}

.loadingspinner__inner > div:nth-child(2) div:after {
    left: calc(var(--loadingspinner-size) * -0.08);
    top: calc(var(--loadingspinner-size) * 0.24);
    box-shadow: calc(var(--loadingspinner-size) * 0.64) 0 0 0 var(--primary);
}

/* generated by https://loading.io/ */
