<div class="row list-head">
    <div class="col-sm-5 col-xs-12 col-12">
    {%- if is_granted('CREATE', oids.group) -%}
        <div class="content-box content-box-md">
            <a href="{{path('fom_user_group_create')}}">
                <i class="fa fas fa-lg fa-plus"></i>
                <span>{{ 'fom.user.group.index.add_new_group' | trans }}</span>
            </a>
        </div>
    {%- endif -%}
    </div>
    <div class="col-sm-7 col-xs-12 col-12">
        {% include 'MapbenderManagerBundle::fragments/filter-container.html.twig' with {filterTargetId: 'listFilterGroups' } %}
    </div>
</div>
<div class="content-box content-box-lg">
    {%- include 'FOMUserBundle:Group:list.html.twig' -%}
</div>
