//$rootPath: "../../../mapbendercore/";

@import "libs/variables";
@import "libs/mixins";
@import "libs/icons";
@import "element/mbslider";

// ------------------------------------------------------- APPLICATIONS
.screenshot_upload{
    padding: 0px;
    position: relative;
    min-width: 300px;

    .label{
        margin: 0px;
        padding: 2px;
        font-size: 12px;
        white-space: nowrap;
        position: relative;

        .left{
            min-width: 100px;
            width: 100px;
        }
        .right{
            min-width: 200px;
            width: 200px;
        }
    }

    .input{
        border: 0px;
        padding: 5px;
    }

    .inputWrapper{
        position: absolute;
        left: 0;

        input[type=file]{
            display: block;
            float: left;
            width: 100px;
            font-size: 20px;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            cursor:pointer;
        }
        &:after{
            clear: both;
        }
    }
    .upload_button{
        $buttonFirstColor:#6fb536;
        $buttonSecondColor:#5fa229;

        margin:0px;
        padding-left: 10px;
        padding-right: 10px;

        border:1px solid darken($buttonSecondColor, 5%);
        color:$lightFontColor;
        background-color:$buttonFirstColor;
        &.hover,            
        &:hover{
            background-color:darken($buttonFirstColor, 5%);

        }
    }


    .upload{
        font-size: 30px;
    }
    &:after{
        clear: both;
    }}





.upload_label{
    overflow: hidden;

}
.listFilterInput{
  margin-bottom:$space;
  width:250px;
}
.listFilterApplicationBoxes{
  $col1Width: 120px;
  $height:120px;

  .filterItem{
    min-height:$height;
  }
  .col1{width:$col1Width;
    padding:0px;
    display:table;
          
    &.default{
      border: 1px solid #a2a2a2;
      background-color:#404040;
    }
    div.cell{
      display: table-cell;
      vertical-align:middle;
      text-align: center;
      padding: 0;
      margin:0;
      height: 120px;
      width: 120px;
            
      img{
         max-height: 100%;
         max-width: 100%;
         width: inherit;
/*       width: auto;*/
         display: block;
         margin: 0 auto;
      }
    }
  }

  .col2{
    height:$height;
    margin-left: $col1Width;
  }
  .iconAppDefault{
    font-size: 70px;
    line-height: 120px;
    color:lighten($darkFontColor, 10%);
  }
}
.elementPopup{width:$popupModalWidth;}






// ----------------------------------------------- NEW/EDIT APPLICATION
.applicationTabContainer{
  margin-bottom:$space;

  table{
    .iconCheckbox{@extend .iconPublish}
    .iconCheckboxActive{@extend .iconPublishActive}
  }
}
.containerBaseData{
  $height: 200px;
  $width: 200px;

  // screen shot holder
  .screenshot_img{
    width:200px;
    height:200px;
    margin-right: 50px;
    
    border: 1px solid #c0c0c0;
    background-color: #f9f9f9;
    display: table;

    overflow: hidden;

    &.default{
      border: 1px solid #a2a2a2;
      background-color:#404040;
    }

    &.iconAppDefault{
      font-size: 60px;
      padding-top: 50px;
      padding-left: 65px;
      padding-bottom: 0px;
      display: block;
      line-height: 110px;
      height: $height+2 !important;
      color:lighten($darkFontColor, 10%);
    }

    .delete{
      position: absolute;
      right: 20px;
      margin-right: 50px;
    }
    
    div.cell_edit{
        display: table-cell;
        vertical-align:middle;
        text-align: center;
        padding: 0;
        margin:0;
        height: 200px;
        width: 200px;

        img{
         max-height: 100%;
         max-width: 100%;
         width: inherit;
         display: block;
         margin: 0 auto;
        }
      }    
  }

  .labelInput{
    width:80px;
    float:left;
    display: block;
    margin-bottom: $space/2;
  }
  textarea, input, .dropdown{min-width: 300px;}
  textarea{height:100px;}
  .messageBox{
    width:300px;
    @include absolute($space $space '' '');
  }
}
.containerLayers{
  .iconCheckbox{@extend .iconPublish}
  .iconCheckboxActive{@extend .iconPublishActive}
}

.containerExchange {
  border: 1px solid #c0c0c0;
  background-color: #f9f9f9;
  padding: 20px;
  .labelInput{
    width:80px;
    float:left;
    display: block;
    margin-bottom: $space/2;
  }
  label{margin-right: 10px;}
  select{min-width: 300px;}
  .dropdown{min-width: 300px;}
  .messageBox{
    width:270px;
    @include absolute($space $space '' '');
  }
}

.popup{
  .popupSubContent{
    overflow: visible;
    .labelInput, .input{float:left;}
  }
}
.elementsTable{
  tbody tr{cursor:move;}
  .typeColumn{width:30%;} // very ugly, but fixing the scale behaviour by dragging at the moment
  .titleColumn{width:50%;}
  .ui-sortable-helper{background-color:darken($contentColor, 3%)}
  .placeholderRow{height:$space;}
}





// ------------------------------------------------------------- LAYOUT
.checkContainer{
  position:relative;
  color:$middleFontColor;
  display: block;
  margin-bottom: $space/2;
  background-color: $contentColor;
  padding:5px $space/2 5px $space/2;
  border:solid 1px white;
  @include border-radius($radius);

  .iconOk{
    @include opacity(0);
    @include pos(5px,5px,'','');
  }

  &:hover{
    background-color: white;
    border:solid 1px darken(white, 15%);
    .iconOk{@include opacity(1);}
  }
}
.regionProperties{
  margin-right: $space/2;
  .radioWrapper{margin-left: $space/2;}
  .labelInput{display:none;}
  .iconRadio{@include opacity(.3);@extend .iconCheckbox}
  .iconRadioActive{@include opacity(1);@extend .iconCheckbox}
  .iconRadiotabs{@include opacity(.3);@extend .iconTabActive}
  .iconRadiotabsActive{@include opacity(1);@extend .iconTabActive}
  .iconRadioaccordion{@include opacity(.3);@extend .iconBars}
  .iconRadioaccordionActive{@include opacity(1);@extend .iconBars}
}
.region{
  padding-top:$space;
  border-top:dashed 1px darken(#fff, 30%);
}





// ------------------------------------------------------------- LAYERS
.layersetForm{
  .labelInput{width:40px;float:left;}
}

.layersetTable{
  tbody tr{cursor:move;}
  .idColumn{width:3%;}
  .typeColumn{width:7%;} // very ugly, but fixing the scale behaviour
  .titleColumn{width: 70%;}
}

.containerCustomCss {
  .inputWrapper {
    width: 100%;
  }
}
