/* Main backend styles */
@import "libs/variables";
@import "bundles/mapbendermanager/sass/manager/variables.scss";
@import "libs/mixins";
@import "libs/icons";

@import 'bundles/mapbendermanager/sass/manager/manager.scss';
@import 'bundles/mapbendermanager/sass/blocklist.scss';

@import "bundles/mapbendermanager/sass/element/form.scss";
@import "bundles/mapbendermanager/sass/element/layertree.scss";
@import "bundles/mapbendermanager/sass/element/map.scss";
@import "bundles/mapbendermanager/sass/element/printclient.scss";
@import "bundles/mapbendermanager/sass/manager/services.scss";

// ------------------------------------------------------- APPLICATIONS
.inputWrapper.upload {
  position: relative;
  .btn {
    // Increase z to enable cursor / color change on hoversm
    position: relative;
    z-index: 1;
  }
  .upload_label {
    max-width: 60%;
    text-overflow: ellipsis;
    margin-left: 0.5em;
  }

  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.mapbender-popup {
  // modal mapbender popups only appear in the backend, aka manager application
  width: max($popupModalWidth, $elementPopupWidth);
}
.popup.elementPopup {
  width: $elementPopupWidth;
  min-width: $popupModalWidth;
  .popupContent {
    min-width: $elementPopupBodyWidth;
  }
  /*
    Temporary hack for FOM's legacy form field theme:
    Ensure enough vertical space that certain element popups ending with a dropdown
    (usually 1 or 2 text fields followed by a "target" <select>) size properly, so that the
    absolute-positioned dropdown overlay does not vanish into the scrollable area below the body
    of the popup. E.g. scale selector, image export.
   */
  min-height: 520px;
}

.popup.new-instance-select {
  min-width: max($popupModalWidth, $elementPopupWidth);
  width: 70%;
}




// ----------------------------------------------- NEW/EDIT APPLICATION
.containerBaseData{
  $height: 200px;
  $width: 200px;

  // screen shot holder
  .screenshot_img{
    margin-top: 29px; // HACK: same as line-height of first label in application base data...
    position: relative;  // for absolute .delete button

    border: 1px solid #c0c0c0;
    border-radius: 3px; // match .btn.delete
    display: table;

    overflow: hidden;

    img {
      display: block;
    }
    &.default {
      background-color:#404040;
      img {
        display: none;
      }
    }
    &:not(.default) {
      &:hover .delete {
        display: initial;
      }
      .placeholder-icon {
        display: none;
      }
    }
    .delete {
      display: none;
    }

    .placeholder-icon {
      font-size: 60px;
      color:lighten($darkFontColor, 10%);
    }

    div.cell_edit{
      position: relative;
      .delete{
        position: absolute;
        // Overlap 1px border
        right: -1px;
        top: -1px;
      }
        display: table-cell;
        vertical-align:middle;
        text-align: center;
        padding: 0;
        margin:0;
        height: 200px;
        width: 200px;

        img {
         max-height: 100%;
         max-width: 100%;
         width: auto;
         height: auto;
         margin: 0 auto;
        }
      }
  }
}

/**
  Used for both elements and layersets.
 */
.application-component-table {
  font-size: 0.85rem;
  thead {
    th, td {
      font-size: 130%;
    }
  }
  thead>tr>th:first-child {
    padding-left: 0;
  }
  tr.ui-sortable-handle {
    cursor: move;
    &:hover{
      background-color:darken($contentColor, 3%);
    }
    &.ui-sortable-helper {
      background-color:darken($contentColor, 4.8%);
    }
  }
  // Icon resizing hacks. Icons appear too small on inherited font size :\
  .iconColumn, thead th.iconColumn, thead th.regionProperties {
    // Keep horizontal alignment of icons thead vs tbody, despite different default font sizes
    font-size: 118%;
  }
  // Element region / Layerset titles use embedded h3 tags
  thead h3 {
    font-size: 140%;
  }
  thead .regionProperties {
    .static-popover-wrap {
      width: 22em;
      min-width: 22em;
      margin-left: auto;
    }
  }
  .regionProperties .form-horizontal {
    .labelInput {
      width: 45%;
      margin-right: 4%;
    }
    .inputWrapper, .dropdown {
      width: 50%;
    }
  }
}
// To prevent horizontal collapsse in drag-and-drop transit, .layersetTable and .elementsTable both need certain
// cells to have forced expansion
.elementsTable {
  .typeColumn, .titleColumn {width: 49%;}

  .placeholderRow{height:$space;}
  .screentype-icon.disabled {
    opacity: 0.3;
  }
}

.layersetTable{
  .titleColumn {
    width: 99%;
  }
}

.static-popover-wrap {
  position: relative; // for anchoring of absolute-positioned .popover
  .popover {
    display: initial;
    &.left {
      right: 2em;
    }
    &.left, &.right {
      top: -1em;
      .arrow {
        top: 1em;
        margin-top: 0;
      }
    }
  }
}
