:root {
    --tab-font-color: var(--text-color);
    --tab-active-font-color: var(--text-color);
    --tab-background-color: $inputBackgroundColor;
    --tab-hover-background-color: var(--background-color);
    --tab-hover-font-color: var(--primary);
}
