@import "libs/variables";
@import "libs/mixins";
@import "libs/icons";
@import 'bundles/mapbendermanager/sass/manager/manager.scss';

body {
  font-family: "Ubuntu", $fontFamily;
}



.authWrapper {
/*  margin-top: 15vh; */
  .head {
    /* position: absolute;
    width: 100%;
    height: 100px; */
  }
  /** Apply .login-wrapper also to .logoContainer for FOM 3.1 reset password page markup */
  .login-wrapper {
    /* border: 2px solid red; */
    position: relative; // solve z-index clash vs .head
  }

  .container-login-img {
    /* border: 2px solid red; */
    background-image: url("/bundles/mapbendercore/image/housing-landscape.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 50vw;
    height: 100vh;
  }

  .loginBox {
    padding: $space;
    background-color: lighten($contentColor, 2%);
    position: absolute;
    right: 0;
    /* border: {
      top: solid 1px $secondColor;
      left: solid 1px $thirdColor;
      right: solid 1px $thirdColor;
      bottom: solid 5px $thirdColor;
      radius: $containerBorderRadius;
    } */
    width: 50vw;
     height: 100vh; 
     display: flex;
     justify-content: center !important ;
     /* align-content: center; */
     flex-direction: column;

  .form-login-container{
    /* border: 2px solid blue; */
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 15%;

  }
    .inputWrapper {
      width: 100%;
      /* border: 2px solid green; */

    }

    .input {
       /* width: 70%; */
      height: 3em;
      border-radius: 8px;
      border: none;
     }

     .login-button {
       font-size: 15px;
       border-radius: 10px;
       width: 35%;
       transform: translateX(70px)
     }

    .labelInput {
      /* border: 1px solid red; */
      width: 50%;
      font-size: 20px;
      margin: 3% 0;
    /**  line-height: 1.414; **/
    }

  }

  a {
    text-decoration: none;
  }

  .logoContainer {
    text-align: center;
    display: block;
    height: auto;
    padding-top: 15px;
    .logo {
      max-height: 120px;
      max-width: 100%;
    }
  }

 /* .loginBox {
    border: 1px solid red;
    margin-top: 15px;
  } */

  .labelInput {
    display: block;
    width: 100%;
    /* margin-bottom: 2px; */
  }
  .input {
    /* margin-bottom: $space/2; */
  }

  .linkButton {
    /* margin-right: $space/2; */
    margin-left: 15%;
    margin-top: 3%;
    font-size: 15px;
  }

  .login-button{
    width: 50%;
    height: 5%;
    margin-left: 25%;
    margin-top: 5%;
  }

  .sitelinks {
    text-align: right;
    li {
      display: inline-block;
      a, a:visited {
        color: inherit;
      }
    }
  }
}

// Mobile resonsive
@media only screen and (max-width: 1024px) {
  .authWrapper {
    margin-top: 0;
    .head {}

    > .logoContainer {
      .logo {
        max-height: 10vh;
      }
    }
  }
}
