@import "libs/variables";
@import "libs/mixins";
@import "libs/icons";
@import 'bundles/mapbendermanager/sass/manager/manager.scss';

// Mobile resonsive
@media only screen and (max-width: 1024px) {
  $fontSize: 0.9em;
  .authWrapper {

    top: 2% !important;
    > .logoContainer {
      .logo {
        height: 60px;
      }
    }


    .loginBox {

      .contentTitle {
        margin-bottom: 10px;
        font-size: $fontSize * 2;
      }

      form {
        .labelInput {
          margin-top: 0.7em;
          font-size: $fontSize * 1.1;
          margin-bottom: 0.4em;
        }

        .labelText {
          font-size: $fontSize;
          line-height: $fontSize;
          margin-bottom: 0.2em;
        }

        input {
          font-size: $fontSize * 1.4;
          line-height: 2em;
          height: auto;
          padding-top: 0;
          padding-bottom: 0;
          vertical-align: middle;
        }
      }
      .linkButton, .button {
        font-size: $fontSize;
        height: auto;
        line-height: 270%;
        vertical-align: middle;
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.authWrapper {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;

  > .head {
    position: absolute;
    width: 100%;
    border-top: solid 5px darken($firstColor, 10%);
    background-image: url($headPatternUrl);
    height: 300px;
    min-width: auto;

    @include background(
        linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, 0)), url($headPatternUrl));

    > .dekoSeperator {
      @include absolute('' 0 0 0);
    }
  }
  .login-wrapper {
    position: relative;
    width: 90%;
    max-width: 340px;
    margin: 0 auto;
  }

  .loginBox {
    padding: $space;
    background: lighten($contentColor, 2%) url($managerContentPatternUrl);
    border: {
      top: solid 1px $secondColor;
      left: solid 1px $thirdColor;
      right: solid 1px $thirdColor;
      bottom: solid 5px $thirdColor;
      radius: $containerBorderRadius;
    }

    .contentTitle {
      margin-bottom: 10px;

    }
    .input {
      width: 100%;
    }
    .labelInput {
      width: 100%;
      line-height: 10px;
    }

    .inputWrapper {
      display: block;
      width: 100%;
    }
  }

  a {
    text-decoration: none;
  }

  .logoContainer {
    text-align: center;
    display: block;
    height: auto;
    .logo {
      max-height: 120px;

    }
  }
  .logoContainer, .loginBox {
    margin-top: 15px;
  }

  .labelInput {
    display: block;
    width: 100%;
    margin-bottom: 2px;
  }
  .input {
    margin-bottom: $space/2;
  }

  .linkButton {
    margin-right: $space/2;
  }

  .sitelinks {
    text-align: right;
    li {
      display: inline-block;
      a, a:visited {
        color: inherit;
      }
    }
  }
}

