/* Backend styles include used by main backend and login */

@import "modules/base";
@import "modules/text";
@import "modules/layout";
@import "modules/popup";
@import "modules/input";
@import "modules/button";
@import "modules/container";
@import "modules/tabcontainer";
@import "modules/checkbox";
@import "modules/radiobutton";
@import "modules/dropdown";
@import "modules/table";
@import "modules/popup_dialog";
@import "element/mbslider";


@import url("components/open-sans/open-sans.css");
@import url("components/bootstrap/css/bootstrap.min.css");


$bannerHeight: 170px;
$contentPaneWidth: 800px;
$navWidth: 200px;
$pageWidth: $contentPaneWidth + $navWidth;

body {
  background-image:url($imageBasePath + '/body.png');
}

.navigation, .accountBar {
  color: $middleFontColor;
}

.navigation {
  .navItem {
    > a {
      display: block;
      @include transition(color 0.3s linear);
      // separate text from built-in icon
      &.iconLinkButton:before {
        margin-right:5px;
      }
    }
    &:hover, &:focus {
      color: darken($middleFontColor, 12%);
    }
    &.activeItem {
      > a:before {
        color: $ciColor;
      }
      color: darken($middleFontColor, 24%);
      &:hover, &:focus {
        color: darken($middleFontColor, 36%);
      }
    }
  }
}

div.contentTitle {
  // remove h1 margin, put it on the containing div instead
  margin-bottom: 2rem;
  > h1 {
    margin: 0;
  }
  // @todo: allow regular paragraph text flow ... everywhere?
  > p {
    margin: 0.5em 0;
  }
}


// ------------------------------------------------------------------------ PAGE
.page{
  margin: 0 auto;
  width:$pageWidth;
}
.popupContainer,
.page{
  position:relative;
}
.iconBig, .iconSmall {
  // Add highlights for legacy markup (.iconSmall = no other rules, FOM only)
  &:before {
    @extend .hover-highlight-effect;
  }
}

.notifyjs-corner {
  z-index: 100000 !important;
}


// -------------------------------------------------------------------- PAGE TOP
.head{
  position: relative;
  height:$bannerHeight;

  // remove broken head background when the page is smaller than defined width
  min-width:$pageWidth;
  border-top:solid 5px darken($firstColor, 10%);
  @include background(linear-gradient(rgba(255,255,255,.1),
                                      rgba(255,255,255,0)),
                      url($headPatternUrl));
  .dekoSeperator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    border:none;
    outline:none;
    border-bottom:solid 1px $firstColor;
    background:url($imageBasePath + "/line.png");
  }
}

// If .page follows .head on the same level (manager.html.twig), reposition .page to overlap .head
.head + .page {
  margin-top: -$bannerHeight;
}

.account-bar-wrap {
  float: right;
}
.sitelinks {
  &.list-inline li:not(:first-child):before {
    content: "|";
    margin-left: -5px;
    margin-right: 5px;
  }
  li {
    a, a:visited {
      color: inherit;
    }
    a:hover, a:focus {
      color: $lightFontColor;
    }
  }
}
.sitelinks, .accountBar {
  line-height: 2.5;
}

.accountBar {
  #accountOpen {
    cursor: pointer;
  }
  padding: 0 ($space/2);
  background-color: $contentColor;
  border-bottom-left-radius: $containerBorderRadius;
  border-bottom-right-radius: $containerBorderRadius;
  > .accountMenu {
    height: 2.5em; // Legacy hack: clip to exactly one line-height
    overflow: hidden;
    @include transition(all 0.2s ease-in-out);

    &.opened {
      // Legacy hack: assume exactly three lines of content
      height: 3 * 2.5em;
    }
  }
}







// ------------------------------------------------------------------- PAGE LEFT
.leftPane{
  width:$navWidth;

  .navigation {
    background-color: darken($contentColor, 1%);
    box-shadow: -1em 0 2em inset darken($contentColor, 10%);
    border-left:solid 1px $thirdColor;
    border-bottom:solid 1px $thirdColor;
    border-bottom-left-radius: $containerBorderRadius;
    padding: 10px;
    .navItem {
      > a {
        @include transition(color, background-color linear 0.3s);
        padding: 2px 10px;
        &:hover, &:focus {
          background-color: #E0DDDD;
        }
      }
    }
    .navLevel2, .navLevel3{margin-left:$space/2;}
  }
  .logo {
    max-width: 100%;
    max-height:120px;
  }
  .logoContainer{
    padding-top: $space;
    height:$bannerHeight;
  }
  .logoContainer, >.navigation {
    padding-left: $space / 2;
  }
}

.leftPane, .rightPane {
  display: inline-block;
}
.rightPane {
  width: $contentPaneWidth;
  position: absolute;
  top: 0;
  .top {
    height: $space * 6;
  }
}

textarea, input[type=text], input[type=submit], input[type=number], input[type=password],  a.button, button, div.dropdown {
  border-radius: $elementBorderRadius;
}
a.button{
  color: $firstColor;
  &:hover{
    color: $lightFontColor;
  }
}
ul.dropdownList{
  border-bottom-left-radius: $elementBorderRadius;
  border-bottom-right-radius: $elementBorderRadius;
  margin-top: -3px;
}

.tabContainer {
  .tabs {
    > .tab {
      background-color: #ECECEC;
      &:first-child {
        border-top-left-radius: $containerBorderRadius;
      }
      &:last-child {
        border-top-right-radius: $containerBorderRadius;
      }
      &:hover, &:focus, &.active {
        background-color: #f9f9f9;
      }
      &:hover, &:focus {
        outline: none;
        box-shadow: 0px -1px 1px #000;
      }
    }
  }

  > .container {
    border-bottom-left-radius: $containerBorderRadius;
    border-bottom-right-radius: $containerBorderRadius;
    border-top-right-radius: $containerBorderRadius;
  }
}

.contentPane {
  .title, .subTitle {
    color: $ciColor;
  }
  > .content {
    min-height: 600px;
    position: relative;
    padding: $space;
    background-color: lighten($contentColor, 2%);
    border-radius: $containerBorderRadius;
    .tabContainer {
      margin-bottom: $space;
    }

    form {
      &:after{
        content: "";
        display: block;
        visibility: hidden;
        clear: both;
      }
    }

    .button-group {
      text-align: right;
      margin: $space 0;
    }

    border: {
      top: solid 1px $secondColor;
      left: solid 1px $thirdColor;
      right: solid 1px $thirdColor;
      bottom: solid 5px $thirdColor;
    }
  }
  .form-container {
    border: 1px solid #c0c0c0;
    background-color: #f9f9f9;
    padding: 20px;
    .button-group:last-child {
      margin-bottom: 0;
    }
  }
  .mapbenderVersion{
    color:$lightFontColor;
    text-align:right;
  }
}

.filter-group {
  th & {
    margin-bottom: 0;
    max-width: initial;
  }
  label {
    width: auto;
    min-width: 80px;
    margin: 0 1em 0 0;
  }
  .inputWrapper, >input {
    width: 200px;
    max-width: calc(100% - 120px);  // for crowded table rows with filter embedded into a th
  }
  .inputWrapper {
    display: inline-block;
  }
}

#listFilterPermission {
  // following (default!) collection add interaction doesn't work for Element permissions, and should also
  // not be displayed
  & ~ * .collectionAdd {
    display: none;
  }
  & + form {
    .collectionAdd, .labelInput.required {
      display: none;
    }
  }
}

.permissionsTable{
  tr{
    &.new{
      td:first-child {
        color: green;
      }
      background-color: #f0ffed;
    }
  }
  .tagbox {
    font-size: 85%;
    cursor: pointer;
    width: auto;
    text-align: center;
    padding: 3px .5em;
    margin: 0 .25em;
    @include noUserSelect;
    @include border-radius($radius);
    &.multi {
      background-color:#c1c1c1;
    }

    &.active {
      color:white;
      &.view {
        background-color: #8DCA35;
      }
      &.edit, &.delete, &.create {
        background-color: #FFAB00;
      }
      &.operator, &.master, &.owner {
        background-color: #FF702A;
      }
    }
  }
}

.popover {
  font-size: inherit;
}
.popup .table {
  background-color: white;
}
