// --------------------------------------------------------- VIEW SERVICE
.content-toggle-container {
  &.closed >.content-toggle-target {
    display: none;
  }
  .content-toggle {
    // Prevent undesired double-click => select all behaviour on quick toggles
    user-select: none;
  }
  >.content-toggle i {
    line-height: inherit;
  }
}
.serviceContainer{
  tbody th {
    font-weight: bold;
    vertical-align: top;
    &:first-child {
      width: 1%;
      white-space: nowrap;
      padding-right: 0.5em;
    }
  }
  td {
    overflow-wrap: break-word;
    word-break: break-word;
  }
  table {
    margin-bottom: 1em;
  }
  .indent {
    margin-left: 1em;
  }
  table.lighter-headings {
    tbody th {
      font-weight: 600;
    }
  }
  .list {
    margin-left: 1.5em;
  }
  .list, .list table, .indent table {
    margin-bottom: 0.5em;
  }
}

// --------------------------------------------------------- EDIT SERVICE
.instanceContainer{
  // Supported extended nesting on .panel-heading for WMS dimensions
  .panel-default .panel-heading {
    background-color: #efefef;
  }
  .panel-default>.panel-heading {
    background-color: #f5f5f5;    // = .panel-default
  }
  .extendedGroup {
    .labelInput {width:90px;}
    .inputWrapper, div.dropdown {
      width:200px;
    }
    .collectionItem .collectionRemove {
      left: #{90px + $space + 200px};
    }
    .mb-slider{margin-top: $space/2;}
    .form-group .checkbox {
      margin-top: 0;
    }
  }
  .extendedGroup .panel-body, .popover {
    .form-group {
      margin-bottom: 0.35em;
    }
  }
}

.instanceTable{
  margin-top:$space;
  .checkboxColumn{
    text-align:center;
  }
  .odd{background-color:darken($contentColor, 6%);}

  &.table {
    tbody tr td {
      line-height: $inputHeight;
    }
    .titleColumn {
      width: 260px;
    }
  }
  td.itemType {
    cursor:ns-resize;
  }
  .level1 .itemType{margin-left: 0.4em;}
  .level2 .itemType{margin-left: 0.8em;}
  .level3 .itemType{margin-left: 1.2em;}
  .level4 .itemType{margin-left: 1.6em;}
  .dummy{display:none;}
}
.infoMsgBox {
  &.popover {
    left: initial;
  }
  min-width: 260px;

  .labelInput {
    width: 40px;
  }
  .dropdown, .contentPane > .content form & .dropdown {
    width: 170px;
  }
  .inputWrapper, .contentPane > .content form & .inputWrapper {
    width: 170px;
  }
}
