// ------------------------------------------------------------- SERVICES
.listFilterServiceBoxes{
  $col1Width: 60px;

  .col1 {
    width: $col1Width;
    padding: $space/4;

    .icon {
        // undo built-in cursor: pointer on .icon*
        cursor: default;
    }
  }
}

/**
 * .box adds a border. If a fieldset has .box, that border appears at "strikethrough" height for the fieldset legend,
 * which looks pretty bad. For this combination, remove the standard bottom border and minimize legend width to allow the
 * border to at least fill the sides of the legend text.
 */
fieldset.box {
  legend {
    display: inline-block;
    width: auto;
    border-bottom: none;
  }
}

// --------------------------------------------------------- VIEW SERVICE
.serviceContainer{
  .labelText{float:left;}
  .metaText{@extend .smallText;}
  margin-bottom:$space;
}
.serviceMetaContainer {
  $padding: 5px;
  .labelText {
    float: none;
  }
  .metaText {
    line-height: 16px;
    margin-bottom: 5px;
    text-align: justify;
    padding-bottom: $padding;
  }

  .metaUrl {
    word-wrap: break-word;

  }
}

.serviceContactContainer{
  $labelWidth:90px;

  .labelText{width:$labelWidth; }
  .metaText{margin-left:$labelWidth + $space/2; }
}
.serviceServiceContainer {
  $labeText:85px;

  .list, li{clear:both;}
  .list{
    border-left:dashed 1px darken(#fff, 20%);
    margin-bottom:$space/2;
    li{margin-left:$space;}

    // no margin for labeltext lists ...
    ul.left li{
      margin-left:0;
      // ... and metatext below lists
      .metaText{margin-left:0;}
    }
  }
  .list.closed {
    li.openCloseTitle~li {
      display: none;
    }
  }
  .labelText{
    width:$labeText;
    margin-right:$space/2;
  }
  li.openCloseTitle {
    cursor:pointer;
    margin-left: -5px;  // push ~halfway on top of the border-left
    &:before {
      margin-right: .5em;
    }
    &~li {
      margin-left: 1em;
    }
  }
  .metaText{
    display: block;
    margin-left:$labeText + $space/2;
    word-wrap: break-word;
  }
}
// --------------------------------------------------------- EDIT SERVICE
.instanceContainer{
  .origin-url {
      display: inline-block;
      max-width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
  }

  .extendedGroup {
    .on-off{
      border: solid 1px darken($contentColor,55%);
      background-color:darken($contentColor,25%);
      &.active {
        background-color:darken($contentColor,35%);
      }
      &:hover {
        background-color:darken($contentColor,20%);
        &.active {
          background-color:darken($contentColor,30%);
        }
      }
    }
    .blockgroup {
      .labelInput{width:80px;}
      .inputWrapper, div.dropdown {
        width:200px;
      }
      .collectionItem .collectionRemove {
        left: #{80px + $space + 200px};
      }
    }
    .on-off-content{
      background-color: darken($contentColor, 9%);
      .collectionItem:last-child {
        margin-bottom: 0;
      }
    }
    .vendorspecific-content,.on-off-content .on-off-content{
      padding: $space/2 $space/2 $space/2 $space/2;
    }
    .on-off-title {
      padding: 0 $space/2 0 $space/2;
    }
    .blockgroup {
      margin-bottom: 1em;
    }
    .mb-slider{margin-top: $space/2;}
  }
}

.instanceTable{
  margin-top:$space;
  margin-bottom:$space;
  .checkWrapper.left {
    /** @todo: remove float from checkbox_widget block globally */
    float: none;
  }

  .checkboxColumn{text-align:center;}
  .odd{background-color:darken($contentColor, 6%);}

  &.table {
    background-color: lighten($contentColor, 2%);
    tbody tr td {
      line-height: $inputHeight;
    }
    > tbody > tr > td, > thead > tr > th {
      padding-left: 0;
      padding-right: 8px;
      &.checkboxColumn {
        width: 1%;
        padding-left: 4px;
        padding-right: 4px;
      }
    }
    .titleColumn {
      width: 260px;
    }
    .itemType {
      cursor:ns-resize;
    }
  }

  tbody{
    .checkboxColumn {
      .checkWrapper {
        display: inline-block;
        float: none;
      }
    }
  }
  .level0 .itemType{margin-left:4px;}
  .level1 .itemType{margin-left:10px;}
  .level2 .itemType{margin-left:16px;}
  .level3 .itemType{margin-left:22px;}
  .level4 .itemType{margin-left:28px;}
  .dummy{display:none;}
}
.infoMsgBox {
  &.popover {
    left: initial;
  }
  min-width: 260px;

  .labelInput {
    width: 40px;
  }
  .dropdown, .contentPane > .content form & .dropdown {
    width: 170px;
  }
  .inputWrapper, .contentPane > .content form & .inputWrapper {
    width: 170px;
  }
}
