//$rootPath: "../../../mapbendercore/";
// --------------------------------------------------------- USER/GROUP
.userControlTable{margin-top:$space;}
.tableUserGroups{
  width:300px;
  .description{
    width:150px;
    text-align: right;
    padding:0px;
  }
  .iconCheckboxActive, .iconCheckbox{
    @extend .iconOk;
    @extend .iconBig;
    &:before{
      float:right;
      margin-top:7px;
      margin-right:$space/2;
    }
  }

  td{
    cursor:pointer;
    padding:0px;
    &:hover{
      .checkWrapper{@include opacity(0.4);}
      .checkWrapper.iconCheckboxActive{@include opacity(1);}
    }
  }
  .tdContentWrapper{
    position:relative;
    padding:0px;
    padding-left: 25px;
    padding-top: 3px;
    display:block;
  }
  .checkWrapper{
    .checkbox{
      width:100%;
      @include opacity(0);
    }

    width: 100%;
    @include opacity(0);
    @include pos(0,0,'','');

    &.iconCheckboxActive{@include opacity(1);}
  }
}
.userGroupTabContainer{
  .containerBaseData, .containerProfile{
    textarea{height:150px;}
  }

  .validationInput[disabled] {
    background: #eeeeee;
  }
}
