// --------------------------------------------------------- USER/GROUP
.tableUserGroups{
  .description{
    text-align: right;
  }
  .checkWrapper {
    // HACK: markup puts label first, checkbox second (same cell). We want the checkbox left of the label...
    position: absolute;
    left: 0;
    width: 100%;    // size up to catch clicks on entire cell
    height: 100%;
    font-size: 153%;
  }
  .tdContentWrapper {
    position:relative;  // for absolute checkWrapper repositioning
    padding-left: 1.75em; // for absolute checkWrapper repositioning
    line-height: $inputHeight + 5px;
    .labelInput {
      margin: 0;    // @todo: remove global .labelInput margins (margin belongs on form group)
    }
  }
}
.userGroupTabContainer{
  .containerBaseData, .containerProfile{
    textarea{height:150px;}
  }

  .validationInput[disabled] {
    background: #eeeeee;
  }
}
