{% extends 'MapbenderCoreBundle::layout.html.twig' %}

{% block title %}Welcome to Mapbender{% endblock %}

{% block content %}
<p>This is the Mapbender 3 welcome page.</p>
<p>Below you find a list of configured applications:</p>
<ul id="apps">
{% for key, app in apps %}
    <li class="application-{{ key }} application-type-{{ app.type }}"><a href="{{ path('mapbender_application', { 'slug': key }) }}">{{ app.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}

