{% extends 'MapbenderCoreBundle::layout.html.twig' %}

{% block title %}Welcome to Mapbender{% endblock %}

{% block content %}
<p>This is the Mapbender 3 welcome page.</p>
<p>Later on this will show a list of all available applications for you to choose from.</p>
{% endblock %}

