        <div class="accordionContainer metadataContainer">
            {% for section in metadata.sections %}
                {% set vt=prefix~section.title~ "._title" %}
                <div id="accordion{{ loop.index }}" class="accordion{% if loop.first %} active{% endif %}">
                    <div>{{ vt | trans }}</div>
                </div>
                <div id="container{{ loop.index }}" class="container-accordion{% if loop.first %} active{% endif %}">
                    <div class="accordion-cell">
                        <div class="accordion-wrapper">
                            <div>
                                {% include "MapbenderCoreBundle::metadata_section.html.twig"  with {'section': section} %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
