{%extends 'MapbenderCoreBundle::backend.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@MapbenderWmsBundle/Resources/public/style/*' %}
        <link  rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets  %}
{% endblock %}

{% block subnavigation %}
<nav class="action">
    <h1>WMS Navigation</h1>
    <ul>
      <li><a href="{{ path('mapbender_wms_wms_register')  }}">{% trans %}register WMS{% endtrans %}</a></li>
    </ul>
</nav>

{% endblock %}
{% block body %}
    <div class="content">
    {% block content %} {% endblock %}
    </div>
{% endblock %}
