.mb-element-dataupload {
    .dropFileArea {
        border: 2px dashed #333;
        width: 100%;
        height: 105px;
        border-radius: 15px;
    }
    .highlight {
        border: 2px dashed black;
        color: black;
    }
    .unhighlight {
        border: 2px dashed #333;
        color: #333;
    }
    table .overflow {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 205px;
        white-space: nowrap;
    }
    table .text-end i {
        cursor: pointer;
        opacity: 0.65;
    }
    table .text-end i:hover {
        opacity: 1;
    }
    .form-select {
        font-size: 0.85rem;
    }
}
