.mb-element-applicationswitcher {
    .dropdown {
        min-width: 9em;
    }
    .toolBar & {
        .dropdownList {
            width: auto;
            min-width: 100%;
            max-width: 75vw;
            overflow-x: hidden;
        }
    }
}
