.mb-element-viewmanager {
  .static-popover-wrap {
    position: relative; // for anchoring of absolute-positioned .popover
    .popover {
      display: initial;
      padding: 1em;
      left: initial;
      right: -2.5ch;

      .arrow {
        right: 2ch;
        left: initial;
      }

      &.bottom {
        top: 2ex;
      }
    }
  }
}
