parameters:
    database_driver:   pdo_sqlite
    database_host:     ~
    database_port:     ~
    database_name:     ~
    database_path:     %kernel.root_dir%/db/demo.sqlite
    database_user:     ~
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    fom:
        server_name:   Mapbender3
        server_version: 3.0.0.2
        server_logo:   bundles/mapbendercore/image/logo_mb3.png
