parameters:
    database_driver:   pdo_sqlite
    database_host:     ~
    database_port:     ~
    database_name:     ~
    database_path:     %kernel.root_dir%/db/demo.sqlite
    database_user:     ~
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    fallback_locale:   en
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    fom:
        server_name:   Mapbender3
        server_version: 3.0.2.0
        server_logo:   bundles/mapbendercore/image/logo_mb3.png

    # framework : http://symfony.com/doc/2.1/reference/configuration/framework.html#cookie-lifetime
    cookie_secure: false
    cookie_lifetime: 3600

    use_static_assets: true
    compass_path: ~
    ruby_path: ~
