@import "_compass";

*{@include box-sizing(border-box);}
html, body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font:{
    family: $fontFamily;
    size: $fontSize;
  }
  line-height:$lineHeight;
  color:$darkFontColor;
  background-image:url($imageBasePath + '/body.png');

  @include background(linear-gradient(rgba(255,255,255,.3) 100px,
                                      rgba(255,255,255,0)) fixed,
                      url($imageBasePath + '/body.png'));
}
ul, ol{list-style:none;}
hr, h1, h2, h3, ul, ol, li{margin:0;padding:0;}
a {
  text-decoration:none;
  // undo bootstrap's default blue text color on all <a> elements
  &, &:hover, &:visited, &:focus {
    color:inherit;
  }
}
p{margin:0;}
