.buttonCore{
  @extend .smallText;
  @include noUserSelect();

  // Workaround for vintage Firefox <=29 (circa 2014) line-height mishandling on form buttons
  // and misc other form elements.
  // see https://bugzilla.mozilla.org/show_bug.cgi?id=697451
  @-moz-document url-prefix(){
    .buttonCore{font: ($fontSize - 2) sans-serif;}
  }
  border:none;
  cursor:pointer;
}
.buttonColors {
  color:$lightFontColor;
  background-color:$buttonFirstColor;
  border-color: darken($buttonSecondColor, 5%);
  &:hover{
    background-color:darken($buttonFirstColor, 5%);
  }
}
.buttonColorsCritical {
  color:$lightFontColor;
  background-color:$buttonCriticalFirstColor;
  border-color: darken($buttonCriticalSecondColor, 5%);
  &:hover{
    background-color:darken($buttonCriticalFirstColor, 5%);
  }
}

.button{
  padding:($space/4) ($space/2);
  height: 24px;
  line-height: 1;
  display: inline-block;
  margin:0;
  text-decoration: none;

  border:1px solid darken($buttonSecondColor, 5%);
  color:$lightFontColor;
  background-color:$buttonFirstColor;
  @extend .buttonCore;
  @include transition(all, 0.3s, ease-in-out);

  outline: none;

  &:hover{background-color:darken($buttonFirstColor, 5%);}
  &:focus {
    box-shadow: 0 0 5px $buttonFirstActiveColor;
  }

  &.critical{
    border:1px solid darken($buttonCriticalSecondColor, 5%);
    color:$lightFontColor;
    background-color:$buttonCriticalFirstColor;
    @extend .buttonCore;
    &:hover{background-color:darken($buttonCriticalFirstColor, 5%);}
  }
}
.linkButton {
  @extend .smallText;
  user-select: none;
  &:hover, &:active{color:$ciColor;};
}
