/** Frontend only */
/**
  Amend potentially undefined variables, if included directly from older template that doesn't define them.
  See libs/_variables.scss for full set.
 */
$buttonFontSize: 100% !default;
$hoverEffects: true !default;

.button, .buttonCore, .linkButton {
  user-select: none;
  &:focus {
    outline: none;
  }
}
.button, .buttonCore {
  cursor: pointer;
  outline: none;
  display: inline-block;
}
.button{
  padding: calc(var(--space) / 4) calc(var(--space) / 2);
  line-height: 1;
  margin:0;
  text-decoration: none;

  border-width: 1px;
  border-style: solid;

  &:focus {
    box-shadow: 0 0 5px var(--button-focus-shadow);
  }
}
.button, .buttonColors {
  color: var(--button-text);
  background-color: var(--button-background);
  border-color: var(--button-border);
  @if $hoverEffects {
    &:hover {
      color: var(--button-hover-text);
      background-color: var(--button-hover-background);
    }
  }
}

.button.critical, .buttonColorsCritical {
  color: var(--button-critical-text);
  background-color: var(--button-critical-background);
  border-color: var(--button-critical-border);
  @if $hoverEffects {
    &:hover {
      color: var(--button-critical-hover-text);
      background-color: var(--button-critical-hover-background);
    }
  }
}

.linkButton {
  user-select: none;
}

.button-close {
    position: absolute;
    background: none;
    border: none;
    z-index: 3;
    right: 0;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;

    input:placeholder-shown + & {
        display: none;
    }
}
