.checkWrapper {
  cursor:pointer;
  display: inline-block;
  &.checkboxDisabled {
    opacity: .4;
  }
  input[type="checkbox"] {
    display: none;
  }
  & + .labelCheck {
    margin-left: 0.25em;
  }
}
