.checkWrapper{
  cursor:pointer;
  width:$fontSize;
  &.checkboxDisabled{@include opacity(0.4);}
  .checkbox{
    @include absolute(-999999px '' '' 0);
    height: 100%;
    width: 100%;
    @include opacity(0);
  }
  & + .labelCheck {
    margin-left: 0.25em;
  }
}
