.box{
  border: solid 1px $thirdColor;
  background-color: $contentColor;
}
.listFilterBoxes{
  .filterItem{
    position:relative;
    background-color: $contentColor;
    margin-bottom:$space;
  }
  .col1{
    text-align:center;
    color:$lightFontColor;
    padding:$space/4;
    line-height:$lineHeight - 6;
    background-color:$firstColor;
    @include absolute(0 '' 0 0);
    .iconBig,.icon{
        color: $lightFontColor;
        cursor: default;
    }
  }
  .col2{padding:$space/2;}
  .buttonGroup{
    float: right;
    font-size: 20px;
    line-height: 20px;
    :last-child:before {
      margin: 0;
    }
  }
  .description{
    margin-top:$space/2;
    padding-top:$space/2;
    border-top:dashed 1px darken(#fff, 30%);
  }
}
.messageBox{
  padding:$space/2;
  margin-bottom:$space;

  &.error{
    color:$errorColor;
    background-color: lighten($errorColor, 50%);
    border:solid 1px lighten($errorColor, 40%);
  }
  &.hint{
    color:$hintColor;
    background-color: lighten($hintColor, 50%);
    border:solid 1px lighten($hintColor, 40%);
  }
}
.flashBox{
  $width:280px;

  padding:($space/4) ($space/2);
  background-color:$contentColor;
  text-align: center;
  width: $width;
  margin-left:-$width/2;
  @include absolute(0 '' '' 50%);
  @include transition(all 1s ease-in-out);
  @include opacity(1);

  &.success{
    @extend .iconThumbsUp;
    color:darken($noticeColor, 10%);
    background-color: lighten($noticeColor, 50%);
  }
  &.error{
    @extend .iconThumbsDown;
    color:darken($errorColor, 10%);
    background-color: lighten($errorColor, 50%);
  }
  &.warning{
    @extend .iconThumbsUp;
    color:darken($warningColor, 10%);
    background-color: lighten($warningColor, 50%);
  }
  &.kill{
    top:-100px;
    @include opacity(0);
  }
}
fieldset{
  padding:$space;

  legend{
    @extend .subTitle;
    margin:0;
    padding:0 5px 0 5px;
  }
}
