.box{
  border: solid 1px $thirdColor;
  background-color: $contentColor;
}
.listFilterBoxes{
  li {
    margin-bottom: $space;
    display: flex;
    flex-direction: row;
  }
  .col1 {
    flex: 0 0 auto;  // no growth
    text-align:center;
    color:$lightFontColor;
    background-color:$firstColor;
  }
  .col2 {
    padding:$space/2;
    flex: 1 1 auto;  // fit available space
  }
  .buttonGroup {
    font-size: 20px;
    line-height: 1;
    > * + * {
      margin-left: .2em;
    }
  }
  .contentTitle {
    margin-bottom:$space/2;
  }
}
.flashBox{
  $width:280px;

  padding:($space/4) ($space/2);
  text-align: center;
  width: $width;
  margin-left:-$width/2;
  position: absolute;
  top: 0;
  left: 50%;
  @include transition(all 1s ease-in-out);
  opacity: 1;
  &.kill{
    top:-100px;
    opacity: 0;
  }
}
fieldset{
  padding:$space;

  legend{
    @extend .subTitle;
    margin:0;
    padding:0 5px 0 5px;
  }
}
