// HACK missing CSS for Digitizer
// @todo: rules for Digitizer should be in Digitizer repository, not here
.digitizing-tool-set {
  font-size: 17px;
  > button {
    padding: 3px 4px;
    &.button {
      // defeat .button rules
      // @todo: if we don't want button rules, don't add button class
      font-size: inherit;
      height: auto;
    }
  }
}
