.digitizing-tool-set {
  margin-top: 2px;

  > button {

    &:first-child{
      margin-left: 0px;
    }
    margin-left: -1px;
    padding: 3px 4px;
    &.active,
    &.active:focus {
      background-color: $buttonFirstActiveColor;
    }
    &:before {
      display: inline-block;
      font-size: 17px;
      padding-top: 2px;
    }
  }
}
