.dropdown{
  cursor:pointer;
  position: relative;
  color: $inputForegroundColor;
  border: solid 1px lighten($thirdColor, 15%);
  padding-right: $space + $space/2;
  background-color: $inputBackgroundColor;
  &.numeric {
    text-align: right;
  }

  .dropdownValue, .dropdownList {
    user-select: none;
    line-height: $inputHeight;
  }
  .dropdownValue {
    padding-left: 5px;
    &.iconDown:before{@include absolute(0 5px '' '');}
  }
  .dropdownList {
    background-color: inherit;
    margin-left: 0 !important;  // defeat icon follower margin inside .toolBar
    position: absolute;
    z-index: 10;
    display:none;
    overflow: auto;
    max-height:200px;
    border:solid 1px lighten($thirdColor, 15%);
    width: 100%;
    .group-label {
      display: block;
      padding-left: 5px;
      padding-right: 5px;
      color: mix($inputBackgroundColor, $inputForegroundColor, 90%);
      background-color: $inputForegroundColor;
    }

    li {
      &.choice {
        padding-left: 5px;
        padding-right: 5px;
        &:hover{
          color:$ciColor;
          background-color:$contentColor;
        }
      }
    }
    ul {
      padding-left: 5px;
    }
  }
  .hiddenDropdown{
    display:none;
  }

  @extend .smallText;
}
