$inputBorderColor: lighten($thirdColor, 15%) !default;

select.numeric {
  // Right align selects with numeric content
  // see https://stackoverflow.com/a/43919388
  text-align-last: right;
  option {
    direction: rtl;
  }
}

.dropdown:not(.bs-dropdown),
.autocompleteWrapper {
  position: relative;
  user-select: none;
  line-height: 1.5;
  color: $inputForegroundColor;
  background-color: $inputBackgroundColor;
}

.dropdown:not(.bs-dropdown) .dropdownValue,
.dropdown:not(.bs-dropdown) .dropdownList,
.autocompleteWrapper .ui-autocomplete {
  border:solid 1px $inputBorderColor;
  background-color: inherit;
}

.dropdown:not(.bs-dropdown) .dropdownList,
.autocompleteWrapper .ui-autocomplete {
  position: absolute; // do not expand DOM size when showing items
  z-index: 10;
  min-width: 100%;
}

.dropdown:not(.bs-dropdown) .dropdownValue,
.autocompleteWrapper .input,
.dropdownList .choice,
.autocompleteWrapper .ui-autocomplete li {
  padding: 5px;
}
.dropdownList .choice,
.autocompleteWrapper .ui-autocomplete li {
  cursor: pointer;
  display: block;
  &:hover {
    background-color: mix($inputBackgroundColor, $inputForegroundColor, 90%);
  }
}

.dropdown:not(.bs-dropdown) {
  cursor:pointer;
  select {
    display: none;
  }
  &.numeric {
    text-align: right;
  }

  .dropdownValue {
    min-height: calc(1.5em + 12px);   // Line height * font size + padding + border
    overflow-x: hidden;
    text-overflow: ellipsis;
    &.iconDown {
      padding-right: 2em;
    }
    &.iconDown:after {
      content: "\f078"; // =.fa-chevron-down
      font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Pro";
      position: absolute;
      right: 0;
      margin-right: .5em;
    }
  }
  .dropdownList {
    display:none;
    overflow: auto;
    max-height:200px;
    .group-label {
      display: block;
      padding-left: 5px;
      padding-right: 5px;
      color: mix($inputBackgroundColor, $inputForegroundColor, 90%);
      background-color: $inputForegroundColor;
    }

    ul {
      padding-left: 5px;
    }
  }
}
