.input, .dropdown {
  color: $inputForegroundColor;
  border:solid 1px lighten($thirdColor, 15%);
  background-color: $inputBackgroundColor;
}
.input, .inputWrapper select {
  padding-left: 5px;
  padding-right: 5px;
}

.input:not(textarea), .dropdown {
  height: $inputHeight;
}
.dropdown {
  line-height: #{$inputHeight - 2px}; /** 2px for border top + bottom */
}
.input {
  &[disabled] {
    background: darken($inputBackgroundColor, 10%)
  }

  &::placeholder {
    color: inherit;
    opacity: 0.55;
  }
}
textarea.input {
   min-height: 150px;
}
.input, .inputWrapper select {
  &:focus{
    outline:none;
    border:1px solid lighten($ciColor, 20%);
  }
}

.inputWrapper, .dropdown {
  display: inline-block;
  width: 100%;
  position: relative;
}
textarea.input {
   min-height: 150px;
}

.inputWrapper{
  .input, select {
      width: 100%;
  }
  .form-horizontal & .checkbox {
    // Undo default padding-top: 7px and min-height: 27px
    padding-top: 0;
    min-height: initial;
  }
}

table .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
.validationMsgBox {
  position: absolute;
}
.validationMsgBox {
    z-index: 9999;
    margin-left: 1em;
    min-width: 260px;
    color:$errorColor;
    padding: 3px $space/2 2px $space/2;
    background-color: lighten($errorColor, 50%);
    border:solid 1px lighten($errorColor, 40%);
}
