$thirdColor: #a2a2a2 !default;
$inputBorderColor: lighten($thirdColor, 15%) !default;
$inputFocusBorderColor: lighten($ciColor, 20%) !default;

.input,
.dropdown:not(.bs-dropdown) .dropdownValue,
.dropdownList {
  color: $inputForegroundColor;
  background-color: $inputBackgroundColor;
  border:solid 1px $inputBorderColor;
}

.input, .inputWrapper select {
  padding: 5px;
}

.input {
  &[disabled], &[readonly] {
    color: lighten($inputForegroundColor, 40%);
  }

  &::placeholder {
    color: inherit;
    opacity: 0.55;
  }
}
textarea.input {
   min-height: 150px;
}
.input, .inputWrapper select {
  &:focus{
    outline:none;
    border-color: $inputFocusBorderColor;
  }
}

.inputWrapper, .dropdown:not(.bs-dropdown) {
  display: inline-block;
  width: 100%;
  position: relative;
}

.inputWrapper{
  .input, select {
      width: 100%;
  }
  .form-horizontal & .checkbox {
    // Undo default padding-top: 7px and min-height: 27px
    padding-top: 0;
    min-height: initial;
  }
}

table .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox label, .radio label {
  > input {
    // Defeat Chrome user agent stylesheet resetting checkbox
    // cursor to "default"
    cursor: inherit;
  }
}
