.mb-element-modal-dialog{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1000;
}

/* jQuery UI Dialog with Bootstrap classes */
.mb-element-popup-dialog {
  border-radius: 0;

  .ui-dialog-titlebar-close {
    font-size: 0;
  }

  z-index: 22;
  border: 1px solid #b3b3b3;
  box-shadow:none;
  background: #E4E4E4 url($contentPatternUrl);
  border-bottom-width: 5px;

  > .modal-header {
    background-color: $buttonFirstActiveColor;
    padding-top: 7px;
    padding-bottom: 6px;
    user-select: none;
    position: relative;
    border-bottom: none;

    .ui-dialog-title {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      user-select: none;
    }

    .ui-dialog-titlebar-buttonpane{
      line-height: 1;
      text-shadow: rgb(255, 255, 255) 0 1px 0;
      color: #000000;
      > button, > a {
        opacity: .2;
        &:hover, &:focus {
          opacity: .5;
        }
      }
      button.close {
        .ui-button-icon-space {
          display: none;
        }
      }
      a {
        color: inherit;
        width: auto;
        white-space: normal;
        span{
          font-size: 0;
        }
      }
      .ui-icon:before {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
      }
      .ui-icon.ui-icon-closethick:before {
        font-size: 23px;
        line-height: 18px;
        font-family: FontAwesome;
        content: "\f00d";
      }
      .ui-icon.ui-icon-extlink:before{
        font-family: FontAwesome;
        content: "\f0b2";
      }
      .ui-icon.ui-icon-triangle-1-s:before{
        font-family: FontAwesome;
        content: "\f062";
      }
      .ui-icon.ui-icon-newwin:before{
        font-family: FontAwesome;
        content: "\f063";
      }
    }
  }

  > .modal-body {
    /** Dialog resizing fix */
    width: auto !important;
    overflow: auto;

    // Tab-Navigator displaying if direct bounded to the window
    > .mapbender-element-tab-navigator {
      > ul.modal-header {
        border: none;
        background-color: #B6D39E;
        > li {
          margin: 0;
          border: none;
          > a {
            border: none;
          }
        }
      }
      > .tab-content {
        padding: 0;
        > form {
          padding: 10px;
        }
      }
    }
  }

  > .modal-footer {
    border-top: 1px solid #c0c0c0;
    background-color: transparent;
    padding: 10px;
    button {
      border-radius: 0;
    }
  }
  .ui-resizable-handle {
    position: absolute;
  }
  .ui-resizable-disabled .ui-resizable-handle,
  .ui-resizable-autohide .ui-resizable-handle {
    display: none;
  }
  .ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: 0;
  }
  .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: 0;
  }
  .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: 0;
    top: 0;
    height: 100%;
  }
  .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: 0;
    top: 0;
    height: 100%;
  }
  .ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    bottom: 0;
    left: 0;
  }
  .ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    top: 0;
    left: 0;
  }
  .ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    top: 0;
    right: 0;
  }
}
