.seperator{
  border:none;
  border-bottom:dashed 1px darken(#fff, 30%);
}
.dekoSeperator{
  height:6px;
  border:none;
  outline:none;
  border-bottom:solid 1px $firstColor;
  background:url($imageBasePath + "/line.png");
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}