/** Backend only */
// .table-outlined := .table-bordered without
// vertical cell borders (not in standard Bootstrap)
.table-outlined {
  border: 1px solid #ccc;
}
.table-outlined, .table-bordered {
  border-top: 3px solid #ccc;
}
.table-bordered {
  // Undo Bootstrap left / right borders on cells
  >tbody,>thead,>tfoot {
    >tr {
      >td:not(:first-child),>th:not(:first-child) {
        border-left: none;
      }
      >td:not(:last-child),>th:not(:last-child) {
        border-right: none;
      }
    }
  }
}
.table-bordered, .table {
  // Undo Bootstrap top/bottom borders between consecutive thead rows
  >thead>tr>th {
    border-top: none;
  }
  >thead>tr:not(:last-child)>th {
    border-bottom: none;
  }
}
.table {
  // Increase size of border between thead and tbody from Bootstrap default 2px => 5px
  >thead>tr:last-child>th {
    border-bottom-width: 5px;
  }
}
td, th {
  &.iconColumn {
    white-space: nowrap;
    text-align: right;
  }
}
