.tableCore{
  width: 100%;
  background-color:$contentColor;

  td{
    padding: 0px $space/2;
  }
  thead{border-bottom: solid 5px darken($contentColor, 15%);}
  th{
    padding:$space/4;
    padding-left:$space/2;
    font-weight:normal;
    text-align: left;
  }
  tbody{
    tr{
      border-top: solid 1px darken($contentColor, 10%);
      vertical-align: top;

      &:hover{background-color:darken($contentColor, 3%);}
    }
  }
  tr{height:30px;}
  .iconColumn{
    float:right;
    display: table-cell !important; // defeat .icon^ rule...
    padding-top:5px;
    padding-right:$space/2;
    vertical-align: top;
    [class^="icon"],[class*=" icon"]{margin-left:10px;}
  }
}
.table{
  @extend .tableCore;

  border:{
    top:solid 3px $firstColor;
    left:solid 1px $thirdColor;
    right:solid 1px $thirdColor;
    bottom:solid 1px $thirdColor;
  }
}
.permissionsTable{
  $height:26px;

  &.hidePermissions{display:none;}

  tr{
    border-bottom: solid 1px darken($contentColor, 10%);
    &.new{
      .labelInput, .iconGroup, .iconUser{color:green;}
      background-color: #f0ffed;
    }
    .input{width:180px;}
  }
  th{cursor: pointer;padding:5px 0px;}
  td{
    padding:5px 0px;
    .labelInput{width:150px;}
    .input{display:none;}
    .iconGroup:before, .iconUser:before{
      text-align: center;
      width:20px;
      margin-right: 5px;
      display: inline-block;
    }
  }
  .listFilterInput{
    margin-top:0;
    margin-bottom:0;
  }

  .checkWrapper, .headTagWrapper{
    width:56px;
    height:$height;
    line-height:$height;
    text-align:center;
    display: block;
    @include noUserSelect;
    @include border-radius($radius);

    // kill the checkbox icon
    &:before{display: none;}

    @each $perm in view, create, edit, delete, operator, master, owner{
      &.#{$perm}{
        &.multi{background-color:#c1c1c1;}

        &.iconCheckboxActive{
          color:white;

          @if($perm == "view"){background-color: #8DCA35;}
          @if(($perm == "create") or ($perm == "edit") or ($perm == "delete")){background-color: #FFAB00;}
          @if(($perm == "operator") or ($perm == "master") or ($perm == "owner")){background-color: #FF702A;}
        }
      }
    }
  }
}
.tableGroupsAndUsers{
  border:{
    top:solid 3px $firstColor;
    left:solid 1px $thirdColor;
    right:solid 1px $thirdColor;
    bottom:solid 1px $thirdColor;
  }
  @include border-bottom-radius($radius);
  width:100% !important;
  .hide{display:none;}
  [class^="icon"],[class*=" icon"]{margin-left:10px;}
}
