.italic{font-style:italic;}
.smallerText{font-size:$fontSize - 4;}
.smallText{font-size:$fontSize - 2;}
.bigText{font-size: $fontSize + 2;}
.biggerText{font-size: $fontSize + 8;}
.contentTitle{
  font-weight:normal;
  font-style:italic;
  margin-bottom:$space;
  padding-bottom:$space/2;
  border-bottom:dashed 1px darken(#fff, 30%);

  @extend .biggerText;
}
.title{
  @extend .bigText;
}
.subTitle{
  font-size: 1rem;
}
.labelInput, .labelText, .labelCheck{
  @extend .smallText;
  @include noUserSelect;
}
.labelInput{
  display: inline-block;
  color:$middleFontColor;
  margin-right:$space/2;
  line-height:$lineHeight + 8;

  .required{
    color:$errorColor;
  }
}
.description{
  font-style:italic;
  @extend .smallText;
}
