.italic{font-style:italic;}
.smallerText{font-size:$fontSize - 4;}
.smallText{font-size:$fontSize - 2;}
.bigText{font-size: $fontSize + 2;}
.biggerText{font-size: $fontSize + 8;}
.contentTitle{
  font-weight:normal;
  font-style:italic;
  margin-bottom:$space;
  padding-bottom:$space/2;
  border-bottom:dashed 1px darken(#fff, 30%);

  @extend .biggerText;
}
.title{
  font-weight:normal;
  color:$darkFontColor;
  @extend .bigText;
}
.subTitle{
  font-size:$fontSize;
  color:$ciColor;
}
.labelInput, .labelText, .labelCheck{
  @extend .smallText;
  @include noUserSelect;
}
.labelInput{
  display: inline-block;
  color:$middleFontColor;
  margin-right:$space/2;
  line-height:$lineHeight + 8;

  .required{
    color:$errorColor;
  }
}
.labelCheck{
  color:$middleFontColor;
  margin-left:$space/4;
}
/** a.labelText appears in certain FOM templates (User listing). Must respecify rule to defeat global a { color:inherit } */
.labelText, a.labelText {
  color: $ciColor;
}

.description{
  color:$middleFontColor;
  font-style:italic;
  @extend .smallText;
}
