{% extends 'MapbenderCoreBundle:Template/regional:bootstrap.base.html.twig' %}

{% block body %}
    <table class="regions">
        <tbody>

        {% if block('top') is not empty %}
            <tr>
                <td class="region top" colspan="3"><div class="content">{% block top %}{% endblock %}</div></td>
            </tr>
        {% endif %}

        <tr>
            {% if block('left') is not empty %}
                <td class="region left" style="position: relative"><div class="content">{% block left %}{% endblock %}</div><a href="#" onclick="regions.left.toggle()" class="btn btn-icon fa-angle-double-left btn-toggle right-region-toggle"></a></td>
            {% endif %}

            {% if block('center') is not empty %}
                <td class="region center"><div class="content">{% block center %}{% endblock %}</div></td>
            {% endif %}

            {% if block('right') is not empty %}
                <td class="region right"><div class="content">{% block right %}{% endblock %}</div></td>
            {% endif %}
        </tr>

        {% if block('bottom') is not empty %}
            <tr>
                <td class="region bottom" colspan="3"><div class="content">{% block bottom %}{% endblock %}</div></td>
            </tr>
        {% endif %}

        </tbody>
    </table>
    <script type="text/javascript">
        $(function () {
            var $regions = $(".regions");
            var regions = {};
            var isIE = $('html').is('.ie6, .ie7, .ie8, .ie9');
            var i =1;
            $.each(['top','bottom','left','center','right'],function(i,name){
                var region = $regions.find("td." + name + "");
                region.data('name', name);
                region.data('height', region.height());
                region.data('width', region.width());

                region.find(' > .content').css('background-color','#'+(i*20)+''+(i*20)+''+(i*20)+'' )
                i++;

                region.bind('close', function (e) {
                    var td = $(e.currentTarget);
                    var content = td.find(' > .content');
                    var tr = td.parent();
                    var name = td.data('name');

                    td.data('closed',true);
                    content.css('overflow', 'none');

                    switch (name) {
                        case 'bottom':
                        case 'top':
                            td.animate({'height': 1}, 400, function () {
                                tr.css('display', 'none');
                            });
                            break;

                        case 'left':
                        case 'right':
                            td.animate({'width': 1}, 400, function () {
                                td.css('display', 'none');
                            });
                            break;
                    }
                }).bind('open', function (e) {
                    var td = $(e.currentTarget);
                    var content = td.find(' > .content');
                    var tr = td.parent();
                    var name = td.data('name');

                    td.data('closed', false);
                    content.css('overflow', 'none');

                    switch (name) {
                        case 'bottom':
                        case 'top':
                            tr.css('display', '');
                            td.animate({'height': td.data('height') + 'px'}, 400, function () {
                                content.css('overflow', 'auto');
                            });
                            break;

                        case 'left':
                        case 'right':
                            td.css('display', '');
                            td.animate({'width': td.data('width') + 'px'}, 400, function () {
                                content.css('overflow', 'auto');
                            });
                            break;
                    }
                }).bind('toggle', function (e) {
                    var td = $(e.currentTarget);
                    td.data('closed') ? td.trigger('open') : td.trigger('close');
                });

                regions[name] = region;
            });
            window.regions = regions;

            function calculate() {
                var h = $(window).height() - (regions.top.find('> .content').height() + regions.bottom.find('> .content').height());
                $.each(['left', 'center', 'right'], function (k, name) {
                    var region = regions[name];
                    regions[name].height(h);
                })
            }

            var $window = $(window);
            $window.on('resize', calculate);
            calculate();
        })
    </script>
{% endblock %}