{% extends "MapbenderManagerBundle:Repository:index.html.twig" %}

{% block list_actions %}
{% if create_permission %}
<div class="content-box content-box-md">
    <a href="{{ path('mapbender_manager_repository_new') }}">
      <i class="fa fas fa-plus fa-lg"></i>
      <span>{{ 'mb.manager.admin.source.add' | trans }}</span>
    </a>
</div>
{% endif %}
{% endblock %}

{% block manager_content %}
    {%- set list_id = 'listFilterServices' -%}
    {%- set list_class = 'listFilterServiceBoxes' -%}
    {{ parent() }}
{% endblock %}

{%- block boxlist_item_content -%}
{%- set source = item -%}
    {{ parent() }}
{%- endblock %}
