{# @todo: transient restructuring template; should later be baked into a proper source view base template block and removed again #}
<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.version" | trans }}:</div>
<div class="metaText">{{ source.version }}</div>
<div class="clearContainer"></div>
