<table>
  <tbody>
    {%- block source_details_rows -%}
    <tr><th>{{ "mb.manager.source.metadata.version" | trans }}:</th><td>{{ source.version }}</td></tr>
    {%- endblock source_details_rows -%}
  </tbody>
</table>
