@font-face {
  $src:  "bundles/mapbendercore/fonts/opensans_regular_macroman/OpenSans-Regular-webfont";
  $name: 'open_sansregular';
  font-family: $name;
  src: url($src + '.eot');
  src: url($src + '.eot?#iefix') format('embedded-opentype'),
  url($src + '.woff') format('woff'),
  url($src + '.ttf') format('truetype'),
  url($src + '.svg#' + $name) format('svg');
  font-weight: normal;
  font-style: normal;
}

