<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php.cache" >

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../src/*/*Bundle/Tests</directory>
            <directory>../src/*/Bundle/*Bundle/Tests</directory>
            <directory>../mapbender/src/*/*Bundle/Tests</directory>
            <directory>../mapbender/src/*/Bundle/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <!--
    <php>
        <server name="KERNEL_DIR" value="/path/to/your/app/" />
    </php>
    -->

    <filter>
        <whitelist>
            <directory>../src</directory>
            <directory>../mapbender/src</directory>
            <directory>../owsproxy/src</directory>
            <directory>../fom/src</directory>
            <exclude>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
                <directory>../mapbender/src/*/*Bundle/Resources</directory>
                <directory>../mapbender/src/*/*Bundle/Tests</directory>
                <directory>../mapbender/src/*/Bundle/*Bundle/Resources</directory>
                <directory>../mapbender/src/*/Bundle/*Bundle/Tests</directory>
                <file>../mapbender/src/Mapbender/Example.php</file>
                <directory>../owsproxy/src/*/*Bundle/Resources</directory>
                <directory>../owsproxy/src/*/*Bundle/Tests</directory>
                <directory>../owsproxy/src/*/Bundle/*Bundle/Resources</directory>
                <directory>../owsproxy/src/*/Bundle/*Bundle/Tests</directory>
                <directory>../fom/src/*/*Bundle/Resources</directory>
                <directory>../fom/src/*/*Bundle/Tests</directory>
                <directory>../fom/src/*/Bundle/*Bundle/Resources</directory>
                <directory>../fom/src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"   target="../../testresults/coverage" charset="UTF-8" />
        <log type="coverage-clover" target="../../testresults/clover.xml" charset="UTF-8" />
        <log type="junit"           target="../../testresults/junit.xml" logIncompleteSkipped="false" />
    </logging>

</phpunit>
