{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.admin.source.new.add' | trans }}{% endblock %}

{% block css %}
  {{parent()}}
{% endblock %}

{% block manager_content %}

{% for manager in managers %}
  {% render controller(manager.startAction) %}
  <div class="clearContainer"></div>
{% endfor %}

{% endblock %}
