{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.admin.source.new.add' | trans }}{% endblock %}

{% block css %}
  {{parent()}}
  {% stylesheets filter="compass,cssrewrite"
    "bundles/mapbendermanager/sass/services.scss"
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block manager_content %}

{% for manager in managers %}
  {% render manager.startAction %}
  <div class="clearContainer"></div>
{% endfor %}

{% endblock %}