{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Add Service' | trans }}{% endblock %}

{% block manager_content %}

{% for manager in managers %}
  {% render manager.startAction %}
  <div class="clearContainer"></div>
{% endfor %}

{% endblock %}
