.elementFormPrintClient {
  $label: 110px;
  .labelInput {
    width: $label;
  }
  .checkWrapper {
    margin-bottom: $space/2;
  }
  .labelCheck {
    margin-right: $space;
  }
  .singleRow {
    .labelInput, & > .input {
      float: left;
    }
    .labelInput {
      width: 25px;
      margin-right: $space/2;
    }
    .left:first-child {
      margin-right: $space;
    }
    .inputWrapper {
      width: 120px;
    }
  }
}
