.elementFormToolbar {
  $label: 80px;
  .labelInput {
    width: $label;
  }
  .checkWrapper {
    margin-bottom: $space/2;
  }
  .labelCheck {
    margin-right: $space;
  }
  select {
    margin-bottom: $space/2;
  }
  .singleRow {
    .labelInput, & > .input {
      float: left;
    }
    .labelInput {
      width: 15px;
      margin-right: 5px;
    }
    .input {
      width: 125px;
      &:first-child {
        margin-right: $space/2;
      }
    }
  }
}
