.toolBar {
  color: #222;
  &.top {
    background: linear-gradient(0deg, rgba(255,255,255,0.9), rgba(255,255,255,0.7));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: 1.6rem;
    line-height: 1;
    .toolBarItem {
      line-height: inherit;
      span {
        line-height: 1;
      }
      [class^="icon"], [class*=" icon"] {
        vertical-align: initial;
      }
      .iconBig {
        font-size: inherit;
        &:before {
          font-size: inherit
        }
      }
    }
  }
  &.bottom {
    background: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.9));
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
  }
}

.toolBar.top .toolBarItem.logoContainer {
  position: unset;
  z-index: unset;
  background: unset;
  margin: unset;
  display: unset;
  padding: 0; // use padding pixels for more of the logo
}
.logo {
  max-height: 29px; //HACK; =line-height + toolBarItem vertical padding
}
.sidePane.left {
  float: none;
}
.map-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  .map-overlay-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    div.toolBar {
      flex: 0;
    }
    div.sidePane {
      position: initial;
      flex: 1;
    }
    div.toolBar, div.sidePane {
      position: initial;
    }
    > * {
      pointer-events: initial;
    }
  }
}

.map-overlay, .map-overlay-column {
  pointer-events: none;
}

.sidePane {
  width: initial;
  max-width: 450px;
  &:after {
    clear: both;
  }
  .sideContent {
    position: unset;
  }
  background: linear-gradient(0deg, rgba(33, 33, 33, 0.85), rgba(33, 33, 33, 0.95));
  color: #fff;
  // Make Legend and maybe other images visible against inverted background
  img {
    background: rgba(192, 192, 192, 0.85);
    padding: $radius;
    border-radius: $radius;
  }
}
