.toolBar {
  color: #222;
  &.top {
    background: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.45));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  &.bottom {
    background: linear-gradient(0deg, rgba(255,255,255,0.45), rgba(255,255,255,0.65));
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

