$textColor: #222 !default;
$backgroundColor: #fff !default;

$accordionFontSize: 1.6rem;
$accordionBackgroundColor: #777;
$accordionTextColor: #ddd;
$accordionActiveBackgroundColor: #888;
$accordionActiveTextColor: #fff;
$accordionHoverBackgroundColor: #888;

$sliderHandleBackgroundColor: #a3a3a3;
$sliderHandleBorderColor: $accordionActiveBackgroundColor;
$sliderHandleTextColor: $accordionActiveTextColor;

$sidepaneTextColor: $textColor;
$sidepaneBackground: linear-gradient(0deg, rgba($backgroundColor, 0.85), rgba($backgroundColor, 0.95));

$toolBarBorderColor: #ccc;
$toolBarTopBackground: linear-gradient(0deg, rgba($backgroundColor, 0.9), rgba($backgroundColor, 0.7));
$toolBarBottomBackground: linear-gradient(0deg, rgba($backgroundColor, 0.7), rgba($backgroundColor, 0.9));

$sidepaneButtonFontSize: 1rem;
$sidepaneBorderColor: #ccc;
$sidepaneButtonBackgroundColor: transparent;
$sidepaneButtonTextColor: $textColor;
$sidepaneButtonActiveTextColor: $sidepaneButtonTextColor;
$sidepaneButtonActiveBackgroundColor: mix($sidepaneButtonBackgroundColor, $sidepaneButtonTextColor, 92%);
$sidepaneButtonHoverColor: mix($sidepaneButtonBackgroundColor, $sidepaneButtonTextColor, 96%);
$sidepaneButtonBorderColor: mix($sidepaneButtonBackgroundColor, $sidepaneButtonTextColor, 50%);

$panelBorderColor: #888;
