@import "libs/variables";
@import "bundles/mapbendercore/sass/template/fullscreen_variables.scss";
@import "libs/mixins";
@import "libs/icons";
@import "theme/mapbender3";

.form-control-feedback {
  position: absolute;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  pointer-events: none;
  margin-top: -29px;
}

body {
  overflow: hidden;
}

.contentPane {
  // prevent invisible contained elements from gaining size; a sized contentPane breaks popup
  // positioning on drag / resize
  height: 0;
  overflow-y: hidden;
}

/*
  Override bootstrap standard declaration
*/
.modal-body {
  &.confirm-dialog{
    padding: 5px;
  }

  .nav.nav-tabs.ui-tabs-nav {
    padding: 0;
  }

  .form-group {
    margin-bottom: 5px;
    position: relative;
  }
  label {
    color: #707070;
  }
  label, .form-control {
    font-size: 11px
  }
  .form-control {
    border-radius: 0;
  }
  hr {
    display: block;
    clear: both;
    height: 1px;
    border-bottom: 1px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn {
    $mainColor: #6FB536;
    border-radius: 0;
    font-size: 11px;
    padding: 4px 9px;
    border-color: #538E24;
    background-color: $mainColor;
    color: #ffffff;
    &:hover, &:focus {
      background-color: darken($mainColor, 10%);
    }
  }

  // Tab-Navigator
  .tab-content.ui-tabs-panel {
    overflow: visible;
  }
  // Vis-ui legacy construct alert: fieldsets are used as a standin of .form-inline but with
  // label placement above input.
  // Luckily, these all have the form-group class added
  fieldset.form-group {
    > .form-group {
      display: inline-block;
      padding-right: 15px;
    }
  }
}

/**
* Notify JS settings
*/
.notifyjs-container {
  border-radius: 8px;
  box-shadow: -2px 2px 16px 0px rgba(0, 0, 0, 0.75);
  font-size: $uiFontSize;

  .notifyjs-bootstrap-base {
    padding: 6px 6px 4px 25px;
  }
}

.logoContainer {
  float: left;
  .project-name {
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
  }
}


.toolBar {
  opacity: 1; // avoid applying opacity twice (gradient + $toolBarOpacity)
  &.top {
    background: linear-gradient(0deg, rgba($toolBarBackgroundColor, 0.9), rgba($toolBarBackgroundColor, 0.7));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    // scale button icons and text all to the same size, undoing .iconBig
    font-size: 1.6rem;
    .toolBarItem {
      .iconBig {
        vertical-align: initial;
        font-size: inherit;
      }
    }
  }
  &.bottom {
    background: linear-gradient(0deg, rgba($toolBarBackgroundColor, 0.7), rgba($toolBarBackgroundColor, 0.9));
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
.toolBar.top {

  >ul .toolBarItem {
    border-radius: 2 * $radius;
    &.logoContainer {
      border-radius: 0;
      padding: 0; // use padding pixels for more of the logo
    }
  }
  >ul .toolBarItem + .toolBarItem {
    margin-left: 0.5rem;
  }
}


.logo {
  max-height: 29px; //HACK; =line-height + toolBarItem vertical padding
}
.collapse-toggle {
  color: #444;
  background: #ccc;
}

.sidePane {
  &:after {
    clear: both;
  }
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95));
  color: #222;
}

.mb-element-layertree, .mb-element-basesourceswitcher {
  font-size: 1.1rem;
}
