$sliderHandleBackgroundColor: #777;
$accordionBackgroundColor: #777;
$accordionTextColor: #ddd;
$accordionActiveBackgroundColor: #888;
$accordionActiveTextColor: #fff;
$accordionHoverBackgroundColor: #888;
