@import "libs/variables";
@import "libs/mixins";


/* -------------------------------------------------------------- LOGO */
.logoContainer{
  position: relative;
  z-index: 10;
  display: inline-block;
  padding:$space/2 $space;
  margin-left: $space;
  float:left;
  background-color: white;
}





/* ---------------------------------------------------------- CONTENT */
.templateWrapper{
  margin:0 auto;
  @include absolute(0 0 0 0);
}
.contentPane{
  width:100%;
  height:100%;
  @include absolute(0 '' '' 0);
  .left-top, .right-top, .left-bottom, .right-bottom{z-index: 1;}

  /* Positioning */
  .left-top{@include absolute($space*7 '' '' $space);}
  .right-top{@include absolute($space*3 $space '' '');}
  .left-bottom{@include absolute('' '' $space*3 $space);}
  .right-bottom{@include absolute('' $space $space*3 '');}
}





/* --------------------------------------------------------- TOOLBARS */
.toolBar{
  z-index:4;
  &.top{position:relative;}
  &.bottom{@include absolute('' 0 0 0);}
}





/* --------------------------------------------------------- SIDEPANE */
$tabSize:32px;
.sidePaneTabs{
  width: $tabSize;
  height: $tabSize;
  @include absolute(40% '' '' '');
  @include transition(all 0.3s ease-in-out);
}
.sidePane{
  width:10px;
  z-index:20;

  &.notCollapsable{
    .sidePaneTabs{display:none;}
  }

  &.left{
    @include absolute(120px '' $space*3 0);
    .sidePaneTabs{right:-$tabSize;}
  }
  &.right{
    @include absolute(80px 0 $space*3 '');
    .sidePaneTabs{left:-$tabSize;}
  }
  .sideContent{@include stretch();}
}
.sidePaneOpened .sidePane{width:350px;}

