$textColor: #222 !default;
$backgroundColor: #fff !default;

$ciColor: #279ddc; // blue
$toolBarBorderColor: rgba($ciColor, 0.6);

$sidepaneBackground: linear-gradient(0deg, rgba($backgroundColor, 0.85), rgba($backgroundColor, 0.95));

$accordionFontSize: 1.1rem;
$accordionBackgroundColor: $sidepaneBackground;
$accordionTextColor: #343232;
$accordionActiveBackgroundColor: $sidepaneBackground;
$accordionActiveTextColor: $ciColor;
$accordionHoverBackgroundColor: $sidepaneBackground;

$sliderHandleBackgroundColor: #a3a3a3;
$sliderHandleBorderColor: $accordionActiveBackgroundColor;
$sliderHandleTextColor: $accordionActiveTextColor;


$toolBarBorderColor: #ccc;
$toolBarTopBackground: linear-gradient(0deg, rgba($backgroundColor, 0.9), rgba($backgroundColor, 0.7));
$toolBarBottomBackground: linear-gradient(0deg, rgba($backgroundColor, 0.7), rgba($backgroundColor, 0.9));
$toolBarButtonActiveBackgroundColor: $ciColor;


$sidepaneButtonFontSize: 1rem;
$sidepaneBorderColor: #ccc;
$sidepaneButtonBackgroundColor: transparent;
$sidepaneButtonTextColor: $textColor;
$sidepaneButtonActiveTextColor: $sidepaneButtonTextColor;
$sidepaneButtonActiveBackgroundColor: mix($sidepaneButtonBackgroundColor, $sidepaneButtonTextColor, 92%);
$sidepaneButtonHoverColor: mix($sidepaneButtonBackgroundColor, $sidepaneButtonTextColor, 96%);
$sidepaneButtonBorderColor: mix($sidepaneButtonBackgroundColor, $sidepaneButtonTextColor, 50%);

$panelBorderColor: #b9BABC;
