@import "libs/variables";
@import "libs/mixins";
@import "libs/icons";

.templateWrapper{
  height: 100%;
  width: 100%;
  @include absolute(0 0 0 0);

  &[data-state="open"]{
    .infoContainerPane{max-height: 80px;}
    .infoContainerTrigger{
      bottom: $space*4;
      border-bottom-right-radius:0;
      border-bottom-left-radius:0;
    }
    .mb-element-overview{bottom: $space*5;}
    @include smartphones(){
      .mb-element-zoombar{bottom: $space*5;}
    }
  }
}

/* -------------------------------------------------------------- LOGO */
.logoContainer{
  z-index: 10;
  background:none;
  @include absolute($space '' '' $space);
}





/* ----------------------------------------------------------  TOOLBAR */
.toolBar{
  z-index: 4;
  padding: .6em .8em;
  margin-left: $space*3;
  @include frontendContainerStyle();
  border-radius: 4px;
  @include absolute($space $space '' '');

  & > li{
    display:inline-block;
    &:not(:first-child):before{
      content: '|';
      display: inline-block;
      height: 14px;
      overflow: hidden;
      opacity: 0.2;
      vertical-align: top;
      margin: 1px 4px 0 4px;
    }
  }
}
li.toolBarMoreButton{
  display: none;
  position: relative;
  &[data-state="show"]{display: inline-block};
  i:before{font-style:normal;}
}
.toolbarMoreMenu{
  display: none;
  padding: 6px;
  @include absolute($space*3 (-$space/2) '' 5px);
  @include frontendContainerStyle();
  border-radius: 4px;
  &[data-state="show"]{display: block};

  // small arrow left
  &:after{
    $arrowSize: 8px;
    position: absolute;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    border-bottom-color: $firstColor;
    border-width: $arrowSize;
    top: (-$arrowSize*2);
    margin-left: -$arrowSize;
  }

  & > .toolBarItem{
    display: inline-block;
    width:100%;
    text-align:center;
    margin-top:8px;
    .mb-button:before{padding:0px;}
  }
}






/* --------------------------------------------------- INFO CONTAINER */
.infoContainerTrigger{
  cursor: pointer;
  z-index: 10;
  padding: 6px 12px;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  @include transition(all .2s ease-in-out);
  @include absolute('' '' $space $space);
  @include frontendContainerStyle();
  border-radius: 4px;
}
.infoContainerPane{
  max-height:0;
  height:100%;
  z-index: 10;
  @include absolute('' 0 0 0);
  @include transition(all .2s ease-in-out);
  @include frontendContainerStyle();
  border-radius: 0;
}










/* ---------------------------------------------------------- CONTENT */
.contentPane{
  overflow:hidden;
  @include absolute(0 0 0 0);
}

.mb-element-overview{

  @include smartphones(){
    display:none !important;
  }

  position: absolute;
  right: $space;
  bottom: $space;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  opacity: 1;
  @include transition(all .2s ease-in-out);

  .overviewContainer{
    opacity: 1;
    @include transition(opacity .2s ease-in-out);
  }

  &.closed{
    .overviewContainer{
      width: 0;
      height: 0;
      opacity: 0;
    }

    .toggleOverview{
      z-index: 10;
      padding: 6px 12px !important;
      right: 0 !important;
      bottom: 0 !important;
      top: inherit !important;
      left: inherit !important;
      border-radius: 4px !important;
    }
  }

  .toggleOverview{
    font-size: 14px !important;
    cursor: pointer;
    z-index: 30;
    padding: 2px 7px !important;
    right: -3px !important;
    bottom: -3px !important;
    top: inherit !important;
    left: inherit !important;
    border-radius: 0 !important;
    @include transition(padding .2s ease-in-out);
    @include frontendContainerStyle();
  }
  .olMapViewport{border:none !important;}
}
.olControlOverviewMapElement{
  @include absolute('' -3px -3px '');
  z-index:20;
  .olMap{
    border: 2px solid rgba(0,0,0,0.8);
  }
}

.mb-element-zoombar{
  z-index: 30;
  @include transition(all .2s ease-in-out);

  @include desktops(){
    @include absolute($space*4 $space '' '');
  }

  @include smartphones(){
    .zoomSliderLevels, .zoomBox, .pan, .history{display:none !important;}
    .toolPane{padding:6px 10px;}
    @include absolute('' $space $space '');
    top: auto !important;
  }
}
