{% extends 'MapbenderCoreBundle::backend.html.twig' %}

{% block subnavigation %}
<nav>
    <h1>Group Navigation</h1>
    <ul>
      <li><a href="{{ path('mapbender_core_group_create') }}">{% trans %}Add Group{% endtrans %}</a></li>
    </ul>
</nav>

{% endblock %}
{% block body %}
    <div class="content">
    {% block content %} {% endblock %}
    </div>
{% endblock %}

