{% extends "MapbenderCoreBundle::frontend.html.twig" %}

{% block frontend_content %}
  {% set sidePaneClosed = region_props.sidepane.properties.closed|default(false) %}
  <div id="templateWrapper" class="templateWrapper">
    <div id="content" class="contentPane">
      {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'application': application, 'region': 'content' }%}
    </div>
    <div class="map-overlay">
      <div class="map-overlay-column sidePaneOpened">
        <div class="toolBar top">
          <ul id="toolbar" class="itemsRight">
                <li class="toolBarItem logoContainer">
                  {% block logo %}
                    <img class="logo" src="{{ asset(fom.server_logo) }}"/>
                  {% endblock %}
                </li>
              {% for element in application.elements('toolbar') %}
                <li class="toolBarItem">{{ element.render() | raw }}</li>
              {% endfor %}
          </ul>
        </div>
        {% if application.elements['sidepane'] is defined %}
          {% set properties = region_props['sidepane'].properties|default({}) %}

        <div class="sidePane left" data-closed="{{ properties.closed | default('false') }}">
          <div class="sideContent">
            {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'application': application, 'region': 'sidepane' } %}
          </div>
          <span class="toggleSideBar"><i class="fa fas fa-bars"></i></span>
        </div>

        {% endif %}{# sidepane #}
        <div class="toolBar bottom">
          <ul class="itemsRight">
          {% for element in application.elements('footer')%}
            <li class="toolBarItem">{{ element.render() | raw }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
