{% extends "MapbenderCoreBundle::frontend.html.twig" %}
{% block frontend_content %}

  <div id="templateWrapper" class="templateWrapper sidePaneOpened">
    <div id="content" class="contentPane">
      <div class="logoContainer">
        <img class="logo" height="80" src="{{ asset(fom.server_logo)}}" />
      </div>
      <ul id="toolbar" class="toolBar itemsLeft top">
        {% if application.elements.toolbar is defined %}
          {% for element in application.elements.toolbar %}
            <li class="toolBarItem">{{ element.render() | raw }}</li>
          {% endfor %}
        {% endif %}
      </ul>
      {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'region_props': region_props, 'application': application, 'region': 'content' }%}
      <div id="sidepane" class="clear sidePane right">
        <ul class="sidePaneTabs">
          <li class="sidePaneTabItem toggleSideBar collapse-toggle"></li>
        </ul>
        <div class="sideContent">
          {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'region_props': region_props, 'application': application, 'region': 'sidepane' }%}
        </div>
      </div>

      <ul id="footer" class="toolBar itemsRight bottom">
      {% if application.elements.footer is defined %}
        {% for element in application.elements.footer %}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
        {% endfor %}
      {% endif %}
    </ul>
    </div>
  </div>
{% endblock %}
