{% extends "MapbenderCoreBundle::frontend.html.twig" %}

{% block frontend_content %}

  <div id="templateWrapper" class="templateWrapper">
    <div class="logoContainer">
      <img class="logo" height="40" alt="Mapbender 3 Manager" src="{{ asset(fom.server_logo)}}" />
    </div>

    <ul id="toolbar" class="toolBar" data-height="24">
      {% if application.elements.toolbar is defined %}
        {% for element in application.elements.toolbar %}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
        {% endfor %}
      {% endif %}
      <li id="toolbarMoreButton" class="toolBarMoreButton">
        <i class="iconMore iconBig"></i>
        <ul id="toolbarMoreMenu" class="toolbarMoreMenu"></ul>
      </li>
    </ul>

    <div id="content" class="contentPane">
      {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'region_props': region_props, 'application': application, 'region': 'content' }%}
      <div id="infocontainerTrigger" class="infoContainerTrigger iconMenu"></div>
    </div>

    <ul id="infocontainer" class="infoContainerPane">
      {% if application.elements.footer is defined %}
        {% for element in application.elements.footer %}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
        {% endfor %}
      {% endif %}
    </ul>

  </div>
{% endblock %}
