<div class="container-filter">
    <div class="filter-input-container"> 
      <label for="inputFilterUsers" class="labelInput testInputLabel left">{{"fom.user.user.index.filter"|trans}}</label>
      <input id="inputFilterUsers" type="text" class="input left listFilterInput"/>
      <span class="iconSearch"></span>
    </div>
  </div>
