<div class="container-filter">
    <span class="filter-input-container text-nowrap">
        <label for="inputFilterApplications">{{ "mb.actions.filter" | trans}}</label>
        <input data-filter-target="{{filterTargetId}}" type="text" class="input listFilterInput">
        <span class="iconSearch"></span>
    </span>
</div>
