<div class="container-filter">
    <div class="content-box content-box-md">
        <div class="filter-group">
            <label for="list-filter">{{ "mb.actions.filter" | trans}}</label>
            <input id="list-filter" data-filter-target="{{filterTargetId}}" type="text" class="input listFilterInput">
            <i class="fa fas fa-lg fa-search"></i>
        </div>
    </div>
</div>
