<div class="elementForm">
    <div>
        <div class="left">{{ form_row(form.configuration.maximized) }}</div>
        <div class="left">{{ form_row(form.configuration.fixed) }}</div>
        <div class="clearContainer"></div>
    </div>
    {{ form_row(form.title) }}
    {{ form_rest(form.configuration) }}
</div>