<div class="defaultForm elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>


    {% for configuration in form.configuration %}
        {{ form_label(configuration)}}  {{ form_widget(configuration) }}
        <div class="clearContainer"></div>
    {% endfor %}
</div>