{% for class, meta in elements %}
<div class="elementContainer" data-tags="{{ meta.tags | join(',') | lower }}">
    <a class="linkButton" href="{{ path('mapbender_manager_element_new', {'slug': app.request.get('slug'), 'class': class, 'region': region}) }}">{{ meta.title }}</a>
    <span class="description">{{ meta.description | trans }}</span>
    <div class="clearContainer"></div>
</div>
{% endfor %}