{% include 'MapbenderManagerBundle::fragments/filter-group.html.twig' with {filterTargetId: 'listFilterElements'} %}

    <ul id="listFilterElements">
    {% for class, meta in elements %}
        <li class="filterItem">
            <a class="checkContainer chooseElement" href="{{ path('mapbender_manager_element_new', {'slug': app.request.get('slug'), 'class': meta.class, 'region': region}) }}" data-element-title="{{ meta.title }}">
                <h3>{{ meta.title }}</h3>
                <div>{{ meta.description }}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
