{{ form_row(form.configuration) }}
<p class="help">{% trans with {'%locale%': app.session.locale} %}
Use the <a href="http://www.wikipedia.org/search-redirect.php?search=yaml&language=%locale%">YAML</a> format to describe the element's configuration.
{% endtrans %}</p>

