{% extends "MapbenderCoreBundle:Group:base.html.twig" %}

{% block title %}{% trans %}Delete{% endtrans %} '{{ group.name }}'{% endblock %}

{% block content %}
  <div class="message">
    <p>{% trans %}Really Delete{% endtrans %} '{{group.name }}' ?</p>
    <form action="{{path("mapbender_core_group_delete",{"groupId":group.id})}}" method="post">
      <button>{% trans %}Delete{% endtrans%}</button>
      <a class="button" href="{{ path("mapbender_core_group_edit",{'groupId': group.id}) }}">{% trans %}Cancel{% endtrans %}</a>
    </form>
  </div>
{% endblock %}

