<div class="elementForm wideLabelForm">
    <div class="left">
        {{ form_row(form.configuration.auto_activate) }}
    </div>
    <div class="left">
        {{ form_row(form.configuration.deactivate_on_close) }}
    </div>
    {{ form_row(form.title) }}
    {{ form_rest(form.configuration) }}
</div>