{% extends "MapbenderCoreBundle::backend.html.twig" %}

{% block title %} {{ 'Require password' | trans}} {% endblock %}

{% block wrapperclass %}hero-unit{% endblock %}

{% block content %}
<h1>{{ 'Forgot password' | trans}}</h1>
<div id="frame">
    <p>{{ 'The new password was sent to your e-mail.'|trans|raw }}</p>
</div>
{% endblock %}
