{% extends "MapbenderCoreBundle::backend.html.twig" %}

{% block title %} {{ 'Register' | trans}} {% endblock %}

{% block wrapperclass %}hero-unit{% endblock %}

{% block content %}
<h1>{{ 'Your registration' | trans}}</h1>
<div id="frame">
    <p>{{ 'The account cannot be activated.'|trans|raw }}</p>
</div>
{% endblock %}