{{'<p>Hallo %user_username%,</p><p>You have just recently registered.To conclude your registration, please, click please <a href="%url%">here</a>.</p>'|
trans({'%user_username%': user.username,'%url%': url('mapbender_manager_user_registerconfirm', { 'token': user.registrationtoken })})|raw }}