<span id="{{ id }}" class="mb-aboutButton" title="{{ configuration.tooltip|default(title)|trans }}"><span class="iconAbout iconBig"></span>{% if configuration.label %}<span>{{ title|trans }}</span>{% endif %}</span>
