<span id="{{ id }}" class="mb-aboutButton iconAbout iconBig" title="{{ "mb.core.aboutdialog.title" |trans }}">{% if configuration.label %}{{ "mb.core.aboutdialog.menu.title"|trans }}{% endif %}</span>
