  {% if icon %}
  <span class="iconBig">{{- icon_markup(icon) | raw -}}</span>
  {%- endif -%}
  {%- if show_label or not icon -%}
  <span{% if icon %} class="hidden-sm hidden-xs hidden-md-down"{% endif %}>{{ label|trans }}</span>
  {%- endif -%}
