    {% if label %}
        {{ label | trans }}
    {% else %}
        <i class="fas fa-crosshairs" title="{{ "mb.core.coordinatesdisplay.class.title" | trans }}"></i>
    {% endif %}
    <span class="display-area" ></span>
