<span id="{{ id }}" class="mb-element mb-element-coordsdisplay {% if configuration.anchor is defined %} {{configuration.anchor}} {% endif %}">
    {% if configuration.label == true %}
        {{ title| trans }} :
    {% endif %}
    <span class="iconCoordinates iconBig" id="coordinatesdisplay"></span>
</span>