<span id="{{ id }}" class="mb-element mb-element-coordsdisplay">
{% if configuration.label == true %}
    <label>{{ title| trans }}</label>
{% endif %}
    <span id="coordinatesdisplay"></span>
</span>