<span id="{{ id }}" class="mb-element mb-element-coordsdisplay {{configuration.anchor}}">
    {% if configuration.label == true %}
        {{ title| trans }}
    {% endif %}
    <span class="{% if configuration.label == false %}iconCoordinates{% endif %}" id="coordinatesdisplay"></span>
</span>
