<div id="{{ id }}" class="mb-element mb-element-coordsdisplay {{configuration.anchor}}">
    {% if configuration.label == true %}
        {{ title| trans }}
    {% else %}
        <span class="iconCoordinates"></span>
    {% endif %}
    <span class="display-area"></span>
</div>
