<div id="{{ id }}-div" class="mb-element-coordsdisplay-div">
{% if configuration.title is defined %}
    <label for="{{ id }}">{{ configuration.title|trans }}:</label>
{% endif %}
    <div id="{{ id }}" class="mb-element mb-element-coordsdisplay"><span></div>
</div>