<p>{{ helpText | trans }}</p>
<form enctype="multipart/form-data">
    <div id="dropFileArea" class="dropFileArea text-center mb-3 pt-3">
        <p class="mb-2">
            <i class="fa-regular fa-lg fa-file"></i>
        </p>
        <p class="mb-2">
            {{ 'mb.core.dataupload.text.filearea' | trans }}
        </p>
        <p class="small mb-2">
            <a id="fileUploadLink" class="link-primary" href="#">
                {{ 'mb.core.dataupload.text.fileupload' | trans }}
            </a>
        </p>
    </div>
    <input id="fileUploadField" class="d-none" name="files[]" type="file" multiple>
    <div class="row mb-3 px-1">
        <div class="col">
            <select id="projSelection" class="form-select form-select-sm">
                <option value="" selected>
                    {{ 'mb.core.dataupload.text.projection' | trans }}
                </option>
            </select>
        </div>
    </div>
</form>
<div class="table-responsive d-none">
    <table id="filesTable" class="table table-striped mt-3 my-1">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
