<div id="{{ id }}" class="mb-element mb-element-featureinfo hidden" data-title="{{ title |trans }}">
    <div id="js-error-featureinfo" class="error hidden">{{ "mb.core.featureinfo.error.nolayer" | trans }}</div>
{% if configuration.displayType is not defined or configuration.displayType == '' %}
    <div class="js-header-parent js-content-parent">
        <div id="" class="js-header js-header-content" data-idname="common"></div>
        <div id="" class="js-content js-content-content" data-idname="content"></div>
    </div>
{% elseif configuration.displayType == 'tabs' %}
    <div class="tabContainer js-content-parent">
        <ul class="tabs js-header-parent">
            <li id="" class="tab js-header js-header-content" data-idname="tab"></li>
        </ul>
        <div id="" class="container js-content js-content-content" data-idname="container"></div>
    </div>
{% elseif configuration.displayType == 'accordion' %}
    <div class="accordionContainer js-header-parent js-content-parent">
        <div id="" class="accordion js-header" data-idname="accordion">
            <div class="tabcell js-header-content"></div>
        </div>
        <div id="" class="container-accordion js-content" data-idname="container">
            <div class="accordion-cell">
                <div class="accordion-wrapper">
                    <div class="js-content-content"></div>
                </div>
            </div>
       </div>
    </div>
{% endif %}
</div>
