<div class="-js-placeholder">{{ 'mb.core.featureinfo.placeholder' | trans }}</div>
<div class="hidden -js-no-content">{{ 'mb.core.featureinfo.no_results' | trans }}</div>

{% if displayType | default('tabs') == 'tabs' %}
    <div class="tabContainerAlt js-content-parent hidden">
        <ul class="tabs js-header-parent ui-helper-clearfix">
            <li class="tab js-header" tabindex="0"></li>
        </ul>
        <div class="container js-content js-content-content"></div>
    </div>
{% else %}
    <div class="accordionContainer js-header-parent js-content-parent">
        <div class="accordion js-header" tabindex="0">
        </div>
        <div class="container-accordion js-content">
            <div class="accordion-cell js-content-content"></div>
       </div>
    </div>
{% endif %}
{%- set script_content = '' -%}
{%- for script_template in iframe_scripts -%}
  {%- set script_content = script_content ~ script_template -%}
{%- endfor -%}
<div class="hidden -js-iframe-script-template" data-script="{{ script_content }}"></div>
