<div id="{{ id }}" class="mb-element mb-element-featureeditor" title="{{ title|trans }}">

    <div id="page1">
        <table id="resulttable" >
            <thead>
                <tr id="tablehead"></tr>
            </thead>
            <tbody id="tablecontent">
            </tbody> 
        </table>
    </div>
    <div id="page2">
        <button id="backbutton">back</button>
            <form>
                <table id="form">
                </table>
            </form>
        <button id="savebutton">save</button>
        <button id="delbutton">delete</button>
        <br><br><br>
        <button id="showpositiondiv">edit Position</button>
        <div id="featureposition">
            <br>
            X:<input name="xposition" type="text" /><br>
            Y:<input name="yposition" type="text" /><br>
            <br>
            <button id="setposition">save Position</button>
        </div>
    </div>

</div>