<span id="{{ id }}" class="mb-gpsButton" title="{{ configuration.tooltip|default(title)|trans }}"><span class="iconBig {{ configuration.icon|default('iconGps') }}"></span>{% if configuration.label %}<span>{{ title|trans }}</span>{% endif %}</span>
