<button class="btn btn-primary btn-sm runShowBtn">Start Show</button>

<template id="interactiveHelpPopover">
    <div class="popover">
        <div class="popover-content">
            <h6></h6>
            <p></p>
            <button class="btn btn-primary btn-sm runShowBtn">
                weiter
            </button>
        </div>
    </div>
</template>
