<div class="hidden">
    <div class="loadingspinner loadingspinner--legend">
        <div class="loadingspinner__inner">
            <div></div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>
