    <div class="overviewContainer" style="height: {{ height ~ 'px' }};"></div>
    {%- if show_toggle -%}
    <div class="toggleOverview collapse-toggle"><i class="fas {{ closed ? 'fa-plus' : 'fa-minus' }} fa-fw"></i></div>
    {%- endif -%}
