    <div class="overviewContainer" style="height: {{ height ~ 'px' }};"></div>
    {%- if show_toggle -%}
    <div class="toggleOverview collapse-toggle"><i class="fa fa-fw fas {{ closed ? 'fa-plus' : 'fa-minus' }}"></i></div>
    {%- endif -%}
