<div id="{{ id }}" class="mb-element mb-element-overview {{ configuration.anchor }}{{ configuration.maximized ? '' : ' closed' }}">
    <div id="mb-element-overview-map" class="overviewContainer">
        <div class="viewport" id="mb-overview-{{ id }}-viewport"></div>
    </div>
    <div class="toggleOverview"></div>
</div>
