<div id="{{ id }}" class="mb-element mb-element-overview">
    <div id="mb-element-overview-map" class="overviewContainer"></div>
    <div class="toggleOverview collapse-toggle"><i class="fa fas fa-minus"></i></div>
</div>
