<div class="input">
    <textarea class="form-control">{{ body | trans }}:</textarea>
</div>
<div class="output">
    <p>{{ 'mb.core.poi.text.snippet'|trans }}</p>
    <textarea class="form-control"></textarea>
    <div class="text-nowrap text-end">
        <button type="button" class="btn btn-sm btn-light popupClose">
            {{ 'mb.actions.close' | trans }}
        </button>
    </div>
</div>
