<div class="input">
    <textarea class="input">{{ body | trans }}:</textarea>
</div>
<div class="output">
    <p>{{ 'mb.core.poi.text.snippet'|trans }}</p>
    <textarea class="input"></textarea>
</div>
