<div class="mb-element mb-element-poi hidden" id="{{ id }}" title="{{ 'mb.core.poi.sharepoi'|trans }}">
    <div class="input">
    <form id="poiForm">
        <textarea id="body" class="input">{{ configuration.body | trans }}:</textarea>
    </form>
    </div>
    <div class="output">
    <p>{{ 'mb.core.poi.text.snippet'|trans }}</p>
    <textarea></textarea>
    </div>
</div>
