<span id="{{ id }}" class="mb-element mb-element-scaledisplay {{configuration.anchor}}">{% if configuration.displayPrefix is defined %}{{configuration.displayPrefix|trans}}{% endif %}<span></span>
</span>