{% if configuration.label == true %}
  <span class="labelInput">{{ "mb.core.scaleselector.title"|trans }}</span>
{% endif %}
<div id="{{ id }}" class="mb-element mb-element-scaleselector dropdown">
  <select class="hiddenDropdown" title="{{ "mb.core.scaleselector.title"|trans }}"></select>
  <div class="dropdownValue iconDown"></div>
  <ul class="dropdownList"></ul>
</div>
