{% if configuration.label == true %}
  <span class="labelInput">{{ title|trans }}</span>
{% endif %}
<div id="{{ id }}" class="mb-element mb-element-scaleselector dropdown">
  <select class="hiddenDropdown" id="scaleselector" title="{{ configuration.tooltip|default(title)|trans }}"></select>
  <div class="dropdownValue iconDown"></div>
  <ul class="dropdownList"></ul>
</div>