<div id="{{ id }}" class="mb-element mb-element-scaleselector">
{% if configuration.label == true %}
    <label for="scaleselector">{{ title|trans }} 1:</label>
{% endif %}
    <select id="scaleselector" title="{{ configuration.tooltip|default(title)|trans }}"></select>
</div>