{# Generate same markup as control button, but use fixed icon #}
<a class="-fn-share-link focus-highlight" tabindex="0" href="#">
  {%- include '@MapbenderCore/Element/control_button.html.twig' with {icon: 'iconShare' } -%}
</a>
