{# Generate same markup as control button, but use fixed icon #}
<div id="{{ id }}"
      title="{{ configuration.tooltip|default(title)|trans }}"
      class="mb-button mb-element-shareurl">
        <a class="-fn-share-link" href="#">
            <i class="fa fas fa-share-alt"></i>
              {% if configuration.label %}
              <span>{{ title|trans }}</span>
              {% endif %}
        </a>
</div>
