{# Generate same markup as control button, but use fixed icon #}
<a class="-fn-share-link" href="#">
  <i class="fa fas fa-share-alt iconBig"></i>
  {% if label %}
  <span class="hidden-sm hidden-xs hidden-md-down">{{ label | trans }}</span>
  {% endif %}
</a>
