{# Generate same markup as control button, but use fixed icon #}
<a class="-fn-share-link" href="#">
  {%- include 'MapbenderCoreBundle:Element:control_button.html.twig' with {icon: 'iconShare' } -%}
</a>
