<form>
    <div class="autocompleteWrapper inputWrapper">
        <input type="text" class="searchterm input"/>
    </div>
{% if delay == 0 %}
    <input type="submit" value="{{'mb.core.simplesearch.input.search'|trans }}"/>
{% endif %}
</form>
