<form>
    <div class="autocompleteWrapper">
        <div class="input-group">
            <input type="text" class="form-control searchterm" placeholder="{{ placeholder | trans }}" />
            <div class="input-group-addon clickable -fn-search" title="{{'mb.core.simplesearch.input.search'|trans }}"><i class="fa fas fa-search"></i></div>
        </div>
    </div>
</form>
