  {% if label is not empty %}
    <span class="labelInput">{{ label | trans }}</span>
  {% endif %}
  <div class="dropdown">
    <select class="hiddenDropdown" id="srsselector"></select>
    <div class="dropdownValue iconDown"></div>
    <ul class="dropdownList"></ul>
  </div>
