{% if configuration.label == true %}
  <span class="labelInput">{{ title|trans }}</span>
{% endif %}
<div id="{{ id }}" class="mb-element mb-element-srsselector" title="{{ configuration.tooltip|default(title)|trans }}">
  <div class="dropdown">
    <select class="hiddenDropdown" id="srsselector"></select>
    <div class="dropdownValue iconDown"></div>
    <ul class="dropdownList"></ul>
  </div>
</div>
