<div id="{{ id }}" class="mb-element mb-element-srsselector">
{% if configuration.label == true %}
    <label for="srsselector">{{ title|trans }}:</label>
{% endif %}
    <select id="srsselector" title="{{ configuration.tooltip|default(title)|trans }}"></select>
</div>