<div id="{{ id }}" class="mb-element mb-element-srsselector dropdown">
{% if configuration.label == true %}
    <label for="srsselector">{{ title|trans }}:</label>
{% endif %}
    <select class="hiddenDropdown" id="srsselector" title="{{ configuration.tooltip|default(title)|trans }}"></select>
    <div class="dropdownValue iconDown"></div>
    <ul class="dropdownList"></ul>
</div>