<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'mb.core.viewManager.title' | trans }}</th>
            <th>{{ 'mb.core.viewManager.date' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%- for record in records -%}
            {% include 'MapbenderCoreBundle:Element:view_manager-listing-row.html.twig' with {'record': record} %}
        {%- endfor -%}
        <tr class="placeholder-row">
            <td colspan="3" class="text-center">&ndash; {{ 'mb.core.viewManager.no_data' | trans }} &ndash;</td>
        </tr>
    </tbody>
</table>
