<div id="{{ id }}" class="mb-element mb-element-viewmanager">
    {%- if showSaving -%}
    <div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="title" class="form-control" required="required" placeholder="Titel eingeben..." value="">
                <span class="input-group-addon btn -fn-save-new" title="{# @todo: translate #}Speichern">
                    <i class="fa fas fa-save"></i>
                </span>
            </div>
        </div>
        {%- if showListSelector -%}
        <div class="form-group checkbox">
            <label><input name="save-as-public" type="checkbox">{# @todo: translate #}Öffentlicher Eintrag</label>
        </div>
        {%- endif -%}
    </div>
    {%- endif -%}
    <div class="ui-helper-clearfix -fn-loading-placeholder">
        <div class="pull-right"><i class="fa fas fa-spinner fa-spin"></i></div>
    </div>
</div>
