
.mb-element-scaleline{
  text-align: center;
  display: inline-block;
  .scaleBorder{
    border:{
      left:solid 2px $firstColor;
      right:solid 2px $firstColor;
      bottom:solid 2px $firstColor;
    }
    height:5px;
    @include absolute('' 0 0 0);
  }
}

.toolBar{
  .mb-element-scaleline{
    position: relative;
    bottom:5px;
    padding-bottom:5px;
    .scaleBorder{border-color:$lightFontColor}
  }
}