@mixin opacityAlpha($alpha) {
  /* Required for IE 5, 6, 7 */
  /* ...or something to trigger hasLayout, like zoom: 1; */

  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100);

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=$alpha*100);

  /* Older than Firefox 0.9 */
  -moz-opacity:$alpha;

  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: $alpha;

  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: $alpha;
}

.mb-element-zoombar{
  &.iconMove:before{
    @include absolute(-$space 0 '' '');
  }
  /**
  * Map navigation buttons
  */
  .pan{
    height: 49px;
    width: 49px;
    position:relative;
    @include border-radius(50%,50%);
    @include frontendContainerStyle();

    .iconTop{@include absolute(1px '' '' 18px);}
    .iconRight{@include absolute(15px 6px '' '');}
    .iconDown{@include absolute('' '' 1px 18px);}
    .iconLeft{@include absolute(15px '' '' 7px);}
  }
  /**
  * Map tools
  */
  .toolPane{
    margin:$space/2 5px 0px 5px;
    padding:5px 0px;
    @include border-radius($radius);
    @include frontendContainerStyle();

    & > li{margin:3px 0;}

    .iconBig {
      padding-left: 31px;
      &:before {
        @include opacityAlpha(0.7);
      }
      &:hover {
        &:before {
          @include opacityAlpha(1);
        }
      }
    }
    
  }
  .historyPrev, .historyNext{margin-left:5px;}
  .zoomBox{
    text-align:center;
    &.activeZoomIcon{
      .iconZoom{@include opacity(1);}
    }
  }
  .zoomWorld, .zoomSlider {
    text-align: center;
  }
  .zoomSliderLevels {
    margin: 0px;
  }

  .iconZoomLevel {
    font-size: 10px;
    line-height: 10px;
    position: relative;
    display: block;
    margin-top: 2px;
    margin-bottom: 8px;
    &:not(:first-child):after {
      content: '';
      height: 9px;
      border-left: dotted 1px white;
      @include absolute(-9px '' '' 19px);
      top: -8px;
    }
  }
  
  .iconZoomOut{
      position: relative;
      display:block;
      height: 17px;
      padding-left: 35px !important;
      margin-top: -3px;
  }
}

/**
* TODO: this is a wrong place for this declaration!
*/
.olMapViewport{
  &.MapbenderControlZoomBoxActive{cursor: crosshair;}
  .olHandlerBoxZoomBox {
    border: 2px solid $firstColor;
    background-color: white;
    @include opacity(.8);
  }
}
