{%extends 'MapbenderCoreBundle::backend.html.twig' %}

{% block subnavigation %}
<nav class="action">
    <h1>Monitoring Navigation</h1>
    <ul>
    </ul>
</nav>
{% endblock %}
{% block body %}
    <div class="content">
    {% block content %} {% endblock %}
    </div>
{% endblock %}