{% extends "MapbenderMonitoringBundle:MonitoringDefinition:base.html.twig" %}

{% block title %}{% trans %}Delete{% endtrans %} "{{ sp.title }}"{% endblock %}

{% block content %}
  <div class="message">
    <p>{% trans %}Really Delete{% endtrans %} "{{ sp.title }}" ?</p>
    <form action="{{path("mapbender_monitoring_schedulerprofile_delete",{"spId":sp.id})}}" method="post">
      <button>{% trans %}Delete{% endtrans%}</button>
      <a class="button" href="{{ path("mapbender_monitoring_schedulerprofile_index") }}">{% trans %}Cancel{% endtrans %}</a>
    </form>
  </div>
{% endblock %}
