{% extends '::base.html.twig' %} 

{% block navigation %}
{{ parent() }}
<ul class="navigation">
    <li><a href="{{ path('mb_wms_showadd')  }}">{% trans %}Add WMS{% endtrans %}</a></li>
    <li><a href="{{ path('mb_wms_index')  }}">{% trans %}Find WMS{% endtrans %}</a></li>
</ul>
{% endblock %}
