{% extends '::base.html.twig' %} 

{% block wms_navigation %}
<div class="action">
    <a href="{{ path('mb_wms_showadd')  }}">{% trans %}WMS registrieren{% endtrans %}</a>
</div>
<div class="action">
    <form class="search wms_search"><label>{% trans %}Suchen&nbsp;&nbsp;{% endtrans %}<input name="title" /></label><input type="submit" value="{% trans %}Suche starten{% endtrans %}" />
	</form>
</div>

{% endblock %}
{% block body %}
    <div class="content">
    {% block content %} {% endblock %}
    </div>
{% endblock %}
