{% extends '::base.html.twig' %} 

{% block subnavigation %}
<nav class="action">
    <a href="{{ path('mb_wms_wms_register')  }}">{% trans %}register WMS{% endtrans %}</a>
    <form class="disabled" class="search wms_search">
        <input name="q" id="q" />
        <input type="submit" value="{% trans %}search{% endtrans %}" />
	</form>
</nav>

{% endblock %}
{% block body %}
    <div class="content">
    {% block content %} {% endblock %}
    </div>
{% endblock %}
