{% extends 'MBWMSBundle:WMS:base.html.twig' %} 

{% block title %}{{ wmsTitle }} {% endblock %}

{% block content %}
    <h1>{{ wmsTitle }}</h1>
    <p class="message">{% trans %}WMS deleted{% endtrans %}</p>
{% endblock %}
