{% extends '::base.html.twig' %} 

{% block title %}Details for {{ wmsTitle }} {% endblock %}

{% block body %}
    <h1>{{ wmsTitle }}</h1>
    <p>The WMS Details go here</p>
    <a href="{{ url('wms_showdelete',wmsId) }}">Löschen</a>
    <p>lala</p>
{% endblock %}
