{% extends '::base.html.twig' %} 

{% block title %}Details for {{ wmsTitle }} {% endblock %}

{% block body %}
    <h1>{{ wmsTitle }}</h1>
    <p>The WMS Details go here</p>
    <p>lala</p>
    <a href="">ll</a>
    <a href="{{ path('wms_showdelete',wmsId) }}">Lschen</a>
{% endblock %}
