<?xml version="1.0" ?>
<!DOCTYPE html>
<html>
    <head>
        <title>Details for {{ wmsTitle }}</title>
    </head>
    <body class="wms">
        <h1>{{ wmsTitle }}</h1>
        <p>The WMS Details go here</p>
    </body>
</html>
