{% extends '::base.html.twig' %} 
{% block title %}Details for {{ wmsTitle }} {% endblock %}

{% block body %}
    <h1>{{ wmsTitle }}</h1>
    <a href="{{ path('mb_wms_showdelete',{'id':wmsId}) }}">{% trans %}Delete{% endtrans %}</a>
{% endblock %}
