{% extends 'MBWMSBundle:WMS:base.html.twig' %} 

{% block heading %} WMS {% endblock %}
{% block body %}

<form class="search wms_search">
    <div><label>title<input name="title" /></label></div> 
    <input type="submit" value="suchen" />
</form>

<ul class="wms">
    {% for wms in wmsArr %}
        <li><a href=" {{ path("mb_wms_details",{'id': wms.getId()}) }}">{{ wms.getTitle() }}</a></li>
    {% endfor %}
</ul>
<a href="{{ path("mb_wms_index",{"first":prevFirst}) }}">zurück</a><a href="{{  path("mb_wms_index",{"first": nextFirst}) }}">weiter</a>
{% endblock %}
