{% extends 'MBWMSBundle:WMS:base.html.twig' %} 

{% block heading %}WMS{% endblock %}
{% block content %}
<ul class="wms">
    {% for wms in wmsArr %}
        <li><a href=" {{ path("mb_wms_details",{'id': wms.getId()}) }}">{{ wms.getTitle() }}</a></li>
    {% endfor %}
</ul>
<a href="{{ path("mb_wms_index",{"first":prevFirst}) }}">{% trans %}Previous{% endtrans %}</a> <a href="{{  path("mb_wms_index",{"first": nextFirst}) }}">{% trans %}Next{% endtrans %}</a>
{% endblock %}
