<?xml version="1.0" ?>
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Das hier ist die gesamte brouhaha</p>
        <ul class="actions">
            <li><a href="{{ path('wms_showadd')  }}">WMS hinzufügen</a></li>
        </ul>
    </body>
</html>
