<div class="wmslayer">
    <h3>
    <a href="{{ path('mb_wms_wmslayer_details',{'wmsId': layer.WMS.id,'wmsLayerId':layer.id})  }}">{{ layer.title }}</a>
    </h3>
    <span class="name">{{ layer.name }}</span>
    <p class="abstract">{{ layer.abstract }}</p>
    {% for layer in layer.layer %}
        {% include "MapbenderWmsBundle:WMS:layerdetails.html.twig" %}
    {% endfor %}
</div>
