<div class="wmslayer">

<h1>{{ layer.getTitle() }}<h1><h2>{{ layer.getName() }}</h2>
<p class="abstract">{{ layer.getAbstract() }}</p>
{% for layer in layer.getLayer() %}
  {% include "MBWMSBundle:WMS:layerpreview.html.twig" %}
{% endfor %}
</div>
