<div class="wmslayer">
    <h3>
    <a href="{{ path('mb_wms_wmslayer_details',{'wmsId': layer.getWMS().getId(),'id':layer.getId()})  }}">{{ layer.getTitle() }}</a>
    </h3>
    <span class="name">{{ layer.getName() }}</span>
    <p class="abstract">{{ layer.getAbstract() }}</p>
    {% for layer in layer.getLayer() %}
        {% include "MBWMSBundle:WMS:layerdetails.html.twig" %}
    {% endfor %}
</div>
