<?xml version="1.0" ?>
<!DOCTYPE html>
<html>
    <head>
        <title>WMS Preview</title>
    </head>
    <body>
    <p>here be preview of {{ getcapa_url }}</p>
    <form action="{{ path('wms_add') }}" method="POST">
        <input type="submit" value="Speichern"/> 
    </form>
    </body>
</html>
