{% extends 'MBWMSBundle:WMS:base.html.twig' %} 

{% block title %}{% trans %}Delete{% endtrans %} {{ wmsTitle }} {% endblock %}

{% block content %}
    <div class="message">
        <p>{% trans %}Really Delete{% endtrans %}</p>
        <form action="{{ path("mb_wms_delete",{'id': wmsId}) }}" method="POST">
            <button>{% trans %}Delete{% endtrans%}</button><a class="button" href="{{ path("mb_wms_details",{'id': wmsId}) }}">{% trans %}Cancel{% endtrans %}</a>
        </form>
    </div>
{% endblock %}
