<?xml version="1.0" ?>
<!DOCTYPE html>
<html>
    <head>
        <title>Add a WMS</title>
    </head>
    <body>
        <form name="url" action="{{ path('wms_preview') }}" method="POST">
            <label for="getcapa_url">
            <input type="url" name="getcapa_url" id="getcapa_url" />
            getCapabilities Url</label>
            <input type="submit" name="save" value="Laden" />
        </form>
        <form name="upload" action="{{ path('wms_preview')  }}" method="POST">
            <label for="getCapabilities_file"><input type="file" />getCapabilities XMLDatei</label>
            <input type="submit" name="save" value="Hochladen" />
        </form>
    </body>
</html>
