{% if create_permission is not empty %}
    <div class="link-button-new">
        <a href="{{ path('mapbender_manager_application_new') }}" title="{{ 'mb.manager.admin.application.new.title' | trans }}">
            <i class="fa fas fa-plus fa-lg"></i>
            <span>{{ 'mb.manager.admin.application.new.title' | trans }}</span>
        </a>
    </div>
{% endif %}
