{% set layerset_title = layerset.title %}
{% set layerset_id = layerset.id %}

{% block manager_content %}

<form id="deleteLaysersetForm" action="{{ path('mapbender_manager_application_deletelayerset', { 'slug': application.slug, 'layersetId' : layerset.id }) }}" method="post" {{ form_enctype(form)}}>
    {% trans with {'%layerset_title%': layerset_title} %} mb.manager.admin.layerset.delete.confirm {% endtrans %}
    {{ form_widget(form) }}
</form>

{% endblock %}