{% set instance_title = instance.title %}
{% set instance_id = instance.id %}

{% block manager_content %}

<form id="instance-delete" action="{{ path('mapbender_manager_application_deleteinstance', { 'slug': application.slug, 'layersetId': layerset.id, 'instanceId' : instance.id }) }}" method="post" {{ form_enctype(form)}}>
    {% trans %}Do you really want to remove the instance with the title <span class="italic">%instance_title%</span>?{% endtrans %}
    {{ form_widget(form) }}
</form>

{% endblock %}