{% set layerset_title = layerset.title|e %}
{% set layerset_id = layerset.id %}

{% block manager_content %}

<form id="deleteLaysersetForm" action="{{ path('mapbender_manager_application_deletelayerset', { 'slug': application.slug, 'layersetId' : layerset.id }) }}" method="post" {{ form_enctype(form)}}>
    {% trans %}Do you really want to remove the layerset with the title <span class="italic">%layerset_title%</span>?{% endtrans %}
    {{ form_widget(form) }}
</form>

{% endblock %}
