<div>
    {% if form.acl is defined %}
    <div class="right -fn-add-permission" data-url="{{path('fom_user_acl_overview')}}" title="{{'mb.manager.admin.application.security.add_users_groups'|trans}}"><span class="iconBig iconAdd"></span></div>
    {% endif %}
    {{ form_row(form.published) }}
    <div class="clearContainer"></div>
</div>
{% if form.acl is defined %}
    {{ form_widget(form.acl) }}
{% endif %}
