<div>
    <div class="right -fn-add-permission" data-url="{{path('fom_user_acl_overview')}}" title="{{'mb.manager.admin.application.security.add_users_groups'|trans}}"><span class="iconBig iconAdd"></span></div>
    {{ form_row(form.published) }}
    <div class="clearContainer"></div>
</div>
{{ form_widget(form.acl) }}
