{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.managerbundle.import_application' | trans }}{% endblock %}

{% block manager_content %}
<div class="containerExchange">
{% include 'MapbenderManagerBundle:Application:import-form.html.twig' %}
</div>
{% endblock %}