{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.managerbundle.import_application' | trans }}{% endblock %}

{% block css %}
  {{parent()}}
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
{% endblock %}

{% block manager_content %}
<div class="containerExchange">
{% include 'MapbenderManagerBundle:Application:import-form.html.twig' %}
</div>
{% endblock %}