{% block checkbox_widget %}
{% spaceless %}
    <label>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        Role 
    </label>
{% endspaceless %}
{% endblock checkbox_widget %}


