{%extends 'MapbenderCoreBundle::backend.html.twig' %}

{#{% stylesheets '@MapbenderWmsBundle/Resources/public/style/*' %}
    <link  rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets  %}
#}


{% block body %}
    <div class="content">
    {% block content %} {% endblock %}
    </div>
{% endblock %}