.input, .dropdown {
  border-radius: 8px;
}

h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 2rem;
}

body {
  background-color: #f8f8f8;
}

.blueTabUnderline {
  width: 67px;
  height: 3px;
  border-radius: 50px;
  background-color: #079ee0;
  position: relative;
  bottom: 13px;
}

.instanceContainer, .container-table {
  margin-top: 10%;
}
