div[role='main'] {
    width: 100%;
}

section#wms-layers .layer {
    padding: 6px;
    border: thin solid #AAA;
}

section#wms-layers .layer legend {
    border: 0px;
    width: auto;
    cursor: pointer;
}

.hidde {
    display: none;
}

div.tab-content {
    margin-bottom: 20px;
}