@import "libs/variables";
@import "libs/mixins";

.mb-element-activityindicator{display:none;}
.mb-activity, .mb-activity-ajax{
  .mb-element-activityindicator{
    display: inline-block;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
  }
}
