.mb-element-basesourceswitcher {
  .basesourcegroup, .basesourcesetswitch {
    cursor: pointer;
  }
  .state-check {
    margin-right: 0.5em;
  }

  .sidePane & {
      .group-title {
          font-weight: 600;
          margin-top: 5px;
      }
  }

  &.toolBarItem {
    // Reset toolbar text alignment (vs .itemsRight / .itemsCenter)
    position: relative;
    z-index: 1;
    .state-check {
      display: none;
    }
    .basesourcegroup > .group-title, .basesourcesetswitch {
      padding: 5px;
    }
    .basesourcegroup, .basesourcesetswitch {
      background-color: color-mix(in srgb, var(--background-color), var(--text-color) 20%);
      &:hover, &[data-state="active"]{
        background-color: var(--background-color);
      }
      transition: all .2s ease-in-out;
      border:solid 1px var(--panel-border-color);
    }
    .basesourcegroup, > .basesourcesetswitch {
      display: inline-block;
      border-right-width: 0;
      &:last-child {
        border-right-width: 1px;
      }
    }
    .basesourcegroup {
      position: relative;
    }
    .basesourcesubswitcher {
      display: none;
      position: absolute;
      right: -1px;  // Compensate for border

        &.right {
            right: initial;
            left: -1px;
        }
    }
    .basesourcegroup:hover .basesourcesubswitcher, .basesourcegroup.active .basesourcesubswitcher {
      display: initial;
    }
  }
  .toolBar.top & {
    .basesourcegroup .basesourcesetswitch {
      border-bottom-width: 0;
      &:last-child {
        border-bottom-width: 1px;
        border-bottom-left-radius: var(--radius-md);
        border-bottom-right-radius: var(--radius-md);
      }
    }
    .basesourcegroup, > .basesourcesetswitch {
      &:first-child {
        border-top-left-radius: var(--radius-md);
      }
      &:last-child{
        border-top-right-radius: var(--radius-md);
      }
    }
  }
  .toolBar.bottom & {
    .basesourcesubswitcher {
      // Make the child list "drop up"
      bottom: 100%;
    }
  }
  .anchored-element-wrap & {
    background-color: var(--background-color);
    font-size: 1.6rem;
    border-radius: 3px;
    padding: 5px;
    text-align: left;
  }
}
