$hoverEffects: true !default;

.mb-button {
  cursor: pointer;
  .toolBar & {
    border-radius: var(--radius-lg);
    @if $hoverEffects {
      &:hover {
        opacity: var(--toolbar-button-hover-opacity);
      }
    }
    &.toolBarItemActive {
      opacity: var(--toolbar-button-active-opacity);
    }
    .iconBig + * {
      margin-left: 0.25em;
    }
  }
  .sideContent & {
    @extend .button;
  }
  .tabContainerAlt > .container > & {
    // Avoid getting the tab panel treatment (stretched to 100% / 100%)
    width: auto;
    height: auto;
    position: static;
  }
  a, a:focus {
    outline: none;
  }
}

a.mb-button:hover {
  text-decoration: none;
}
