.mb-element-coordsdisplay {
  .iconCoordinates {
    cursor:default;
  }
}

.contentPane{
  .mb-element-coordsdisplay{
    z-index: 20;
    @include absolute('' $space $space*2 '');
  }
}
.toolBar {
  .mb-element-coordsdisplay {
    text-align: left;
    min-width: 160px;
  }
}
