@import "libs/variables";
@import "libs/mixins";

.mb-element-copyright{@include opacity(0.6);}
.mb-element-copyright-link{
  cursor:pointer;
  color:$lightFontColor;
  text-decoration:none;
}
.mb-element-copyright-dialog{display: none;}