.mb-element-featureinfo{
    height: 100%;
  iframe.featureInfoFrame{
      width: 100%;
      height: 100%;
      border-width: 0px;
  }
  .accordionContainer > .container{display:none}
  .accordionContainer > .container.active{display:block}

  .container {
      width: 100%;
      height: 100%;
  }

}

.popupContent .contentItem,.popupContent .container,.featureInfoTabContainer {
    height: 90%;
}
