.mb-element-featureinfo {
  iframe {
    width: 100%;
    height: 100%;
    border-width: 0;
  }

  .container {
    width: 100%;
  }
}

.featureinfoDialog {
  .popupContent {
    height: 100%; // for accordion growth
    .contentItem {
      height: 100%; // for accordion growth
      .mb-element-featureinfo {
        height: 100%; // for accordion growth
        position: relative;
        .tabContainer {
          // Prevent doubled scrollbars Popup + iframe
          // NOTE: With default css 34px is the exact height of the tab header bar...
          height: calc(100% - 40px);
          .container.active {
            height: 100%; // for tab iframe growth
          }
        }
        .js-content-content {
          table {
            th {
              background-color: #ddd;
            }
            th, td {
              padding-left: 5px;
            }
          }
        }
        .accordion-cell {
          padding-top: 0;
        }
        .container-accordion.active {
          // avoid cutting off / producing vertical scroll from not using all space in the cell
          .accordion-wrapper, .accordion-wrapper .js-content-content {
              height: 100%;
          }
        }
      }
    }
  }
}

// Mobile
.mobilePane {
  .mb-element-featureinfo {
    height: 90%;
    > .tabContainer {
      > .tabs {
        > li.tab {
          font-size: 13px;
        }
        &:after {
          clear: both;
        }
      }
    }
  }
}

// Popup
.popupContent {
  > .contentItem {
    > .mb-element-featureinfo {
      > .tabContainer {
        > .container {
          &.active {
            iframe {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}
