.mb-element-featureinfo {
    iframe {
        width: 100%;
        height: calc(100% - 5px);
        border-width: 0;
    }
}

.featureinfoDialog {
    .accordionContainer > .container-accordion > .accordion-cell {
        padding: 0;

        iframe {
            padding: 10px 0;
        }
    }

    .popupContent {
        height: calc(100% - 70px); // for accordion growth minus padding and print button
        margin-bottom: 0 !important;

        .mb-element-featureinfo {
            height: 100%;
        }
    }
}

.mobilePane, .sidePane {
    .mb-element-featureinfo {
        // Use available space / avoid vertical scrolling inside + outside iframe
        height: calc(100% - 10px);
        min-height: calc(100% - 10px);

        .tabContainer {
            display: flex;
            flex-direction: column;
            height: 100%;

            &.hidden {
                display: none;
            }

            .container {
                position: static;
                flex-grow: 1;
            }
        }
    }
}

.mb-feature-info-active {
    cursor: help;
}

.featureinfo__table {
    margin-bottom: 20px;
}
