.mb-element-featureinfo {
  iframe {
    width: 100%;
    height: 100%;
    border-width: 0;
  }
}

.featureinfoDialog {
  .accordionContainer > .container-accordion > .accordion-cell {
    padding: 0;
    iframe {
      padding: 10px 0;
    }
  }
  .tabContainer .container {
    padding: 10px;
  }
  .popupContent {
    height: 100%; // for accordion growth
    .contentItem {
      height: 100%; // for accordion growth
      .mb-element-featureinfo {
        height: 100%; // for accordion growth
        .tabContainer {
          // Prevent doubled scrollbars Popup + iframe
          // NOTE: With default css 34px is the exact height of the tab header bar...
          height: calc(100% - 40px);
          .container.active {
            height: 100%; // for tab iframe growth
          }
        }
      }
    }
  }
}

// Mobile
.mobilePane {
  .mb-element-featureinfo {
    height: 90%;
    > .tabContainer {
      > .tabs {
        > li.tab {
          font-size: 13px;
        }
        &:after {
          clear: both;
        }
      }
    }
  }
}
