.mb-element-layertree{
  .leave {
    // for absolute menu positioning
    position: relative;
    margin-left: 1em;
  }

  .featureInfoWrapper, .iconFolder, .sourceVisibilityWrapper {
    // keep constant size to prevent visual "jump" on icon glyph change and neatly
    // align icons across rows
    width: 1em;
    text-align:center;
    flex: 0 0 auto;
  }
  .checkWrapper {
    margin-left: 5px;
  }
  .checkWrapper.sourceVisibilityWrapper {
    margin-left: 2px;
  }
  .checkWrapper.selectedWrapper {
    width: 1em;
  }

  .iconFolder{
    display:none;
  }
  .placeholder{
    display:block;
    &:before{
      content: "\f096";
      font-family: 'FontAwesome';
      visibility: hidden;
    }
  }
  .leaveContainer {
    display: flex;
    height: 21px;       // must set height explicitly for IE11
    line-height: 21px;  // line-height should equal height (note: dashed line trickery depends on this value)
  }
  .layer-title {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .leave.invisible .layer-title {@include opacity(.7);} //for .serviceContainer too
  .leave.invisible {visibility: visible;}
  .themeContainer{
    border-left:dotted 1px black;
    margin-bottom:1px; // Fix for Firefox
    // elements with childrens
    & > .leaveContainer{
      .iconFolder{display:block;}
      .layer-title{@extend .subTitle;}
    }
    .leaveContainer{
      margin-left:-6px;
      margin-top:1px; // Fix for Firefox
    }
    .layers{display:none;}
    &.showLeaves > .layers{display:block;}
  }
  .serviceContainer, .groupContainer{
    border-left:dotted 1px black;
    margin-bottom:1px; // Fix for Firefox

    // elements with childrens
    & > .leaveContainer{
      .iconFolder{display:block;}
      .layer-title{@extend .subTitle;}
    }

    // show only layers which are toggled
    .layers{display:none;}
    &.showLeaves > .layers{display:block;}

    .leave{
      &:before{
        content:'';
        display: block;
        height:5px;
        width:5px;
        border-top:dotted 1px black;
        @include absolute(10px '' '' -10px);
      }
    }
    .leave.groupContainer:before {
      left: -13px;    // ~= font size
    }
    .leaveContainer{
      margin-left:-6px;
      margin-top:1px; // Fix for Firefox
      .layer-menu-btn{
        margin-left: 4px;
        &:before{
          margin: 0;
          content: '\f0c9';
          font-family: 'FontAwesome';
        }
      }
    }
  }
  .checkWrapper.sourceVisibilityWrapper:before{
    content: "\f10c";
    font-family: 'FontAwesome';
  }
  .checkWrapper.sourceVisibilityWrapper.iconCheckboxActive:before{
    content: "\f05d" !important;
    font-family: 'FontAwesome';
  }
  [data-state="loading"]{
    @include opacity(.7);
    @extend .iconActivity;
    &:before{
      font-family: 'FontAwesome';
      -webkit-animation:spin 1s linear infinite;
      -moz-animation:spin 1s linear infinite;
      animation:spin 1s linear infinite;
      @include absolute('' $space '' '');
    }
  }
  [data-state="error"]{
    @extend .iconWarning;
    .layer-title{color:$errorColor !important;}// if error, overwrite the title color
    &:before{
      font-family: 'FontAwesome';
      color:$errorColor;
      @include absolute('' $space '' '');
    }
  }
  >ul{padding-left: 6px;}
}

$layer-slider-bar-height: 5px;
.layer-menu {
  position: absolute;
  right: 0;
  top: 1.5em;
  background-color: white;
  padding: $space / 4;
  opacity: 1;

  z-index: 45;
  // NEED constant width, otherwise the DragDealer will get confused when resizing Popup
  width: 140px;
  border: solid 1px $thirdColor;
  text-align: right;
  cursor: default;
  @include border-radius($radius);
  & *{
    @include noUserSelect();
  }
  .labelInput {
    display: block;
    position: relative;
    margin-top: -20px;
    white-space: nowrap;
  }
  // arrow icon
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 5px solid $firstColor;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 0;
    top: -5px;
  }
  &:after {
    display: none;
  }
  .layer-slider-bar {
    position: relative;
    color: $lightFontColor;
    height: $layer-slider-bar-height;
    background-color: $thirdColor;
    margin-top: $space/3;
    margin-bottom: $space/2;
    cursor: pointer;
    @include border-radius(2px);
    .layer-slider-handle {
      position: absolute;
      top: -$layer-slider-bar-height;
      left: 0;
      cursor: pointer;
      width: 30px;
      height: 16px;
      line-height: 16px;
      background-color: $ciColor;
      font-size: 12px;
      text-align: center;
      @include border-radius(4px);
    }
  }
}

/*
* Only if layer tree is integrated in side pane content (not as tab or accordion)
*/
.sideContent {
  > .mb-element-layertree {
    .leave {
      &[data-state="loading"], &[data-state="error"] {
        &:before {
          @include absolute('' $space+16px '' '');
        }
      }
    }
  }
}