@import "libs/variables";
@import "libs/mixins";
@import "libs/icons";
@import "modules/button";
@import "modules/text";

.mb-element-layertree{
  .iconFolder{
    display:none;
    margin-right:5px;
  }

  // needed for the feature info icon
  .featureInfoWrapper{
    width:$space;
    text-align:center;
    &.iconCheckboxActive{@extend .iconInfoActive}
  }
  .leave.invisible{@include opacity(.7);} //for .serviceContainer too
  .serviceContainer, .groupContainer{
    border-left:dotted 1px black;
    margin-bottom:1px; // Fix for Firefox

    // elements with childrens
    & > .leaveContainer{
      position: relative;
      .iconFolder{display:block;}
      .layer-title{@extend .subTitle;}
    }

    // show only layers which are toggled
    .layers{display:none;}
    &.showLeaves > .layers{display:block;}

    .leave{
      margin-left:20px;
      position: relative;

      &:before{
        content:'';
        display: block;
        height:5px;
        width:5px;
        border-top:dotted 1px black;
        @include absolute(10px '' '' -15px);
      }
    }
    .leaveContainer{
      margin-left:-6px;
      margin-top:1px; // Fix for Firefox
      .layer-menu-btn{
        margin-left: 4px;
        position: relative !important;
        &:before{
          content: '\f0c9';
          font-family: 'FontAwesome';
        }
      }
    }
  }
  .checkWrapper{position: relative;}

  [data-state="loading"]{
    @include opacity(.7);
    @extend .iconActivity;
    &:before{
      -webkit-animation:spin 1s linear infinite;
      -moz-animation:spin 1s linear infinite;
      animation:spin 1s linear infinite;
      @include absolute('' $space*2 '' '');
    }
  }
  [data-state="error"]{
    @extend .iconWarning;
    .layer-title{color:$errorColor !important;}// if error, overwrite the title color
    &:before{
      color:$errorColor;
      @include absolute('' $space*2 '' '');
    }
  }
}

$layer-slider-bar-height: 5px;
.layer-menu {
  position: absolute;
  right: -5px;
  background-color: white;
  padding: $space/2;
  padding-top: 20px;
  margin-top: $space/2;
  margin-left: -5px;
  z-index: 20;
  min-width: 120px;
  max-width: 200px;
  border: solid 1px $thirdColor;
  text-align: right;
  cursor: default;
  @include border-radius($radius);
  & *{
    @include noUserSelect();
  }
  .labelInput {
    display: block;
    position: relative;
    margin-top: -20px;
    white-space: nowrap;
  }
  .exit-button{
    position: absolute;
    right: 4px;
    top: 0px;
    display: block;
  }
  // arrow icon
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid $firstColor;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    right: 0;
    top: -10px;
  }
  .layer-slider-bar {
    position: relative;
    color: $lightFontColor;
    height: $layer-slider-bar-height;
    background-color: $thirdColor;
    width: 100px;
    margin-top: $space/3;
    margin-bottom: $space/2;
    cursor: pointer;
    @include border-radius(2px);
    .layer-slider-handle {
      position: absolute;
      top: -$layer-slider-bar-height;
      left: 0;
      cursor: pointer;
      width: 30px;
      height: 16px;
      line-height: 16px;
      background-color: #6fb536;
      font-size: 12px;
      text-align: center;
      @include border-radius(4px);
    }
  }
}


