.mb-element-layertree{
  user-select: none;
  line-height: 1.5; // @todo: undo global fixed-pixel-unit line height!
  .leave {
    // for absolute menu positioning
    position: relative;
  }
  .leave .leave, .themeContainer .leave {
    margin-left: 1.28em;
  }

  .selectedWrapper, .featureInfoWrapper, .iconFolder, .sourceVisibilityWrapper {
    // keep constant size to prevent visual "jump" on icon glyph change and neatly
    // align icons across rows
    text-align:center;
    flex: 0 0 1em;
    -ms-flex: 0 0 1em;
    width: 1em; // pre-flex
    margin-right: 0.28em;
  }
  .leaveContainer {
    display: flex;
  }
  .layer-title {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .leave.invisible {
    visibility: visible;
    .layer-title {
        opacity: 0.7;
    }
  }
  .themeContainer{
    .layers{display:none;}
    &.showLeaves > .layers{display:block;}
  }
  .serviceContainer, .groupContainer{
    // show only layers which are toggled
    .layers{display:none;}
    &.showLeaves > .layers{display:block;}

  }
  .leave:not(.state-error) .error-icon-wrapper,
  .leave:not(.state-loading) .loading-icon-wrapper {
    display: none;
  }
  .error-icon-wrapper, .leave.state-error .layer-title {
    color: $errorColor;
  }
  .leave.state-loading {
    opacity: 0.75;
  }
  .layer-menu-btn, .error-icon-wrapper, .loading-icon-wrapper {
    margin-left: 4px;
  }
}

$layer-slider-bar-height: 5px;
.layer-menu {
  color: #222;
  position: absolute;
  right: 0;
  top: 1.5em;
  background-color: white;
  padding: $space / 4;
  opacity: 1;

  z-index: 45;
  // NEED constant width, otherwise the DragDealer will get confused when resizing Popup
  width: 140px;
  border: solid 1px $thirdColor;
  text-align: right;
  cursor: default;
  @include border-radius($radius);
  // arrow icon
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 5px solid $firstColor;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 0;
    top: -5px;
  }
  &:after {
    display: none;
  }
  .layer-slider-bar {
    position: relative;
    color: $lightFontColor;
    height: $layer-slider-bar-height;
    background-color: $thirdColor;
    margin-top: $space/3;
    margin-bottom: $space/2;
    cursor: pointer;
    @include border-radius(2px);
    .layer-slider-handle {
      position: absolute;
      top: -$layer-slider-bar-height;
      left: 0;
      cursor: pointer;
      width: 30px;
      height: 16px;
      line-height: 16px;
      background-color: $sliderHandleBackgroundColor;
      font-size: 12px;
      text-align: center;
      @include border-radius(4px);
    }
  }
}
