// ----------------------------------------------------------- Logout

.iconExit:before {
    content:"\f011";
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-right:5px;
}

.my-exit-button {
    color: #f7f7f7;
}
