
.contentPane{
  .mb-element-map{
    background-color: $contentColor;
    width:100%;
    height:100%;
    z-index: 1;
    /* disable map tile selection on the lowest level possible
       => no effect on text selection in e.g. .olPopup (nested inside map viewport */
    .olLayerDiv {
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;          /* Likely future */
    }
    @include absolute(0 0 0 0);
  }
}

.mb-element-map {
  .olHandlerBoxZoomBox, .ol-box {
    border: 2px solid $firstColor;
    background-color: white;
    @include opacity(.6);
  }

  // Minimal selection / event rules from original Openlayers 6 css to allow
  // map interactions to properly receive events.
  .ol-viewport, .ol-unselectable {
    user-select: none;
  }
  .ol-overlaycontainer, .ol-overlaycontainer-stopevent {
    pointer-events: none;
  }
  .ol-overlaycontainer > *, .ol-overlaycontainer-stopevent > * {
    pointer-events: auto;
  }
  .ol-selectable {
    user-select: text;
  }
}
