.contentPane {
  .mb-element-map {
    background-color: $contentColor;
    width: 100%;
    height: 100%;
    z-index: 1;
    //-webkit-transform: translate3d(0, 0, 0) !important;
    //-moz-transform: translate3d(0, 0, 0) !important;
    //-ms-transform: translate3d(0, 0, 0) !important;
    //transform: translate3d(10, 10, 0) !important;

    .olLayerDiv {
      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Likely future */
      svg g {
        pointer-events: none;
        -webkit-user-select: none; /* Chrome all / Safari all */
        -moz-user-select: none; /* Firefox all */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Likely future */
        background: none;
      }
    }
    @include absolute(0 0 0 0);
  }
}
