.mb-element-applicationswitcher {
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    img {
        width: 100%;
    }
    /*Flex items*/
    .list {
        display: flex;
        flex-wrap: wrap;
    }
    .list-item {
        display: flex;
        margin: 0.5em;
        padding: 0.5em;
        width: calc(33.333% - 1em);
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    .list-content {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .list-content p {
        flex: 1 0 auto;
    }



    .dropdown {
        min-width: 9em;
    }
    .toolBar & {
        .dropdownList {
            width: auto;
            min-width: 100%;
            max-width: 75vw;
            overflow-x: hidden;
        }
    }
}
