.mb-element-overview {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */

  .toggleOverview {
    $buttonFirstColor: #6fb536;
    $buttonSecondColor: #5fa229;

    padding: 0 6px;
    color: $lightFontColor;
    background-color: $buttonFirstColor;

    @extend .iconClose;
    @extend .buttonCore;
    @include border-radius($radius);
  }

  // previous
//  .olMap, .viewport {
  // upstream
  .olMap, .ol-overviewmap-map {
    background-color: white;
    @include transition(all .2s linear);
    // previous
//    .ol-viewport, .olMapViewport {
    // upstream
    .olMap, .ol-viewport {
      border: 1px solid $thirdColor;
    }
  }
  .viewport {
    // OL4: renders a toggle button, which we delegate to for visibility
    //      toggling, but we don't want to show it
    button {
      width: 0;
      padding: 0;
      border: 0;
      font-size: 0;
      overflow-x: hidden;
    }
  }
  &.closed {
    .viewport {
      width: 0;
      height: 0;
      opacity: 0;
      border: 0;
    }

    .olMap {
      width: 0 !important;
    }
    .toggleOverview {
      @extend .iconOpen;
    }
  }

  &.right-top .toggleOverview {
    @include absolute(0 '' '' -25px);
  }
  &.left-top .toggleOverview {
    @include absolute(0 -25px '' '');
  }
  &.right-bottom .toggleOverview {
    @include absolute('' '' 0 -25px);
  }
  &.left-bottom .toggleOverview {
    @include absolute('' -25px 0 '');
  }
}

.olControlOverviewMapExtentRectangle, .ol-overviewmap-box {
  overflow: hidden;
  cursor: move;
  border: 2px solid $firstColor;
}

.olControlOverviewMapRectReplacement {
  @extend .iconTarget;
  cursor: move;
}
