.mb-element-overview {
  .toggleOverview {
    $buttonFirstColor: #6fb536;
    $buttonSecondColor: #5fa229;

    padding: 0px 6px;
    color: $lightFontColor;
    background-color: $buttonFirstColor;

    @extend .icon;
    @extend .iconClose;
    @extend .buttonCore;
    @include border-radius($radius);
  }

  .olControlOverviewMapExtentRectangle {
    cursor: move;
    background-image: url("bundles/mapbendercore/mapquery/lib/openlayers/img/blank.gif");
  }

  .olMap {
    background-color: white;
    @include transition(width .2s linear);
    & > div {
      border: {
        top: solid 3px $firstColor;
        left: solid 1px $thirdColor;
        right: solid 1px $thirdColor;
        bottom: solid 1px $thirdColor;
      }
    }
  }
  &.closed {
    .olMap {
      width: 0px !important;
    }
    .toggleOverview {
      @extend .iconOpen;
    }
  }

  &.right-top .toggleOverview {
    @include absolute(0 '' '' -25px);
  }
  &.left-top .toggleOverview {
    @include absolute(0 -25px '' '');
  }
  &.right-bottom .toggleOverview {
    @include absolute('' '' 0 -25px);
  }
  &.left-bottom .toggleOverview {
    @include absolute('' -25px 0 '');
  }
}

.olControlOverviewMapExtentRectangle {
  overflow: hidden;
  cursor: move;
  border: 2px solid $firstColor;
}

.olControlOverviewMapRectReplacement {
  @extend .icon;
  @extend .iconTarget;
  cursor: move;
}
