@import "libs/variables";
@import "libs/mixins";

.mb-element-printclient{
  display:none;
  overflow: visible;

  .labelInput{width:80px;}
  .input, .dropdown{
    min-width:190px;
    margin-bottom:$space/2;
  }
}
