
.mb-element-redlining{
  $buttonFirstColor:#5fa229;
  .button.active{background-color:darken($buttonFirstColor, 5%);}
  .geometry-table{
    border: 1px solid $secondColor;
    tr {
      display:table-row;
      border: 1px solid $secondColor;
      td {display:table-cell;}
    }
    .geometry-actions{
      text-align:right;
    }
  }
}
