
.mb-element-redlining{
  .geometry-table{
    border: 1px solid $secondColor;
    tr {
      display:table-row;
      border: 1px solid $secondColor;
      td {display:table-cell;}
    }
    .geometry-actions{
      text-align:right;
    }
  }
}
