
.mb-element-redlining{
  $buttonFirstColor:#5fa229;
  .button{margin-left:0px;}
  .button.active{background-color:darken($buttonFirstColor, 5%);}
  .text-wrapper{
    margin-top:5px;
    .inputWrapper, .input{ width:100%;}
    .labelInput{ width:70px; }
  }
  .geometry-table{
    margin-top:5px;
    width: 100%;
    border: 1px solid $secondColor;
    color: $firstColor;
    tr {
      display:table-row;
      border: 1px solid $secondColor;
      td {display:table-cell;}
    }
    .geometry-actions{
      text-align:right;
    }
  }
}