.mapbender-element-result-table {

  /* result table */
  table[role="grid"] > tbody > tr {
    > td {
      vertical-align: middle;
      padding-top: 4px;
      padding-bottom: 4px;

      &.selection{
        vertical-align: middle;
      }

      &.buttons {
        padding: 2px;
        text-align: center;
        > div.button-navigation {
          white-space: nowrap;
          float: right;
          > button {
            padding-bottom: 0px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 2px;
          }
        }
      }
    }
  }

  .dataTables_wrapper {
    > table {
      > thead > tr > th {
        background-color: lighten(#578e2a, 50%);
        cursor: pointer;
        user-select: none;
        border: 1px solid #ffffff;
        height: 26px;

        &.sorting:after, &.sorting_asc:after, &.sorting_desc:after {
          display: block;
          float: right;
          font-family: FontAwesome;
        }
        &.sorting:after {
          content: "\f0dc";
        }
        &.sorting_asc:after {
          content: "\f160";
        }
        &.sorting_desc:after {
          content: "\f161";
        }
      }
      > tbody > tr {
        > td {

          &.selection {
            padding-top: 0;
            > input[type="checkbox"] {
              margin-top: 0 ;
            }
          }

          cursor: default;
        }
      }
      margin-bottom: 0px;
    }

//    .dataTables_info {
//      position: relative;
//      margin-top: 1px;
//      display: block;
//      padding-left: 15px;
//      margin-bottom: -21px;
//    }

    > .paging_simple_numbers {
      padding: 15px;
      @extend .clearfix;
      text-align: right;
      background-color: #E6E6E6;
      > span {
        > span {
          padding-right: 5px;
        }
      }
      a {
        @extend .btn;
        @extend .button;
        margin-right: 5px;
        &.next {
          margin-right: 0;
        }

        &.current {
          background-color: #47791f;
        }

        &.disabled {
          opacity: 0.7;
          display: none;
        }
      }
    }
  }
//  > .button-navigation.bottom-navigation {
//    position: absolute;
//    margin-top: -32px;
//    padding-left: 15px;
//    > button {
//      margin-right: 4px;
//    }
//  }
}
