$darkFontColor: #3f3f3f !default;
$textColor: $darkFontColor !default;

.mb-element-scaleline {
  .anchored-element-wrap & {
    // Avoid eating mouse interactions on map
    pointer-events: none;
  }
  .control-wrapper {
    text-align: center;
    display: inline-block;
  }
  .scaleBorder{
    border:{
      left: solid 2px $textColor;
      right: solid 2px $textColor;
      bottom: solid 2px $textColor;
    }
    height:5px;
  }
}

.toolBar {
  .mb-element-scaleline {
    text-align: center;
    .scaleBorder {
      border-color: $toolBarFontColor;
    }
  }
}
