.mb-element-scaleline {
  .anchored-element-wrap & {
    // Avoid eating mouse interactions on map
    pointer-events: none;
  }
  .control-wrapper {
    text-align: center;
    display: inline-block;
  }
  .scaleBorder{
    border:{
      left: solid 2px var(--text-color);
      right: solid 2px var(--text-color);
      bottom: solid 2px var(--text-color);
    }
    height:5px;
  }
}

.toolBar {
  .mb-element-scaleline {
    text-align: center;
    .scaleBorder {
      border-color: var(--toolbar-text-color);
    }
  }
}
