
.mb-element-scaleline{
  position: relative; // to wrap absolute
  text-align: center;
  display: inline-block;
  .scaleBorder{
    border:{
      left:solid 2px $firstColor;
      right:solid 2px $firstColor;
      bottom:solid 2px $firstColor;
    }
    height:5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.toolBar{
  .mb-element-scaleline{
    bottom:5px;
    padding-bottom:5px;
    .scaleBorder {
      border-color: $toolBarFontColor;
    }
  }
}
