.mb-element-simplesearch {
  .autocompleteWrapper {
    position: relative;
    .ui-autocomplete {
      min-width: 100%;
      width: auto;
    }
  }
}

.mobilePane .mb-element-simplesearch {
  .autocompleteWrapper {
    width: 100%;
  }
}


