.mb-element-simplesearch {
  &.toolBarItem {
    white-space: normal;
  }
  &.toolBarItem .ui-autocomplete {
    width: 22em;
    max-width: 50vw;
  }
}
.sidePane .input-group-growing {
    width: 100%;
}
