.mb-element-simplesearch {
    &.toolBarItem {
        white-space: normal;
    }

    &.toolBarItem .ui-autocomplete {
        width: 22em;
        max-width: 50vw;
    }

    &.input-group {
        position: relative;
    }

    .search-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #6c757d;
        z-index: 2;
        pointer-events: none;
    }
    .input-group > .form-control, .input-group > .dropdown {
        &:first-child {
            border-bottom-left-radius: 0.375rem !important;
            border-top-left-radius: 0.375rem !important;
        }

        &:last-child, &.no-dropdown {
            border-bottom-right-radius: 0.375rem !important;
            border-top-right-radius: 0.375rem !important;
        }

        &:focus {
            z-index: 2;
        }
    }

    .form-control.searchterm {
        text-overflow: ellipsis;

        &.with-icon {
            padding-left: 32px;
            padding-right: 36px;
        }

        &:not(.with-icon) {
            padding-left: 12px;
            padding-right: 36px;
        }
    }

    .button-close {
        z-index: 2;
        margin-right: 2.8rem;
        background-color: $backgroundColor;
        padding: 0;

        &:last-child {
            margin-right: .7rem;
        }
    }

    .dropdown:not(.bs-dropdown) {
        margin-left: 0;
        border: 1px solid #dee2e6;
        background: $backgroundColor;
        text-align: left;
        display: table-cell;
        width: auto;
        padding: 0;
        vertical-align: middle;

        .dropdownValue {
            border: none;
            background: none;
            min-height: initial;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;

            // Remove the old CSS-generated icon
            &:after {
                display: none;
            }

            // Style the new Font Awesome icon
            .fa-caret-down {
                color: #6c757d;
                font-size: 14px;
            }
        }

        .dropdownList {
            right: 0;
            width: 500%;
        }
    }

    .choice-selected {
        font-weight: 600;
    }
}
