.mb-element-simplesearch {
    &.toolBarItem {
        white-space: normal;
    }

    &.toolBarItem .ui-autocomplete {
        width: 22em;
        max-width: 50vw;
    }

    &.input-group {
        position: relative;
    }

    .button-close {
        margin-right: 5rem;
    }

    .btn-outline-secondary {
        border-color: #dee2e6;
    }

    .dropdown:not(.bs-dropdown) {
        margin-left: 0px;
        border: 1px solid #dee2e6;
        border-right: none;
        background: $backgroundColor;
        text-align: left;
        display: table-cell;
        width: auto;
        padding: 0;
        vertical-align: middle;

        .dropdownValue {
            border: none;
            background: none;
            min-height: initial;

            &:after {
                left: 50%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                margin-right: 5px;
                margin-top: -1px;
            }
        }

        .dropdownList {
            right: 0;
            margin-top: 21px;
        }
    }

    .choice-selected {
        font-weight: 600;
    }
}
