.mb-element-zoombar{
  &.iconMove:before{
    @include absolute(-$space 0 '' '');
  }
  .pan > span {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .toolPane > li  {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    &.zoomSlider, &.history {
      opacity: 1;
      div, span, li {
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  /**
  * Map navigation buttons
  */
  .pan{
    height: 49px;
    width: 49px;
    position:relative;
    @include border-radius(50%,50%);
    @include frontendContainerStyle();

    .iconTop{@include absolute(1px '' '' 18px);}
    .iconRight{@include absolute(15px 6px '' '');}
    .iconDown{@include absolute('' '' 1px 18px);}
    .iconLeft{@include absolute(15px '' '' 7px);}
  }
  /**
  * Map tools
  */
  .toolPane{
    margin:$space/2 5px 0px 5px;
    padding:5px 0px;
    @include border-radius($radius);
    @include frontendContainerStyle();

    & > li,
    .zoomSlider > span,
    .zoomSlider > ul {
      margin:3px 0;
    }
  }
  .iconBig {
    padding: 0;
    margin: 0;
    &:before {
      padding: 0;
      margin: 0;
      position: unset;
    }
  }
  .historyPrev, .historyNext{margin-left:5px;}
  .toolPane {
    li.zoomBox.activeZoomIcon {
      opacity: 1;
    }
    .zoomBox, .zoomWorld, .zoomSlider {
      text-align: center;
    }
  }

  .iconZoomLevel {
    font-size: 10px;
    width: 10px;
    line-height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child):after {
      content: "\f142";
      font-family: FontAwesome;
      display: block;
      margin-bottom: -1px;
    }
  }
  
}

/**
* TODO: this is a wrong place for this declaration!
*/
.olMapViewport{
  &.MapbenderControlZoomBoxActive{cursor: crosshair;}
  .olHandlerBoxZoomBox {
    border: 2px solid $firstColor;
    background-color: white;
    @include opacity(.8);
  }
}
