@import "libs/variables";
@import "libs/mixins";

.mb-element-zoombar{
  &.iconMove:before{
    @include absolute(-$space 0 '' '');
  }
}
.pan{
  height: 49px;
  width: 49px;
  position:relative;
  @include border-radius(50%,50%);
  @include frontendContainerStyle();

  .iconTop{@include pos(1px,'','',18px);}
  .iconRight{@include pos(15px,6px,'','');}
  .iconDown{@include pos('','',1px,18px);}
  .iconLeft{@include pos(15px,'','',7px);}
}
.toolPane{
  margin:$space/2 5px 0px 5px;
  padding:5px 0px;
  @include border-radius($radius);
  @include frontendContainerStyle();

  & > li{margin:3px 0;}
}
.historyPrev, .historyNext{margin-left:5px;}
.zoomBox{
  text-align:center;
  &.activeZoomIcon{
    .iconZoom{@include opacity(1);}
  }
}
.zoomWorld, .zoomSlider{text-align:center;}
.zoomSliderLevels{margin:0px;}
.iconZoomLevel{
  font-size:10px;
  line-height:10px;
  margin-top:5px;
  margin-bottom:10px;
  display: block;
}
.iconZoomOut, .iconZoomLevel{
  position: relative;
  display:block;
}
.iconZoomLevel{
  &:not(:first-child):after{
    content:'';
    height:7px;
    border-left:dotted 1px white;
    @include pos(-8px,'','',19px);
  }
}

.olMapViewport{
  &.MapbenderControlZoomBoxActive{cursor: crosshair;}
  .olHandlerBoxZoomBox {
    border: 2px solid $firstColor;
    background-color: white;
    @include opacity(.8);
  }
}
