{% for item in items %}
  <li class="{% if item.active %}activeItem{% endif %}">
    <a href="{{ path(item.route) }}">{{ item.title|trans }}</a>
    {%- set items = item.subroutes  -%}
    {%- if items|length -%}
      <ul class="nav navbar-nav">
          {{ include('MapbenderManagerBundle:Index:menu-items.html.twig') }}
      </ul>
    {%- endif -%}
  </li>
{% endfor %}
