{% for item in items %}
  <li class="navMainItems {% if item.active %} activeItem{% endif %}">
    <a class="navMainLink" href="{{ path(item.route) }}">{{ item.title|trans }}</a>
    {%- set items = item.subroutes  -%}
    {%- if items|length -%}
      <ul class="nav navbar-nav subNavItem">
          {{ include('MapbenderManagerBundle:Index:menu-items.html.twig') }}
      </ul>
    {%- endif -%}
  </li>
{% endfor %}
