{% for item in items %}
  <li class="navItem {% if item.getActive(app.request) %} activeItem {% endif %}">
    <a class="iconLinkButton" href="{{ path(item.route) }}">{{ item.title|trans }}</a>
  </li>
    {%- set items = item.subroutes  -%}
    {%- if items|length -%}
      <ul class="navLevel2">
          {{ include('MapbenderManagerBundle:Index:menu-items.html.twig') }}
      </ul>
    {%- endif -%}
{% endfor %}