{% for item in items %}
<li class="nav-main-items{% if item.active %} activeItem{% endif %}">
  <a class="iconLinkButton" href="{{ path(item.route) }}">{{ item.title|trans }}</a>

      {%- set items = item.subroutes  -%}
      {%- if items|length -%}
      <ul class=" sub-nav-item">
        {{ include('MapbenderManagerBundle:Index:menu-items.html.twig') }}
      </ul>
      {%- endif -%}
</li>

{% endfor %}