@import "libs/variables";
@import "libs/mixins";
@import "libs/normalize";
@import "libs/icons";

@import "modules/base";
@import "modules/layout";
@import "modules/popup";
@import "modules/text";
@import "modules/input";
@import "modules/button";
@import "modules/seperator";
@import "modules/tabcontainer";
@import "modules/checkbox";
@import "modules/radiobutton";
@import "modules/dropdown";

/* ------------------------------------------------------------- MISC */
.mb-hiddenCheckbox{
  position: absolute;
  @include opacity(0);
}



/* ---------------------------------------------------------- TOOLBAR */
.logoContainer{background-image:url($headPatternUrl);}
.toolBar{
  @include frontendContainerStyle();

  &.top{
    padding:$space/4 $space/2 $space/4 $space/2;
    .toolBarItem{
      display:inline-block;
      padding:5px;
    }
    border-bottom:solid 1px darken($contentColor, 20%);
  }
  &.bottom{
    [class^="icon"]:before,[class*=" icon"]:before{font-size: 14px;}
    padding:$space/4 $space/2 $space/4 $space/2;
    .toolBarItem{
      height:30px;
      line-height:30px;
      font-size:90%;
      padding:5px;
    }

    .dropdownList{
      bottom:0px;
      margin-bottom: $inputHeight;
    }
  }
  .toolBarItemActive{
    background-color: $contentColor;
    color:$firstColor;
    @include border-radius($radius);
  }
  .toolBarItem{
    display:inline;
  }
  &.itemsRight{
    text-align:right;
    .toolBarItem{padding-left:$space/4;}
  }
  &.itemsCenter{
    text-align:center;
    .toolBarItem{padding-right:$space/2;}
  }
  // space between icon and label
  .iconBig:before{padding-right:5px;}
}





/* --------------------------------------------------------- SIDEPANE */
.sidePaneTabItem{
  $buttonFirstColor:#6fb536;
  $buttonSecondColor:#5fa229;

  display: block;
  padding:($space/4) ($space/2);
  margin-bottom:5px;
  color:$lightFontColor;
  background-color:$buttonFirstColor;
  text-align: center;

  @extend .icon;
  @extend .iconOpen;
  @extend .buttonCore;
}
.sidePane{
  overflow: visible;
  background-color: $contentColor;
  background-image: url($contentPatternUrl);
  border-top:1px solid darken(white, 30%);
  border-bottom:1px solid darken(white, 30%);
  @include transition(all 0.4s ease-in-out);

  // style for the left side pane
  &.left{border-right:1px solid darken(white, 30%);}

  // style for the right side pane
  &.right{border-left:1px solid darken(white, 30%);}
  .sideContent{
    padding:$space;
    display: none;
    width: 100%;
    height: 100%;
  }
}
.sidePaneOpened{
  .sideContent{
    display:block;
    overflow: auto;
  }
  .sidePaneTabItem{@extend .iconClose;}
}

.metadataDialog{
  .popupContent {
    margin-bottom: 0px;
    height: 100%;
    .contentItem {
      height: 100%;
    }
  }
}
.metadataDialog .popupContent .contentItem {
  height: 100%;
}

.metadataContainer{
  $labeText:85px;

  .list, li{clear:both;}
  .list{
    border:dashed 1px darken(#fff, 20%);
    margin-bottom:$space/2;
    li{margin-left:$space;}

    // no margin for labeltext lists ...
    ul.left li{
      margin-left:0px;
      // ... and metatext below lists
      .metaText{margin-left:0px;}
    }
  }
  .labelText{
    width:$labeText;
    margin-right:$space/2;
    display: inline-block;
  }
  .metaText{
    display: inline-block;
    word-wrap: break-word;
  }
}
