.mb-element-routing {
    .fa-xmark {
        pointer-events: none;
    }
}
ul.ui-autocomplete.ui-front {
    z-index: 1000 !important;
}
.mb-routing-instructions .inst-marker img {
    width: auto;
    height: 35px;
}
.mb-routing-instructions table td {
    font-size: .875em;
}
